{% extends "base.html" %}
{% load i18n %}
{% block title %}Μητρώο undergraduateBranch{% endblock %}
{% block header %}Μητρώο undergraduateBranch{% endblock %}
{% block content %}

<table>
<tr>
  <th>Κωδικός</th>
  <th>Ονομασία σχολής</th>
</tr>
<tr><td>101</td><td>ΘEOΛOΓIAΣ ΑΘΗΝΑΣ</td>
<tr><td>102</td><td>ΦΙΛΟΣΟΦΙΑΣ  ΠΑΤΡΑΣ</td>
<tr><td>103</td><td>ΘEOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>104</td><td>ΙΣΤΟΡΙΑΣ, ΑΡΧΑΙΟΛΟΓΙΑΣ &amp; ΔΙΑΧΕΙΡΙΣΗΣ ΠΟΛ/ΚΩΝ ΑΓΑΘΩΝ ΠΕΛ/ΣΟΥ(ΚΑΛΑΜΑΤΑ)</td>
<tr><td>105</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΘΕΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td>
<tr><td>106</td><td>ΕΛΛΗΝΙΚΗΣ  ΦΙΛΟΛΟΓΙΑΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>107</td><td>ΠOIMANTIKHΣ  &amp; ΚΟΙΝΩΝΙΚΗΣ  ΘΕΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>108</td><td>IΣTOPIAΣ &amp; EΘNOΛOΓIAΣ ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>109</td><td>ΦIΛOΛOΓIAΣ ΑΘΗΝΑΣ</td>
<tr><td>110</td><td>IΣTOPIAΣ  KAI  APXAIOΛOΓIAΣ ΑΘΗΝΑΣ</td>
<tr><td>111</td><td>ΦIΛOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>112</td><td>IΣTOPIAΣ &amp;  APXAIOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>113</td><td>ΦIΛOΛOΓIAΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>114</td><td>IΣTOPIAΣ  KAI  APXAIOΛOΓIAΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>115</td><td>ΦIΛOΛOΓIAΣ  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>116</td><td>IΣTOPIAΣ &amp; APXAIOΛOΓIAΣ ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>117</td><td>NOMIKHΣ ΑΘΗΝΑΣ</td>
<tr><td>118</td><td>ΦIΛ/ΦIAΣ- ΠAIΔ/KHΣ &amp; ΨYXΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td>
<tr><td>119</td><td>NOMIKHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>120</td><td>ΦIΛ/ΦIAΣ-ΠAIΔ/KHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>121</td><td>NOMIKHΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>122</td><td>ΦIΛ/ΦIAΣ ΠAIΔ/ΓIKHΣ &amp; ΨYXOΛOΓIAΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>123</td><td>ΠOΛIT. EΠIΣTHMHΣ &amp; ΔHM.  ΔIOIK. ΑΘΗΝΑΣ</td>
<tr><td>124</td><td>ΔΗΜΟΣΙΑΣ ΔΙΟΙΚΗΣΗΣ ΠΑΝΤΕΙΟΥ</td>
<tr><td>125</td><td>ΠΟΛΙΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ &amp; ΙΣΤΟΡΙΑΣ ΠΑΝΤΕΙΟΥ</td>
<tr><td>126</td><td>KOINΩNIOΛOΓIAΣ ΠΑΝΤΕΙΟΥ</td>
<tr><td>127</td><td>AΓΓΛΙΚΗΣ  ΓΛΩΣΣAΣ  KAI  ΦIΛOΛOΓIAΣ ΑΘΗΝΑΣ</td>
<tr><td>128</td><td>ΠAIΔ/ΓIKO  ΔHMOTIKHΣ EKΠ/ΣHΣ ΑΘΗΝΑΣ</td>
<tr><td>129</td><td>AΓΓΛΙΚΗΣ  ΓΛΩΣΣAΣ  KAI  ΦIΛOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>130</td><td>ΠAIΔAΓΩΓIKO  ΔHMOTIKHΣ EKΠ/ΣHΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>131</td><td>ΓAΛΛΙΚΗΣ  ΓΛΩΣΣAΣ  KAI  ΦIΛOΛOΓIAΣ ΑΘΗΝΑΣ</td>
<tr><td>132</td><td>ΠAIΔ/KO  ΔHMOT EKΠ/ΣHΣ ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>133</td><td>ΓAΛΛΙΚΗΣ  ΓΛΩΣΣAΣ  KAI  ΦIΛOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>134</td><td>ΕΠΙΣΤΗΜΩΝ ΠΡΟΣΧΟΛ. ΑΓΩΓΗΣ &amp; ΕΚΠ/ΣΗΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>135</td><td>ΓEPMΑΝΙΚΗΣ  ΓΛΩΣΣAΣ  KAI  ΦIΛOΛOΓIAΣ ΑΘΗΝΑΣ</td>
<tr><td>136</td><td>ΕΠΙΣΤΗΜΩΝ ΕΚΠ/ΣΗΣ &amp; ΑΓΩΓΗΣ ΣΤΗΝ ΠΡΟΣΧΟΛ. ΗΛΙΚΙΑ  ΠΑΤΡΑΣ</td>
<tr><td>137</td><td>ΓEPMΑΝΙΚΗΣ  ΓΛΩΣΣAΣ  KAI  ΦIΛOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>138</td><td>ΦIΛ/ΦIΚΩΝ &amp; KOINΩN. ΣΠOYΔ.  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>139</td><td>ITAΛΙΚΗΣ  ΓΛΩΣΣAΣ  KAI  ΦIΛOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>140</td><td>ΠAIΔAΓΩΓIKO  ΔHMOTIKHΣ EKΠ/ΣHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>141</td><td>ΠAIΔAΓΩΓIKO  ΔHMOTIKHΣ EKΠ/ΣHΣ  ΠΑΤΡΑΣ</td>
<tr><td>142</td><td>ΠAIΔAΓΩΓIKO  ΔHMOTIKHΣ EKΠ/ΣHΣ  ΘΡΑΚΗΣ (ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ)</td>
<tr><td>143</td><td>ΠAIΔAΓΩΓIKO  ΔHMOTIKHΣ EKΠ/ΣHΣ  ΑΙΓΑΙΟΥ (ΡΟΔΟΣ)</td>
<tr><td>144</td><td>ΟΙΚΙΑΚΗΣ  ΟΙΚΟΝΟΜΙΑΣ &amp; ΟΙΚΟΛΟΓΙΑΣ ΧΑΡΟΚΟΠΕΙΟΥ (ΑΘΗΝΑ)</td>
<tr><td>145</td><td>IΣTOPIAΣ  ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td>
<tr><td>146</td><td>ΘEATPIKΩN  ΣΠOYΔΩN ΑΘΗΝΑΣ</td>
<tr><td>147</td><td>ΔHMΟΣΙΟΓΡΑΦIAΣ &amp; MEΣΩN MAZΙΚΗΣ EΠIKOINΩΝΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>148</td><td>EΠIK/NIAΣ &amp; MEΣΩN  MAZ.ENHMEP. ΑΘΗΝΑΣ</td>
<tr><td>149</td><td>KOINΩNIOΛOΓIAΣ ΚΡΗΤΗΣ  (ΡΕΘΥΜΝΟ)</td>
<tr><td>150</td><td>ΔIEΘN.  KAI  EYPΩΠ.  OIKON. ΣΠOYΔ. ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>151</td><td>ΨYXOΛOΓIAΣ  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>152</td><td>ΟΙΚΟΝΟΜΙΚΗΣ &amp; ΠΕΡΙΦΕΡΕΙΑΚΗΣ ΑΝΑΠΤΥΞΗΣ ΠΑΝΤΕΙΟΥ</td>
<tr><td>153</td><td>EΠIKOINΩNΙΑΣ MEΣΩN  ΚΑΙ ΠΟΛΙΤΙΣΜΟΥ ΠΑΝΤΕΙΟΥ</td>
<tr><td>154</td><td>ΕΚΠ/ΣΗΣ &amp; ΑΓΩΓΗΣ ΣΤΗΝ ΠΡΟΣΧ. ΗΛΙΚΙΑ ΑΘΗΝΑΣ</td>
<tr><td>155</td><td>XPHMATOOIKONOM. &amp; TPAΠEZ.  ΔIOIKHTIK. ΠΕΙΡΑΙΑ</td>
<tr><td>156</td><td>ΠAIΔAΓΩΓIKO  NHΠIAΓΩΓΩN   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>157</td><td>NAYTIΛIAKΩN  ΣΠOYΔΩN  ΠΕΙΡΑΙΑ</td>
<tr><td>158</td><td>ΠAIΔ/KO ΠΡΟΣΧΟΛΙΚΗΣ ΕΚΠ/ΣΗΣ ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>159</td><td>KOINΩΝΙΚΗΣ ΠOΛΙTIKΗΣ ΠΑΝΤΕΙΟΥ</td>
<tr><td>160</td><td>ΕΠΙΣΤΗΜΩΝ ΕΚΠΑΙΔΕΥΣΗΣ ΣΤΗΝ ΠΡΟΣΧΟΛΙΚΗ ΗΛΙΚΙΑ ΘΡΑΚΗΣ (ΑΛΕΞ/ΠΟΛΗ)</td>
<tr><td>161</td><td>ΔIEΘΝΩΝ &amp; ΕΥΡΩΠΑΪΚΩΝ ΣΠΟΥΔΩΝ ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>162</td><td>ΕΠΙΣΤ.ΠΡΟΣΧ. ΑΓΩΓΗΣ &amp; ΕΚΠ/ΚΟΥ ΣΧΕΔΙΑΣΜΟΥ ΑΙΓΑΙΟΥ (ΡΟΔΟΣ)</td>
<tr><td>163</td><td>ΚΙΝΗΜΑΤΟΓΡΑΦΟΥ ΘΕΣ/ΚΗΣ</td>
<tr><td>164</td><td>ΠAIΔ/KO ΔHMOT. EKΠ/ΣHΣ   ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>165</td><td>KOINΩΝΙΚΗΣ ΑΝΘΡΩΠΟΛΟΓΙΑΣ ΠΑΝΤΕΙΟΥ</td>
<tr><td>166</td><td>ΠAIΔ/KO  ΠΡΟΣΧ.ΕΚΠ/ΣΗΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>167</td><td>KOINΩNIKHΣ  ANΘPΩΠΟΛΟΓΙΑΣ &amp; ΙΣΤΟΡΙΑΣ ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td>
<tr><td>168</td><td>ΘEATPOY ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>169</td><td>ΘEATPIKΩN  ΣΠOYΔΩN  ΠΑΤΡΑΣ</td>
<tr><td>170</td><td>ΨYXOΛOΓIAΣ ΠΑΝΤΕΙΟΥ</td>
<tr><td>171</td><td>ΦIΛOΣ.ΠAIΔ. &amp; ΨYXOΛ. (ΠΡΟΓ.ΨΥΧΟΛ.) ΑΘΗΝΑΣ</td>
<tr><td>172</td><td>ΨΥΧΟΛOΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>173</td><td>ΜΕΘΟΔΟΛΟΓΙΑΣ ΙΣΤΟΡ. &amp; ΘΕΩΡΙΑΣ ΤΗΣ ΕΠΙΣΤΗΜΗΣ ΑΘΗΝΑΣ</td>
<tr><td>174</td><td>ΕΚΠΑΙΔ/ΚΗΣ ΚΑΙ ΚΟΙΝ/ΚΗΣ ΠΟΛΙΤΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>175</td><td>ΦΙΛΟΛΟΓΙΑΣ  ΠΑΤΡΑΣ</td>
<tr><td>176</td><td>ΒΑΛΚΑΝΙΚΩΝ, ΣΛΑΒ. &amp; ΑΝΑΤ. ΣΠΟΥΔΩΝ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>177</td><td>ΙΣΤΟΡΙΑΣ ΑΡΧΑΙΟΛΟΓΙΑΣ &amp;   ΚΟΙΝΩΝΙΚΗΣ ΑΝΘΡΩΠΟΛΟΓΙΑΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>178</td><td>ΠΑΙΔ/ΚΟ ΕΙΔΙΚΗΣ ΑΓΩΓΗΣ  ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>179</td><td>ΔΙΕΘΝΩΝ &amp; ΕΥΡΩΠΑΪΚΩΝ ΣΠΟΥΔΩΝ ΠΑΝΤΕΙΟΥ</td>
<tr><td>180</td><td>ΝΑΥΤΙΛΙΑΣ &amp; ΕΠΙΧΕΙΡΗΜΑΤΙΚΩΝ ΥΠΗΡΕΣΙΩΝ  ΑΙΓΑΙΟΥ (ΧΙΟΣ)</td>
<tr><td>181</td><td>ΜΕΣΟΓΕΙΑΚΩΝ ΣΠΟΥΔΩΝ   ΑΙΓΑΙΟΥ (ΡΟΔΟΣ)</td>
<tr><td>182</td><td>ΙΤΑΛΙΚΗΣ  ΓΛΩΣΣΑΣ &amp; ΦΙΛΟΛΟΓΙΑΣ  ΑΘΗΝΑΣ</td>
<tr><td>183</td><td>ΙΣΠΑΝΙΚΗΣ ΓΛΩΣΣΑΣ &amp; ΦΙΛΟΛΟΓΙΑΣ  ΑΘΗΝΑΣ</td>
<tr><td>184</td><td>ΒΑΛΚΑΝΙΚΩΝ ΣΠΟΥΔΩΝ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td>
<tr><td>185</td><td>ΠΛΑΣΤΙΚΩΝ ΤΕΧΝΩΝ &amp; ΕΠΙΣΤΗΜΩΝ ΤΗΣ ΤΕΧΝΗΣ ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>186</td><td>ΓΛΩΣΣΑΣ, ΦΙΛΟΛΟΓΙΑΣ &amp; ΠΟΛΙΤΙΣΜΟΥ ΠΑΡΕΥΞΕΙΝΙΩΝ ΧΩΡΩΝ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>187</td><td>ΚΟΙΝΩΝΙΚΗΣ &amp; ΕΚΠΑΙΔΕΥΤΙΚΗΣ ΠΟΛΙΤΙΚΗΣ ΠΕΛΟΠΟΝΝΗΣΟΥ (ΚΟΡΙΝΘΟΣ)</td>
<tr><td>188</td><td>ΤΟΥΡΚΙΚΩΝ ΣΠΟΥΔΩΝ ΚΑΙ ΣΥΓΧΡΟΝΩΝ ΑΣΙΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td>
<tr><td>189</td><td>ΦΙΛΟΛΟΓΙΑΣ  ΠΕΛΟΠΟΝΝΗΣΟΥ (ΚΑΛΑΜΑΤΑ)</td>
<tr><td>190</td><td>NOΣHΛEYTIKHΣ ΠΕΛΟΠΟΝΝΗΣΟΥ (ΣΠΑΡΤΗ)</td>
<tr><td>191</td><td>ΠΕΡΙΦΕΡΕΙΑΚΗΣ ΟΙΚΟΝΟΜΙΚΗΣ ΑΝΑΠΤΥΞΗΣ ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ (ΛΙΒΑΔΕΙΑ)</td>
<tr><td>192</td><td>ΣΛΑΒΙΚΩΝ ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td>
<tr><td>200</td><td>ΕΠΙΣΤ.&amp;ΤΕΧΝΟΛ. ΥΛΙΚΩΝ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>201</td><td>ΠOΛITIKΩN  MHXANIKΩN ΕΜΠ</td>
<tr><td>203</td><td>ΠOΛITIKΩN  MHXANIKΩN ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>205</td><td>ΠOΛITIKΩN  MHXANIKΩN  ΠΑΤΡΑΣ</td>
<tr><td>207</td><td>ΠOΛITIKΩN  MHXANIKΩN  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td>
<tr><td>208</td><td>ΠΟΛΙΤΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>209</td><td>MHXANOΛOΓΩN  MHXANIKΩN ΕΜΠ</td>
<tr><td>210</td><td>ΜΗΧΑΝΟΛΟΓΩΝ ΜΗΧΑΝΙΚΩΝ         ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>211</td><td>MHXANOΛOΓΩN  MHXANIKΩN ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>212</td><td>ΔΑΣ/ΓΙΑΣ &amp; ΔΙΑΧ/ΣΗΣ ΠΕΡ/ΝΤΟΣ &amp; ΦΥΣ. ΠΟΡΩΝ  ΘΡΑΚΗΣ (ΟΡΕΣΤΙΑΔΑ)</td>
<tr><td>213</td><td>MHXANΟΛΟΓΩN &amp; ΑΕΡΟΝΑΥΠΗΓΩΝ MHXΑΝΙKΩN  ΠΑΤΡΑΣ</td>
<tr><td>214</td><td>ΜΗΧ/ΚΩΝ ΠΕΡ/ΛΟΝΤΟΣ  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td>
<tr><td>215</td><td>MHΧΑΝΙKΩN   H/Y  KAI  ΠΛHPΟΦΟPIKHΣ  ΠΑΤΡΑΣ</td>
<tr><td>216</td><td>EΠIΣTHMHΣ YΠOΛOΓIΣTΩN  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>217</td><td>HΛΕΚΤΡΟΛΟΓΩN  MHXΑΝΙKΩN KAI MHXΑΝΙKΩN YΠΟΛΟΓΙΣΤΩΝ ΕΜΠ</td>
<tr><td>218</td><td>ΣΤΑΤΙΣΤΙΚΗΣ &amp; ΑΝΑΛΟΓΙΣΤΙΚΩΝ-ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΩΝ ΜΑΘ. ΑΙΓΑΙΟΥ (ΣΑΜΟΣ)</td>
<tr><td>219</td><td>HΛΕΚΤΡΟΛOΓΩN  MHXΑΝΙKΩN &amp; ΜΗΧΑΝΙΚΩΝ  ΥΠΟΛΟΓΙΣΤΩΝ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>220</td><td>ΜΗΧ/ΚΩΝ Η/Υ ΤΗΛ/ΝΙΩΝ &amp; ΔΙΚΤΥΩΝ   ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>221</td><td>HΛEKΤΡΟΛOΓΩN MHXΑΝΙKΩN &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ  ΠΑΤΡΑΣ</td>
<tr><td>222</td><td>ΜΗΧΑΝΙΚΩΝ ΟΙΚΟΝΟΜΙΑΣ ΚΑΙ ΔΙΟΙΚΗΣΗΣ ΑΙΓΑΙΟΥ (ΧΙΟΣ)</td>
<tr><td>223</td><td>HΛEKΤΡΟΛΟΓΩN  MHXΑΝΙKΩN &amp; ΜΗΧΑΝΙΚΩΝ ΥΠΟΛΟΓΙΣΤΩΝ ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td>
<tr><td>224</td><td>ΜΗΧ/ΚΩΝ ΠΑΡΑΓΩΓΗΣ &amp; ΔΙΟΙΚΗΣΗΣ  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td>
<tr><td>225</td><td>AΓPONOMΩN  &amp; TOΠOΓPAΦΩN MHXΑΝΙΚΩN ΕΜΠ</td>
<tr><td>227</td><td>AΓPONOMΩN &amp; TOΠΟΓΡΑΦΩN MHΧΑΝΙKΩN   ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>228</td><td>ΜΗΧ/ΚΩΝ XΩP/ΞΙΑΣ, ΠΟΛΕΟΔΟΜΙΑΣ &amp; ΠEPIΦ/KHΣ ANAΠT.   ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>229</td><td>NAYΠHΓΩN ΜΗΧ/ΓΩΝ MHX/KΩN ΕΜΠ</td>
<tr><td>230</td><td>MΗΧ/KΩN  ΠAPAΓΩΓHΣ &amp; ΔIOIKHΣHΣ  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td>
<tr><td>231</td><td>APXITEKTONΩN  MHXANIKΩN ΕΜΠ</td>
<tr><td>232</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΠΑΤΡΑΣ</td>
<tr><td>233</td><td>APXITEKTONΩN  MHXANIKΩN ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>234</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td>
<tr><td>235</td><td>XHMIKΩN  MHXANIKΩN ΕΜΠ</td>
<tr><td>236</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>237</td><td>XHMIKΩN  MHXANIKΩN ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>238</td><td>ΜΗΧΑΝΙΚΩΝ ΣΧΕΔΙΑΣΗΣ ΠΡΟΪΟΝΤΩΝ ΚΑΙ ΣΥΣΤΗΜΑΤΩΝ ΑΙΓΑΙΟΥ (ΣΥΡΟΣ)</td>
<tr><td>239</td><td>XHMIKΩN  MHXANIKΩN  ΠΑΤΡΑΣ</td>
<tr><td>240</td><td>ΔΙΟΙΚΗΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ  &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>241</td><td>MHXΑΝΙKΩN  METAΛΛEIΩN  METAΛ/ΡΓΩN ΕΜΠ</td>
<tr><td>242</td><td>MHXANIKΩN  OPYKTΩN  ΠOPΩN  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td>
<tr><td>243</td><td>ΜΑΘΗΜΑΤΙΚΩΝ ΑΘΗΝΑΣ</td>
<tr><td>245</td><td>MAΘHMATIKΩN ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>246</td><td>ΕΦΑΡ/ΝΩΝ ΜΑΘΗΜ. &amp; ΦΥΣ. ΕΠΙΣΤΗΜΩΝ ΕΜΠ</td>
<tr><td>247</td><td>MAΘHMATIKΩN  ΠΑΤΡΑΣ</td>
<tr><td>248</td><td>ΕΦΑΡΜΟΣΜΕΝΩΝ ΜΑΘΗΜΑΤΙΚΩΝ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>249</td><td>MAΘHMATIKΩN  ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>250</td><td>ΕΠΙΣΤΗΜΩΝ ΤΗΣ ΘΑΛΑΣΣΑΣ ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td>
<tr><td>251</td><td>MAΘHMATIKΩN  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>252</td><td>MAΘHMATIKΩN ΑΙΓΑΙΟΥ (ΣΑΜΟΣ)</td>
<tr><td>253</td><td>ΦYΣIKHΣ ΑΘΗΝΑΣ</td>
<tr><td>255</td><td>ΦYΣIKHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>257</td><td>ΦYΣIKHΣ  ΠΑΤΡΑΣ</td>
<tr><td>259</td><td>ΦYΣIKHΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>261</td><td>ΦYΣIKHΣ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>262</td><td>ΨΗΦΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ ΠΕΙΡΑΙΑ</td>
<tr><td>263</td><td>XHMEIAΣ ΑΘΗΝΑΣ</td>
<tr><td>265</td><td>XHMEIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>267</td><td>XHMEIAΣ  ΠΑΤΡΑΣ</td>
<tr><td>269</td><td>XHMEIAΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>270</td><td>XHMEIAΣ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>271</td><td>ΔΙΑΧ/ΣΗΣ ΠΕΡΙΒ/ΝΤΟΣ &amp; ΦΥΣ. ΠΟΡΩΝ  ΔΥΤ. ΕΛΛΑΔΑΣ (ΑΓΡΙΝΙΟ)</td>
<tr><td>272</td><td>ΜΗΧΑΝΙΚΩΝ ΕΠΙΣΤΗΜΗΣ ΥΛΙΚΩΝ  ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>273</td><td>ΓEΩΠONIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>274</td><td>ΓΕΩΠΟΝΙΑΣ ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ &amp; ΑΓΡΟΤΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>275</td><td>ΔAΣOΛOΓIAΣ &amp; ΦYΣIKOY ΠEP/NTOΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>276</td><td>ΠEPIBAΛΛONTOΣ  ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td>
<tr><td>277</td><td>BIOΛOΓIAΣ ΑΘΗΝΑΣ</td>
<tr><td>279</td><td>BIOΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>280</td><td>ΒΙΟΛΟΓΙΚΩΝ ΕΦΑΡΜΟΓΩΝ &amp; ΤΕΧΝΟΛΟΓΙΩΝ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>281</td><td>BIOΛOΓIAΣ  ΠΑΤΡΑΣ</td>
<tr><td>282</td><td>BIOΛOΓIAΣ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>283</td><td>ΓEΩΛOΓIAΣ &amp; ΓΕΩΠΕΡΙΒΑΛΛΟΝΤΟΣ ΑΘΗΝΑΣ</td>
<tr><td>284</td><td>ΒΙΟΧΗΜΕΙΑΣ &amp; ΒΙΟΤΕΧΝΟΛΟΓΙΑΣ   ΘΕΣΣΑΛΙΑΣ (ΛΑΡΙΣΑ)</td>
<tr><td>285</td><td>ΓEΩΛOΓIAΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>287</td><td>ΓEΩΛOΓIAΣ  ΠΑΤΡΑΣ</td>
<tr><td>288</td><td>ΕΠΙΣΤΗΜΗΣ ΤΩΝ ΥΛΙΚΩΝ  ΠΑΤΡΑΣ</td>
<tr><td>289</td><td>ΦAPMAKEYTIKHΣ ΑΘΗΝΑΣ</td>
<tr><td>290</td><td>ΜΟΡΙΑΚΗΣ ΒΙΟΛΟΓΙΑΣ &amp; ΓΕΝΕTΙΚΗΣ  ΘΡΑΚΗΣ  (ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ)</td>
<tr><td>291</td><td>ΦAPMAKEYTIKHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>293</td><td>ΦAPMAKEYTIKHΣ  ΠΑΤΡΑΣ</td>
<tr><td>294</td><td>ΕΠΙΣΤΗΜΗΣ ΔΙΑΙΤΟΛΟΓΙΑΣ &amp; ΔΙΑΤΡΟΦΗΣ  ΧΑΡΟΚΟΠΕΙΟΥ (ΑΘΗΝΑ)</td>
<tr><td>295</td><td>IATPIKHΣ ΑΘΗΝΑΣ</td>
<tr><td>297</td><td>IATPIKHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>299</td><td>IATPIKHΣ  ΠΑΤΡΑΣ</td>
<tr><td>300</td><td>IATPIKHΣ   ΘΕΣΣΑΛΙΑΣ (ΛΑΡΙΣΑ)</td>
<tr><td>301</td><td>IATPIKHΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>302</td><td>IATPIKHΣ  ΘΡΑΚΗΣ (ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ)</td>
<tr><td>303</td><td>OΔONTIATPIKHΣ ΑΘΗΝΑΣ</td>
<tr><td>304</td><td>IATPIKHΣ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>305</td><td>OΔONTIATPIKHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>306</td><td>NOΣHΛEYTIKHΣ ΑΘΗΝΑΣ</td>
<tr><td>307</td><td>KTHNIATPIKHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>308</td><td>KTHNIATPIKHΣ ΘΕΣΣΑΛΙΑΣ (ΚΑΡΔΙΤΣΑ)</td>
<tr><td>309</td><td>OIKONOMIKΩN  EΠIΣTHMΩN ΑΘΗΝΑΣ</td>
<tr><td>310</td><td>ΓΕΩΓΡΑΦΙΑΣ   ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td>
<tr><td>311</td><td>OIKONOMIKΩN  EΠIΣTHMΩN ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>312</td><td>OIKONOMIKΗΣ  EΠIΣTHMΗΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>313</td><td>OPΓANΩΣHΣ  KAI  ΔIOIKΗΣΗΣ EΠIXEIPΗΣΕΩΝ  ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>314</td><td>ΜΑΡΚΕΤΙΝΓΚ ΚΑΙ ΕΠΙΚΟΙΝΩΝΙAΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>315</td><td>OIKONOMIKΗΣ  EΠIΣTHMΗΣ  ΠΕΙΡΑΙΑ</td>
<tr><td>316</td><td>OPΓANΩΣHΣ  KAI  ΔIOIK. EΠIXEIPHΣEΩN  ΠΕΙΡΑΙΑ</td>
<tr><td>317</td><td>OIKONOMIKΩN  EΠIΣTHMΩN ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>318</td><td>ΣTATIΣTIKHΣ &amp; AΣΦAΛIΣTIKHΣ EΠIΣTHMHΣ  ΠΕΙΡΑΙΑ</td>
<tr><td>319</td><td>OIKONOMIKΩN  EΠIΣTHMΩN  ΠΑΤΡΑΣ</td>
<tr><td>320</td><td>ΔIOIKHΣHΣ EΠIXEIPHΣEΩN  ΑΙΓΑΙΟΥ (ΧΙΟΣ)</td>
<tr><td>321</td><td>OIKONOMIKΩΝ EΠIΣTHMΩN  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>322</td><td>OPΓAN. KAI ΔIOIK. EΠIXEIPHΣEΩN  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>323</td><td>ΕΠΙΣΤΗΜΗΣ ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>324</td><td>ΕΠΙΣΤΗΜΗΣ ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ &amp; ΥΔΑΤΟΚΑΛΛΙΕΡΓΕΙΩΝ ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>325</td><td>ΓΕΩΠΟΝΙΚΗΣ ΒΙΟΤΕΧΝΟΛΟΓΙΑΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>326</td><td>ΑΓΡΟΤΙΚΗΣ OIKONOMIAΣ &amp; ΑΝΑΠΤΥΞΗΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>327</td><td>ΑΞΙΟΠ. ΦΥΣΙΚΩΝ ΠΟΡΩΝ ΚΑΙ ΓΕΩΡΓΙΚΗΣ ΜΗΧΑΝΙΚΗΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>328</td><td>ΕΠΙΣΤΗΜΗΣ &amp; ΤΕΧ/ΓΙΑΣ ΤΡΟΦΙΜΩΝ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>329</td><td>ΣTATIΣTIKHΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>330</td><td>ΠΛHPOΦOPIKHΣ ΚΑΙ ΤΗΛ/ΝΙΩΝ ΑΘΗΝΑΣ</td>
<tr><td>331</td><td>HΛEKΤΡΟNIKΩΝ ΜΗΧΑΝΙΚΩΝ KAI MHXΑΝΙKΩN YΠOΛ. ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td>
<tr><td>332</td><td>MHXANOΛOΓΩΝ  MHXANIKΩΝ    ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>333</td><td>ΠΛHPOΦOPIKHΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>334</td><td>ΠΑΙΔ/ΚΟ ΔΗΜ/ΚΗΣ ΕΚΠ/ΣΗΣ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td>
<tr><td>335</td><td>EΦAPMOΣMENHΣ  ΠΛHPOΦOPIKHΣ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>336</td><td>ΒΙΟΜΗΧΑΝΙΚΗΣ ΔΙΟΙΚΗΣΗΣ &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΠΕΙΡΑΙΑ</td>
<tr><td>337</td><td>ΛOΓIΣTIKHΣ  &amp;  XPHMATOOIKONOMIKHΣ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>338</td><td>ΠΛHPOΦOPIKHΣ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>339</td><td>ΠΛHPOΦOPIKHΣ ΠΕΙΡΑΙΑ</td>
<tr><td>340</td><td>ΠΛHPOΦOPIKHΣ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>341</td><td>ΠΑΙΔ. ΝΗΠΙΑΓ. ΔΥΤ.ΜΑΚΕΔΟΝΙΑ (ΦΛΩΡΙΝΑ)</td>
<tr><td>342</td><td>ΑΡΧΕΙΟΝΟΜΙΑΣ &amp;  ΒΙΒΛΙΟΘΗΚΟΝΟΜΙΑΣ  ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td>
<tr><td>343</td><td>ΚΟΙΝΩΝΙΚΗΣ ΔΙΟΙΚΗΣΗΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>344</td><td>ΜΗΧΑΝΙΚΩΝ ΠΛΗΡΟΦΟΡΙΑΚΩΝ &amp; ΕΠΙΚ/ΝΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ  ΑΙΓΑΙΟΥ (ΣΑΜΟΣ)</td>
<tr><td>345</td><td>ΟΙΚΟΝΟΜΙΚΩΝ ΕΠΙΣΤΗΜΩΝ   ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>346</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧ/ΕΩΝ ΑΓΡΟΤΙΚΩΝ ΠΡΟΪΟΝΤΩΝ &amp; ΤΡΟΦΙΜΩΝ ΔΥΤ.ΕΛΛΑΔΑΣ(ΑΓΡΙΝΙΟ)</td>
<tr><td>347</td><td>ΛΟΓΙΣΤΙΚΗΣ &amp; ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td>
<tr><td>348</td><td>ΚΟΙΝΩΝΙΟΛΟΓΙΑΣ  ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td>
<tr><td>349</td><td>ΔΙΕΘΝΩΝ ΟΙΚΟΝ. ΣΧΕΣ. &amp; ΑΝΑΠΤΥΞΗΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>350</td><td>ΟΙΚΟΝΟΜΙΚΩΝ ΕΠΙΣΤΗΜΩΝ  ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>351</td><td>ΠΟΛΙΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>352</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΠΑΤΡΑΣ</td>
<tr><td>353</td><td>ΑΓΡΟΤΙΚΗΣ ΑΝΑΠΤΥΞΗΣ  ΘΡΑΚΗΣ (ΟΡΕΣΤΙΑΔΑ)</td>
<tr><td>354</td><td>ΠΟΛΙΤΙΣΜΙΚΗΣ ΤΕΧ/ΓΙΑΣ &amp; ΕΠΙΚ/ΝΙΑΣ ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td>
<tr><td>355</td><td>ΔΙΕΘΝΩΝ &amp; ΕΥΡΩΠΑΪΚΏΝ ΣΠΟΥΔΩΝ ΠΕΙΡΑΙΑ</td>
<tr><td>356</td><td>ΓΕΩΓΡΑΦΙΑΣ ΧΑΡΟΚΟΠΕΙΟΥ (ΑΘΗΝΑ)</td>
<tr><td>357</td><td>ΠΟΛΙΤΙΚΩΝ ΕΠΙΣΤΗΜΩΝ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>358</td><td>EΠIΣTHMHΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ YΠOΛOΓIΣTΩN ΠΕΛΟΠΟΝΝΗΣΟΥ(ΤΡΙΠΟΛΗ)</td>
<tr><td>359</td><td>EΠIΣTHMHΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΠΕΛΟΠΟΝΝΗΣΟΥ(ΤΡΙΠΟΛΗ)</td>
<tr><td>360</td><td>ΓΕΩΠΟΝΙΑΣ,ΙΧΘΥΟΛΟΓΙΑΣ &amp; ΥΔΑΤΙΝΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td>
<tr><td>361</td><td>ΟΙΚΟΝΟΜΙΚΩΝ ΕΠΙΣΤΗΜΩΝ  ΠΕΛΟΠΟΝΝΗΣΟΥ (ΤΡΙΠΟΛΗ)</td>
<tr><td>362</td><td>ΘEATPIKΩN  ΣΠOYΔΩN ΠΕΛΟΠΟΝΝΗΣΟΥ (ΝΑΥΠΛΙΟ)</td>
<tr><td>363</td><td>ΜΗΧΑΝΙΚΩΝ ΧΩΡΟΤΑΞΙΑΣ &amp; ΑΝΑΠΤΥΞΗΣ ΘΕΣ/ΚΗΣ (ΒΕΡΟΙΑ)</td>
<tr><td>364</td><td>ΜΑΡΚΕΤΙΝΓΚ ΚΑΙ ΔΙΟΙΚΗΣΗΣ ΛΕΙΤΟΥΡΓΙΩΝ ΜΑΚΕΔΟΝΙΑΣ (ΕΔΕΣΣΑ)</td>
<tr><td>365</td><td>ΔΙΟΙΚΗΣΗΣ ΤΕΧΝΟΛΟΓΙΑΣ ΜΑΚΕΔΟΝΙΑΣ (ΝΑΟΥΣΑ)</td>
<tr><td>366</td><td>ΠΛHPOΦOPIKHΣ ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td>
<tr><td>367</td><td>ΤΕΧΝΩΝ ΗΧΟΥ ΚΑΙ ΕΙΚΟΝΑΣ ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td>
<tr><td>368</td><td>ΔΙΑΧ. ΠΟΛΙΤΙΣΜΙΚΟΥ ΠΕΡ/ΝΤΟΣ &amp; ΝΕΩΝ ΤΕΧΝΟΛΟΓΙΩΝ ΔΥΤ.ΕΛΛΑΔΑΣ(ΑΓΡΙΝΙΟ)</td>
<tr><td>369</td><td>ΠΛHPOΦOPIKHΣ ΜΕ ΕΦΑΡΜΟΓΕΣ ΣΤΗΝ ΒΙΟΙΑΤΡΙΚΗ ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ (ΛΑΜΙΑ)</td>
<tr><td>370</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td>
<tr><td>371</td><td>ΜΗΧΑΝΙΚΩΝ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>372</td><td>ΕΠΙΣΤΗΜΗΣ ΤΡΟΦΙΜΩΝ &amp; ΔΙΑΤΡΟΦΗΣ ΑΙΓΑΙΟΥ (ΛΗΜΝΟΣ)</td>
<tr><td>373</td><td>ΠΟΛΙΤΙΚΩΝ ΕΠΙΣΤΗΜΩΝ ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>374</td><td>ΔIOIKHΣHΣ EΠIXEIPHΣEΩN  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>384</td><td>ΙΣΤΟΡΙΑΣ ΚΑΙ ΘΕΩΡΙΑΣ ΤΗΣ ΤΕΧΝΗΣ ΑΝΩΤ. ΣΧ. ΚΑΛΩΝ ΤΕΧΝΩΝ (ΑΘΗΝΑ)</td>
<tr><td>385</td><td>ΞENΩN ΓΛΩΣΣ. METAΦP &amp; ΔIEPM.ΙΟΝΙΟ-ΕΙΔ. ΜΕΤΑΦΡ.ή ΔΙΕΡΜ. (ΚΕΡΚΥΡΑ)</td>
<tr><td>386</td><td>ΞENΩN ΓΛΩΣΣ. METAΦP &amp; ΔIEPM.ΙΟΝΙΟ-ΕΙΔ. ΙΣΠΑΝ.ΓΛΩΣΣ.ΚΑΙ ΠΟΛΙΤ.(ΚΕΡΚΥΡΑ)</td>
<tr><td>400</td><td>OPΓANΩΣHΣ  KAI  ΔΙΑΧΕΙΡΙΣΗΣ ΑΘΛΗΤΙΣΜΟΥ ΠΕΛΟΠΟΝΝΗΣΟΥ (ΣΠΑΡΤΗ)</td>
<tr><td>401</td><td>ΕΠΙΣΤΗΜΗΣ ΦYΣ.  AΓΩΓHΣ &amp;  AΘΛHTIΣMOY ΑΘΗΝΑΣ</td>
<tr><td>402</td><td>ΕΠΙΣΤ.ΦΥΣ.ΑΓΩΓ.ΚΑΙ ΑΘΛ. ΘΕΣ/ΝΙΚΗΣ (ΣΕΡΡΕΣ)</td>
<tr><td>403</td><td>ΕΠΙΣΤ. ΦYΣIK.  AΓΩΓHΣ  KAI  AΘΛHTIΣMOY ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>404</td><td>ΕΠΙΣΤΗΜΗΣ ΦYΣ.  AΓΩΓHΣ &amp; AΘΛHT.  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td>
<tr><td>405</td><td>ΕΠΙΣΤ. ΦΥΣ. ΑΓΩΓΗΣ &amp; ΑΘΛΗΤΙΣΜΟΥ   ΘΕΣΣΑΛΙΑΣ (ΤΡΙΚΑΛΑ)</td>
<tr><td>406</td><td>MOYΣIKΩN  ΣΠOYΔΩN ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>407</td><td>MOYΣIKΩN  ΣΠOYΔΩN  ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td>
<tr><td>408</td><td>MOYΣIKΩN  ΣΠOYΔΩN ΑΘΗΝΑΣ</td>
<tr><td>409</td><td>ΜΟΥΣΙΚΗΣ ΕΠΙΣΤΗΜΗΣ &amp; ΤΕΧΝΗΣ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td>
<tr><td>411</td><td>ΠΟΛΙΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ &amp; ΔΙΕΘΝΩΝ ΣΧΕΣΕΩΝ ΠΕΛΟΠΟΝΝΗΣΟΥ(ΚΟΡΙΝΘΟΣ)</td>
<tr><td>412</td><td>ΠΛHPOΦOPIKHΣ ΚΑΙ ΤΗΛΕΜΑΤΙΚΗΣ ΧΑΡΟΚΟΠΕΙΟΥ ΑΘΗΝΑΣ</td>
<tr><td>413</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td>
<tr><td>414</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>415</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΒΕΛΛΑΣ ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>416</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΗΡΑΚΛΕΙΟΥ ΚΡΗΤΗΣ</td>
<tr><td>417</td><td>ΠΡΟΓΡΑΜΜΑ ΕΚΚΛΗΣΙΑΣΤΙΚΗΣ ΜΟΥΣΙΚΗΣ ΚΑΙ ΨΑΛΤΙΚΗΣ ΒΕΛΛΑΣ ΙΩΑΝΝΙΝΩΝ</td>
<tr><td>418</td><td>ΠΡΟΓΡΑΜΜΑ ΕΚΚΛΗΣΙΑΣΤΙΚΗΣ ΜΟΥΣΙΚΗΣ ΚΑΙ ΨΑΛΤΙΚΗΣ ΗΡΑΚΛΕΙΟΥ ΚΡΗΤΗΣ</td>
<tr><td>419</td><td>ΠΡΟΓΡΑΜΜΑ ΔΙΑΧΕΙΡΙΣΗΣ ΕΚΚΛΗΣΙΑΣΤΙΚΩΝ ΚΕΙΜΗΛΙΩΝ ΑΘΗΝΑΣ</td>
<tr><td>420</td><td>ΠΡΟΓΡΑΜΜΑ ΔΙΑΧΕΙΡΙΣΗΣ ΕΚΚΛΗΣΙΑΣΤΙΚΩΝ ΚΕΙΜΗΛΙΩΝ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>443</td><td>ΠΟΛ.  ΕΡΓΩΝ    ΥΠΟΔΟΜΗΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>444</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΠΟΛΙΤΙΚΩΝ ΕΡΓΩΝ ΥΠΟΔΟΜΗΣ ΑΣΠΑΙΤΕ  ΑΘΗΝΑΣ</td>
<tr><td>445</td><td>ΠΟΛ.  ΔΟΜΙΚΩΝ  ΕΡΓΩΝ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>447</td><td>ΠΟΛ.  ΕΡΓΩΝ    ΥΠΟΔΟΜΗΣ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>449</td><td>ΠΟΛ.   ΕΡΓΩΝ  ΥΠΟΔΟΜΗΣ  TEI ΠΑΤΡΑΣ</td>
<tr><td>451</td><td>ΠΟΛ.  ΕΡΓΩΝ    ΥΠΟΔΟΜΗΣ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>453</td><td>ΠΟΛ.  ΔΟΜΙΚΩΝ  ΕΡΓΩΝ  TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>455</td><td>ΠΟΛ. ΔΟΜΙΚΩΝ  ΕΡΓΩΝ   TEI ΣΕΡΡΩΝ</td>
<tr><td>456</td><td>ΠΟΛ. ΔΟΜΙΚΩΝ  ΕΡΓΩΝ   TEI ΛΑΡΙΣΑΣ (ΤΡΙΚΑΛΑ)</td>
<tr><td>457</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΠΟΛΙΤΙΚΩΝ ΔΟΜΙΚΩΝ ΕΡΓΩΝ ΑΣΠΑΙΤΕ  ΑΘΗΝΑΣ</td>
<tr><td>461</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>465</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  TEI ΠΑΤΡΑΣ</td>
<tr><td>467</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>469</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>471</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  TEI ΚΑΒΑΛΑΣ</td>
<tr><td>473</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>475</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  TEI ΣΕΡΡΩΝ</td>
<tr><td>476</td><td>ΜΗΧΑΝΙΚΩΝ  ΠΕΡΙΒΑΛΛΟΝΤΟΣ  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td>
<tr><td>477</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΜΗΧΑΝΟΛΟΓΙΑΣ ΑΣΠΑΙΤΕ ΑΘΗΝΑΣ</td>
<tr><td>479</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  TEI ΧΑΛΚΙΔΑΣ</td>
<tr><td>480</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΙΑΤΡΙΚΩΝ  ΟΡΓΑΝΩΝ  TEI ΑΘΗΝΑΣ</td>
<tr><td>483</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>487</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΠΑΤΡΑΣ</td>
<tr><td>489</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>491</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>493</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΚΑΒΑΛΑΣ</td>
<tr><td>495</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>497</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΗΛΕΚΤΡΟΛΟΓΙΑΣ ΑΣΠΑΙΤΕ ΑΘΗΝΑΣ</td>
<tr><td>498</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΛΑΜΙΑΣ</td>
<tr><td>499</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  TEI ΧΑΛΚΙΔΑΣ</td>
<tr><td>501</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>503</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>505</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>506</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ  TEI ΛΑΜΙΑΣ</td>
<tr><td>507</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΗΛΕΚΤΡΟΝΙΚΗΣ ΑΣΠΑΙΤΕ ΑΘΗΝΑΣ</td>
<tr><td>508</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ TEI ΙΟΝΙΩΝ ΝΗΣΩΝ (ΛΕΥΚΑΔΑ)</td>
<tr><td>509</td><td>ΤΟΠΟΓΡΑΦΙΑΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>510</td><td>ΓΕΩΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΟΠΟΓΡΑΦΙΑΣ  TEI ΣΕΡΡΩΝ</td>
<tr><td>511</td><td>ΝΑΥΠΗΓΙΚΗΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>512</td><td>ΕΝΕΡΓΕΙΑΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ TEI ΑΘΗΝΑΣ</td>
<tr><td>513</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΠΕΤΡΕΛΑΙΟΥ ΚΑΙ ΦΥΣΙΚΟΥ ΑΕΡΙΟΥ TEI ΚΑΒΑΛΑΣ</td>
<tr><td>514</td><td>ΤΕΧΝΟΛΟΓΙΩΝ ΑΝΤΙΡΡΥΠΑΝΣΗΣ  TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>515</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΤΡΟΦΙΜΩΝ   TEI ΚΑΛΑΜΑΤΑΣ</td>
<tr><td>516</td><td>ΟΧΗΜΑΤΩΝ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>517</td><td>ΤΕΧΝ.  ΓΡΑΦΙΚΩΝ  ΤΕΧΝΩΝ  TEI ΑΘΗΝΑΣ</td>
<tr><td>518</td><td>ΦΩΤΟΓΡΑΦΙΑΣ &amp; ΟΠΤΙΚΟΑΚΟΥΣΤΙΚΩΝ ΤΕΧΝΩΝ  TEI ΑΘΗΝΑΣ</td>
<tr><td>519</td><td>ΕΣΩΤΕΡΙΚΗΣ ΑΡΧΙΤΕΚΤΟΝΙΚΗΣ, ΔΙΑΚΟΣΜΗΣΗΣ &amp; ΣΧΕΔ.ΑΝΤΙΚΕΙΜΕΝΩΝ ΤΕΙ ΑΘΗΝΑΣ</td>
<tr><td>520</td><td>ΣΥΝΤΗΡ. ΑΡΧΑΙΟΤ.&amp; ΕΡΓΩΝ ΤΕΧΝΗΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>521</td><td>ΓΡΑΦΙΣΤΙΚΗΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>522</td><td>ΣΧΕΔIΑΣΜΟΥ &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΞΥΛΟΥ &amp; ΕΠΙΠΛΟΥ TEI ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td>
<tr><td>523</td><td>ΑΝΑΚΑΙΝΙΣΗΣ ΚΑΙ ΑΠΟΚΑΤΑΣΤΑΣΗΣ ΚΤΙΡΙΩΝ  TEI ΠΑΤΡΑΣ</td>
<tr><td>524</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΜΕΣΩΝ ΜΑΖΙΚΗΣ ΕΝΗΜΕΡΩΣΗΣ ΤΕΙ ΠΑΤΡΑΣ (ΠΥΡΓΟΣ)</td>
<tr><td>525</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡ. ΣΤΗ ΔΙΟΙΚΗΣΗ ΚΑΙ ΣΤΗΝ ΟΙΚΟΝΟΜΙΑ TEI ΠΑΤΡΑΣ (ΑΜΑΛΙΑΔΑ)</td>
<tr><td>526</td><td>ΕΜΠΟΡΙΑΣ   &amp;  ΔΙΑΦΗΜΙΣΗΣ  TEI ΚΡΗΤΗΣ (ΙΕΡΑΠΕΤΡΑ)</td>
<tr><td>527</td><td>ΧΡΗΜΑΤΟΟΙΚΟNOΜΙΚΗΣ ΚΑΙ ΑΣΦΑΛΙΣΤΙΚΗΣ ΤΕΙ ΚΡΗΤΗΣ (ΑΓ.ΝΙΚΟΛΑΟΣ)</td>
<tr><td>528</td><td>ΑΡΧΙΤΕΚΤΟΝΙΚΗΣ ΤΟΠΙΟΥ ΤΕΙ ΚΑΒΑΛΑΣ (ΔΡΑΜΑ)</td>
<tr><td>529</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ TEI ΚΑΛΑΜΑΤΑΣ(ΣΠΑΡΤΗ)</td>
<tr><td>530</td><td>ΕΠΙΧΕΙΡΗΣΙΑΚΗΣ ΠΛΗΡΟΦΟΡΙΚΗΣ  TEI ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΓΡΕΒΕΝΑ)</td>
<tr><td>531</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>532</td><td>ΦΥΣΙΚΩΝ ΠΟΡΩΝ ΚΑΙ ΠΕΡΙΒΑΛΛΟΝΤΟΣ  TEI ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td>
<tr><td>533</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ TEI  ΛΑΡΙΣΑΣ</td>
<tr><td>535</td><td>ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>536</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ TEI  ΚΑΛΑΜΑΤΑΣ</td>
<tr><td>537</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ TEI  ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td>
<tr><td>538</td><td>ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ TEI ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td>
<tr><td>539</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>540</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ TEI ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td>
<tr><td>541</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ TEI ΛΑΡΙΣΑΣ</td>
<tr><td>542</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td>
<tr><td>543</td><td>ΑΓΡΟΤΙΚΗΣ ΑΝΑΠΤ. &amp; ΔΙΟΙΚ. ΑΓΡΟΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ ΤΕΙ ΘΕΣΣΑΛΟΝΙΚΗΣ</td>
<tr><td>544</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ &amp; ΥΔΑΤΙΝΩΝ ΠΟΡΩΝ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td>
<tr><td>545</td><td>ΜΗΧΑΝΙΚΗΣ ΒΙΟΣΥΣΤΗΜΑΤΩΝ   TEI ΛΑΡΙΣΑΣ</td>
<tr><td>546</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΒΙΟΛΟΓΙΚΗΣ ΓΕΩΡΓΙΑΣ &amp; ΤΡΟΦΙΜΩΝ TEI ΙΟΝΙΩΝ ΝΗΣΩΝ (ΑΡΓΟΣΤΟΛΙ)</td>
<tr><td>547</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΑΛΙΕΙΑΣ - ΥΔΑΤΟΚΑΛΛΙΕΡΓΕΙΩΝ TEI ΘΕΣ/ΝΙΚΗΣ (ΜΟΥΔΑΝΙΑ)</td>
<tr><td>548</td><td>ΙΧΘΥΟΚΟΜΙΑΣ - ΑΛΙΕΙΑΣ TEI ΗΠΕΙΡΟΥ (ΗΓΟΥΜΕΝΙΤΣΑ)</td>
<tr><td>549</td><td>ΤΥΠΟΠΟΙΗΣΗΣ ΚΑΙ ΔΙΑΚΙΝΗΣΗΣ ΠΡΟΪΟΝΤΩΝ ΤΕΙ ΘΕΣ/ΝΙΚΗΣ  (ΚΑΤΕΡΙΝΗ)</td>
<tr><td>550</td><td>ΔΑΣΟΠΟΝΙΑΣ &amp; ΔΙΑΧ. ΦΥΣΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ TEI  ΚΑΒΑΛΑΣ (ΔΡΑΜΑ)</td>
<tr><td>551</td><td>ΔΑΣΟΠΟΝΙΑΣ &amp; ΔΙΑΧ. ΦΥΣΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ TEI ΛΑΜΙΑΣ (ΚΑΡΠΕΝΗΣΙ)</td>
<tr><td>552</td><td>ΒΙΟΛΟΓΙΚΩΝ ΘΕΡΜ. ΚΑΛΛ. &amp;  ΑΝΘΟΚΟΜΙΑΣ TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>553</td><td>ΔΑΣΟΠΟΝΙΑΣ &amp; ΔΙΑΧ. ΦΥΣΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ TEI ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td>
<tr><td>554</td><td>ΒΙΟΛΟΓΙΚΩΝ ΘΕΡΜ.  ΚΑΛΛ. &amp;  ΑΝΘΟΚΟΜΙΑΣ  TEI  ΚΑΛΑΜΑΤΑΣ</td>
<tr><td>555</td><td>ΥΔΑΤΟΚΑΛΛΙΕΡΓΕΙΩΝ &amp; ΑΛΙΕΥΤΙΚΗΣ ΔΙΑΧΕΙΡΙΣΗΣ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td>
<tr><td>556</td><td>ΑΝΘΟΚΟΜΙΑΣ - ΑΡΧΙΤΕΚΤ. ΤΟΠΙΟΥ TEI ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td>
<tr><td>557</td><td>ΘΕΡΜ.  ΚΑΛΛ.  &amp;   ΑΝΘΟΚΟΜΙΑΣ TEI ΜΕΣΟΛΟΓΓΙΟΥ</td>
<tr><td>558</td><td>ΧΡΗΜΑΤΟΟΙΚΟNOΜΙΚΩΝ ΕΦΑΡΜΟΓΩΝ  TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>559</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>561</td><td>ΛΟΓΙΣΤΙΚΗΣ TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>563</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΠΑΤΡΑΣ</td>
<tr><td>565</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>567</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>569</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΚΑΒΑΛΑΣ</td>
<tr><td>571</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>575</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΣΕΡΡΩΝ</td>
<tr><td>577</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΧΑΛΚΙΔΑΣ</td>
<tr><td>578</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΗΠΕΙΡΟΥ ( ΠΡΕΒΕΖΑ)</td>
<tr><td>579</td><td>ΛΟΓΙΣΤΙΚΗΣ  TEI ΜΕΣΟΛΟΓΓΙΟΥ</td>
<tr><td>580</td><td>ΔΙΕΘΝΟΥΣ  ΕΜΠΟΡΙΟΥ TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΑΣΤΟΡΙΑ)</td>
<tr><td>581</td><td>ΕΜΠΟΡΙΑΣ   &amp;  ΔΙΑΦΗΜΙΣΗΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>582</td><td>ΔΙΟΙΚΗΣΗΣ ΚΑΙ ΔΙΑΧΕΙΡΙΣΗΣ ΕΡΓΩΝ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>583</td><td>ΕΜΠΟΡΙΑΣ   &amp;  ΔΙΑΦ/ΣΗΣ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>584</td><td>ΤΟΠΙΚΗΣ   ΑΥΤΟΔ/ΣΗΣ   TEI ΚΑΛΑΜΑΤΑΣ</td>
<tr><td>585</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΑΘΗΝΑΣ</td>
<tr><td>586</td><td>ΔΙΑΧΕΙΡIΣΗΣ ΠΛΗΡΟΦΟΡΙΩΝ  TEI ΚΑΒΑΛΑΣ</td>
<tr><td>587</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΚΑΒΑΛΑΣ</td>
<tr><td>589</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΠΑΤΡΑΣ</td>
<tr><td>590</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΙΟΝΙΩΝ ΝΗΣΩΝ (ΛΗΞΟΥΡΙ)</td>
<tr><td>591</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>592</td><td>ΒΙΟΜΗΧΑΝΙΚΟΥ ΣΧΕΔΙΑΣΜΟΥ  TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>593</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ   TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>594</td><td>ΔΙΟΙΚ. ΜΟΝΑΔΩΝ ΥΓΕΙΑΣ  &amp;  ΠΡΟΝΟΙΑΣ  TEI ΚΑΛΑΜΑΤΑΣ</td>
<tr><td>595</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΣΕΡΡΩΝ</td>
<tr><td>596</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>597</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΧΑΛΚΙΔΑΣ</td>
<tr><td>598</td><td>ΔΙΟΙΚΗΣΗΣ ΚΟΙΝΩΝΙΚΩΝ-ΣΥΝΕΤΑΙΡΙΣΤΙΚΩΝ ΕΠΙΧ &amp; ΟΡΓΑΝ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td>
<tr><td>599</td><td>ΒΙΒΛΙΟΘΗΚΟΝΟΜΙΑΣ &amp; ΣΥΣΤΗΜΑΤΩΝ ΠΛΗΡΟΦΟΡΗΣΗΣ ΤΕΙ ΑΘΗΝΑΣ</td>
<tr><td>601</td><td>ΒΙΒΛΙΟΘΗΚΟΝΟΜΙΑΣ &amp; ΣΥΣΤΗΜΑΤΩΝ ΠΛΗΡΟΦΟΡΗΣΗΣ ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>602</td><td>ΕΦΑΡΜ. ΞΕΝ. ΓΛΩΣ. ΣΤΗ ΔΙΟΙΚ.ΚΑΙ ΣΤΟ ΕΜΠΟΡ. TEI ΗΠΕΙΡΟΥ (ΗΓΟΥΜΕΝΙΤΣΑ)</td>
<tr><td>603</td><td>ΤΟΥΡΙΣΤΙΚΩΝ    ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΑΘΗΝΑΣ</td>
<tr><td>604</td><td>ΤΟΥΡΙΣΤΙΚΩΝ    ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΠΕΙΡΑΙΑ (ΣΠΕΤΣΕΣ)</td>
<tr><td>605</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>607</td><td>ΤΟΥΡΙΣΤΙΚΩΝ    ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΠΑΤΡΑΣ</td>
<tr><td>609</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>610</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΗΠΕΙΡΟΥ (ΗΓΟΥΜΕΝΙΤΣΑ)</td>
<tr><td>611</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>613</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΑΓΓΕΛΜΑΤΩΝ ΡΟΔΟΥ (ΑΣΤΕΡ)</td>
<tr><td>614</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΑΓΓΕΛΜΑΤΩΝ ΑΓ.ΝΙΚΟΛΑΟΥ ΚΡΗΤΗΣ (ΑΣΤΕΑΝ)</td>
<tr><td>615</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>616</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ TEI  ΠΑΤΡΑΣ (ΑΙΓΙΟ)</td>
<tr><td>617</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>618</td><td>ΛΟΓΟΘΕΡΑΠΕΙΑΣ TEI  ΠΑΤΡΑΣ</td>
<tr><td>619</td><td>ΕΡΓΟΘΕΡΑΠΕΙΑΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>620</td><td>ΛΟΓΟΘΕΡΑΠΕΙΑΣ TEI  ΗΠΕΙΡΟΥ (ΙΩΑΝΝΙΝΑ)</td>
<tr><td>621</td><td>ΙΑΤΡΙΚΩΝ    ΕΡΓΑΣΤΗΡΙΩΝ TEI  ΑΘΗΝΑΣ</td>
<tr><td>623</td><td>ΙΑΤΡΙΚΩΝ    ΕΡΓ/ΡΙΩΝ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>625</td><td>ΙΑΤΡΙΚΩΝ    ΕΡΓ/ΡΙΩΝ  TEI ΛΑΡΙΣΑΣ</td>
<tr><td>627</td><td>ΡΑΔΙΟΛΟΓΙΑΣ    ΑΚΤΙΝΟΛΟΓΙΑΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>628</td><td>ΔΙΑΤΡΟΦΗΣ &amp; ΔΙΑΙΤΟΛΟΓΙΑΣ TEI ΚΡΗΤΗΣ (ΣΗΤΕΙΑ)</td>
<tr><td>629</td><td>ΟΔΟΝΤΙΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>631</td><td>ΔΙΟΙΚ. ΜΟΝ. ΥΓΕΙΑΣ &amp; ΠΡΟΝΟΙΑΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>633</td><td>ΔΗΜΟΣΙΑΣ   ΥΓΙΕΙΝΗΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>635</td><td>ΟΠΤΙΚΗΣ ΚΑΙ ΟΠΤΟΜΕΤΡΙΑΣ ΤEI ΑΘΗΝΑΣ</td>
<tr><td>637</td><td>ΑΙΣΘΗΤΙΚΗΣ &amp; ΚΟΣΜΗΤΟΛΟΓΙΑΣ ΤΕΙ ΑΘΗΝΑΣ</td>
<tr><td>639</td><td>ΑΙΣΘΗΤΙΚΗΣ &amp; ΚΟΣΜΗΤΟΛΟΓΙΑΣ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>641</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΕΡΓΑΣΙΑΣ TEI  ΠΑΤΡΑΣ</td>
<tr><td>643</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΕΡΓΑΣΙΑΣ TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>644</td><td>ΜΟΥΣΙΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ ΚΑΙ ΑΚΟΥΣΤΙΚΗΣ TEI ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td>
<tr><td>645A</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI  ΑΘΗΝΑΣ Α'</td>
<tr><td>645B</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI  ΑΘΗΝΑΣ Β'</td>
<tr><td>647</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>649</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI  ΠΑΤΡΑΣ</td>
<tr><td>651</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI  ΛΑΡΙΣΑΣ</td>
<tr><td>652</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI  ΛΑΜΙΑΣ</td>
<tr><td>653</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>654</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI  ΗΠΕΙΡΟΥ (ΙΩΑΝΝΙΝΑ)</td>
<tr><td>655</td><td>ΜΑΙΕΥΤΙΚΗΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>657</td><td>ΜΑΙΕΥΤΙΚΗΣ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>659</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ TEI  ΛΑΜΙΑΣ</td>
<tr><td>661</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΕΡΓΑΣΙΑΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>662</td><td>ΜΑΙΕΥΤΙΚΗΣ TEI  ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>663</td><td>ΛΟΓΟΘΕΡΑΠΕΙΑΣ TEI  ΚΑΛΑΜΑΤΑΣ</td>
<tr><td>667</td><td>ΕΠΙΣΚΕΠΤΩΝ &amp; ΕΠΙΣΚΕΠΤΡΙΩΝ ΥΓΕΙΑΣ TEI  ΑΘΗΝΑΣ</td>
<tr><td>690</td><td>ΠΡΟΣΧΟΛΙΚΗΣ ΑΓΩΓΗΣ ΤΕΙ ΑΘΗΝΑΣ</td>
<tr><td>692</td><td>ΒΡΕΦΟΝΗΠΙΟΚΟΜΙΑΣ TEI  ΗΠΕΙΡΟΥ (ΙΩΑΝΝΙΝΑ)</td>
<tr><td>694</td><td>ΒΡΕΦΟΝΗΠΙΟΚΟΜΙΑΣ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>696</td><td>ΛΑΙΚΗΣ &amp; ΠΑΡΑΔΟΣΙΑΚΗΣ ΜΟΥΣΙΚΗΣ TEI ΗΠΕΙΡΟΥ (ΑΡΤΑΣ)</td>
<tr><td>697</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΗΧΟΥ &amp; ΜΟΥΣΙΚΩΝ ΟΡΓΑΝΩΝ  TEI ΙΟΝΙΩΝ ΝΗΣΩΝ (ΛΗΞΟΥΡΙ)</td>
<tr><td>698</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΕΡΙΒΑΛΛΟΝΤΟΣ &amp; ΟΙΚΟΛΟΓΙΑΣ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΖΑΚΥΝΘΟ)</td>
<tr><td>701</td><td>ΚΛΩΣΤΟΫΦ/ΓΙΑΣ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>703</td><td>ΣΧΕΔ.&amp;ΠΑΡΑΓ. ΕΝΔΥΜΑΤΩΝ  TEI ΘΕΣ/ΝΙΚΗΣ (ΚΙΛΚΙΣ)</td>
<tr><td>705</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  TEI ΛΑΜΙΑΣ</td>
<tr><td>709</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  TEI ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td>
<tr><td>710</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΤΕΙ ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td>
<tr><td>711</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ  TEI ΑΘΗΝΑΣ</td>
<tr><td>712</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>713</td><td>ΗΛ/ΚΩΝ  ΥΠΟΛΟΓ/ΚΩΝ   ΣΥΣΤΗΜΑΤΩΝ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>714</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>715</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  TEI ΠΕΙΡΑΙΑ</td>
<tr><td>716</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΤΡΟΦΙΜΩΝ  TEI ΑΘΗΝΑΣ</td>
<tr><td>717</td><td>ΤΕΧΝΟΛ.  ΤΡΟΦΙΜΩΝ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>718</td><td>ΟΙΝΟΛΟΓΙΑΣ &amp;ΤΕΧΝΟΛΟΓΙΑΣ  ΠΟΤΩΝ  TEI ΑΘΗΝΑΣ</td>
<tr><td>719</td><td>ΔΙΑΤΡΟΦΗΣ &amp; ΔΙΑΙΤΟΛΟΓΙΑΣ TEI  ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>720</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  TEI ΘΕΣ/ΝΙΚΗΣ</td>
<tr><td>721</td><td>ΓΕΩΤΕΧΝΟΛΟΓΙΑΣ ΚΑΙ ΠΕΡΙΒΑΛΛΟΝΤΟΣ TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td>
<tr><td>722</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  TEI ΧΑΛΚΙΔΑΣ</td>
<tr><td>723</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ   TEI ΛΑΡΙΣΑΣ</td>
<tr><td>724</td><td>ΒΙΟΜΗΧΑΝΙΚΗ ΠΛΗΡΟΦΟΡΙΚΗ  TEI ΚΑΒΑΛΑΣ</td>
<tr><td>725</td><td>ΕΦΑΡΜΟΣΜΕΝΗΣ ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΠΟΛΥΜΕΣΩΝ TEI ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td>
<tr><td>726</td><td>ΕΜΠΟΡ. ΚΑΙ ΠΟΙΟΤ. ΕΛΕΓΧΟΥ ΑΓΡΟΤ. ΠΡΟIΟΝΤΩΝ TEI ΔΥΤ. ΜΑΚΕΔ.(ΦΛΩΡΙΝΑ)</td>
<tr><td>727</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΕΠΙΚΟΙΝΩΝΙΩΝ  TEI ΣΕΡΡΩΝ</td>
<tr><td>728</td><td>ΕΠΙΧΕΙΡHΜΑΤΙΚΟΥ ΣΧΕΔΙΑΣΜΟΥ ΚΑΙ ΠΛΗΡΟΦΟΡΙΑΚΩΝ ΣΥΣΤHΜΑΤΩΝ  TEI ΠΑΤΡΑΣ</td>
<tr><td>729</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡΙΚΗΣ ΣΤΗ ΔΙΟΙΚΗΣΗ ΚΑΙ ΣΤΗΝ ΟΙΚΟΝΟΜΙΑ TEI ΜΕΣΟΛΟΓΓΙΟΥ</td>
<tr><td>730</td><td>ΔΗΜΟΣΙΩΝ ΣΧΕΣΕΩΝ ΚΑΙ ΕΠΙΚΟΙΝΩΝΙΑΣ TEI ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΑΣΤΟΡΙΑ)</td>
<tr><td>731</td><td>ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ ΚΑΙ ΕΛΕΓΚΤΙΚΗΣ TEI ΚΑΛΑΜΑΤΑΣ</td>
<tr><td>732</td><td>ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ ΚΑΙ ΕΛΕΓΚΤΙΚΗΣ TEI ΗΠΕΙΡΟΥ (ΠΡΕΒΕΖΑ)</td>
<tr><td>733</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡ. ΣΤΗ ΔΙΟΙΚΗΣΗ &amp; ΣΤΗΝ ΟΙΚΟΝ. TEI ΙΟΝΙΩΝ ΝΗΣΩΝ(ΛΕΥΚΑΔΑ)</td>
<tr><td>734</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡ. ΣΤΗ ΔΙΟΙΚΗΣΗ ΚΑΙ ΣΤΗΝ ΟΙΚΟΝΟΜΙΑ TEI ΔΥΤ.ΜΑΚ.(ΓΡΕΒΕΝΑ)</td>
<tr><td>735</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ TEI ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ(ΚΑΣΤΟΡΙΑ)</td>
<tr><td>736</td><td>ΤΗΛΕΠΙΚΟΙΝΩΝΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ &amp; ΔΙΚΤΥΩΝ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ (ΝΑΥΠΑΚΤΟΣ)</td>
<tr><td>737</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΑΕΡΟΣΚΑΦΩΝ ΤΕΙ ΧΑΛΚΙΔΑΣ</td>
<tr><td>738</td><td>ΑΝΑΚΑΙΝΙΣΗΣ ΚΑΙ ΑΠΟΚΑΤΑΣΤΑΣΗΣ ΚΤΙΡΙΩΝ  TEI ΛΑΡΙΣΑΣ (ΤΡΙΚΑΛΑ)</td>
<tr><td>739</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΤΡΟΦΙΜΩΝ  TEI ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td>
<tr><td>740</td><td>ΔΙΟΙΚΗΣΗΣ ΣΥΣΤΗΜΑΤΩΝ ΕΦΟΔΙΑΣΜΟΥ ΤΕΙ ΧΑΛΚΙΔΑΣ (ΘΗΒΑ)</td>
<tr><td>741</td><td>ΔΗΜΟΣΙΩΝ ΣΧΕΣΕΩΝ &amp; ΕΠΙΚΟΙΝΩΝΙΑΣ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΑΡΓΟΣΤΟΛΙ)</td>
<tr><td>742</td><td>ΟΠΤΙΚΗΣ ΚΑΙ ΟΠΤΟΜΕΤΡΙΑΣ ΤEI ΠΑΤΡΑΣ (ΑΙΓΙΟ)</td>
<tr><td>743</td><td>ΜΟΥΣΕΙΟΛΟΓΙΑΣ, ΜΟΥΣΕΙΟΓΡΑΦΙΑΣ ΚΑΙ ΣΧΕΔΙΑΣΜΟΥ ΕΚΘΕΣΕΩΝ ΠΑΤΡΑΣ (ΠΥΡΓΟΣ)</td>
<tr><td>744</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ TEI ΚΑΒΑΛΑΣ (ΔΙΔΥΜΟΤΕΙΧΟ)</td>
<tr><td>745</td><td>ΕΜΠΟΡΙΑΣ &amp; ΔΙΑΦΗΜΙΣΗΣ ΤΕΙ ΛΑΜΙΑΣ(ΑΜΦΙΣΣΑ)</td>
<tr><td>746</td><td>ΕΜΠΟΡΙΑΣ &amp; ΔΙΑΦΗΜΙΣΗΣ ΤΕΙ ΠΑΤΡΑΣ (ΑΜΑΛΙΑΔΑ)</td>
<tr><td>747</td><td>ΔΙΑΤΡΟΦΗΣ &amp; ΔΙΑΙΤΟΛΟΓΙΑΣ TEI ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td>
<tr><td>748</td><td>ΠΡΟΣΤΑΣΙΑΣ &amp; ΣΥΝΤΗΡΗΣΗΣ ΠΟΛ. ΚΛΗΡΟΝΟΜΙΑΣ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΖΑΚΥΝΘΟΣ)</td>
<tr><td>749</td><td>ΔΙΟΙΚΗΣΗΣ ΣΥΣΤΗΜΑΤΩΝ ΕΦΟΔΙΑΣΜΟΥ ΤΕΙ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΓΡΕΒΕΝΑ)</td>
<tr><td>750</td><td>ΕΣΩΤΕΡΙΚΗΣ ΑΡΧΙΤΕΚΤΟΝΙΚΗΣ, ΔΙΑΚΟΣΜΗΣΗΣ &amp; ΣΧΕΔ.ΑΝΤΙΚΕΙΜΕΝΩΝ ΤΕΙ ΣΕΡΡΩΝ</td>
<tr><td>751</td><td>ΕΠΙΧΕΙΡHΜ. ΣΧΕΔΙΑΣΜΟΥ ΚΑΙ ΠΛΗΡΟΦ. ΣΥΣΤHΜΑΤΩΝ  TEI ΚΡΗΤΗΣ (ΑΓ.ΝΙΚΟΛΑΟΣ)</td>
<tr><td>752</td><td>ΟΙΝΟΛΟΓΙΑΣ &amp; ΤΕΧΝΟΛΟΓΙΑΣ  ΠΟΤΩΝ  TEI ΚΑΒΑΛΑΣ (ΔΡΑΜΑ)</td>
<tr><td>753</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  TEI ΜΕΣΟΛΟΓΓΙΟΥ</td>
<tr><td>801</td><td>ΕΥΕΛΠΙΔΩΝ (ΣΣΕ)-ΟΠΛΑ                                   ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>806</td><td>ΕΥΕΛΠΙΔΩΝ (ΣΣΕ)-ΣΩΜΑΤΑ                                 ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>811</td><td>ΝΑΥΤΙΚΩΝ  ΔΟΚΙΜΩΝ  (ΣΝΔ)  ΜΑΧΙΜΟΙ                      ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>816</td><td>ΝΑΥΤΙΚΩΝ  ΔΟΚΙΜΩΝ  (ΣΝΔ)  ΜΗΧΑΝΙΚΟΙ                    ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>817</td><td>ΣΧΟΛΗ ΠΛΟΙΑΡΧΩΝ ΕΜΠΟΡΙΚΟΥ ΝΑΥΤΙΚΟΥ                     ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>818</td><td>ΣΧΟΛΗ ΜΗΧΑΝΙΚΩΝ ΕΜΠΟΡΙΚΟΥ ΝΑΥΤΙΚΟΥ                     ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>820</td><td>ΙΠΤΑΜΕΝΩΝ ΡΑΔΙΟΝΑΥΤΙΛΩΝ                                ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>821</td><td>ΙΚΑΡΩΝ  (ΣΙ)  ΙΠΤΑΜΕΝΟΙ                                ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>826</td><td>ΙΚΑΡΩΝ  (ΣΙ)  ΜΗΧΑΝΙΚΟΙ (ΣΜΑ)                          ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>827</td><td>ΙΚΑΡΩΝ  (ΣΙ)  ΕΛΕΓΚΤΩΝ ΑΕΡΑΜΥΝΑΣ                       ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>831</td><td>ΙΑΤΡΙΚΟ (ΣΣΑΣ) ΘΕΣ/ΝΙΚΗΣ                               ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>836</td><td>ΟΔΟΝΤΙΑΤΡΙΚΟ (ΣΣΑΣ) ΘΕΣ/ΝΙΚΗΣ                          ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>841</td><td>ΚΤΗΝΙΑΤΡΙΚΟ  (ΣΣΑΣ)  ΘΕΣ/ΚΗΣ                           ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>846</td><td>ΦΑΡΜΑΚΕΥΤΙΚΟ  (ΣΣΑΣ)  ΘΕΣ/ΚΗ                           ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>851</td><td>ΑΞΙΩΜΑΤΙΚΩΝ ΝΟΣΗΛ.(ΣΑΝ)                                ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>861</td><td>ΤΕΧΝΙΚΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ  ΑΕΡΟΠΟΡΙΑΣ (Σ.Τ.Υ.Α)          ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>862</td><td>ΜΟΝΙΜΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΣΤΡΑΤΟΥ (Σ.Μ.Υ) - ΟΠΛΑ          ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>863</td><td>ΜΟΝΙΜΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΣΤΡΑΤΟΥ (Σ.Μ.Υ) - ΣΩΜΑΤΑ        ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>864</td><td>ΜΟΝΙΜΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΝΑΥΤΙΚΟΥ Σ.Μ.Υ.Ν                ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>865</td><td>ΥΠΑΞΙΩΜΑΤΙΚΩΝ  ΔΙΟΙΚ. ΑΕΡΟΠΟΡΙΑΣ  (ΣΥΔ)                ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>866</td><td>ΣΤΡΑΤΟΛΟΓΙΚΟ  (ΣΣΑΣ)  ΘΕΣ/ΝΙΚH                         ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>867</td><td>ΟΙΚΟΝΟΜΙΚΟ  (ΣΣΑΣ) ΘΕΣ/ΝΙΚΗ                            ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>869</td><td>ΑΞΙΩΜΑΤΙΚΩΝ ΕΛΛΗΝΙΚΗΣ  ΑΣΤΥΝΟΜΙΑΣ                      ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>870</td><td>ΑΣΤΥΦΥΛΑΚΩΝ                                            ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>871</td><td>ΤΜΗΜΑ ΑΝΘΥΠΟΠΥΡΑΓΩΝ                                    ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>872</td><td>ΑΞΙΩΜΑΤΙΚΩΝ ΕΛΛΗΝΙΚΗΣ  ΑΣΤΥΝΟΜΙΑΣ (ΑΣΤΥΝΟΜΙΚΟΙ)        ΓΕΝ.ΣΕΙΡΑ</td>
<tr><td>875</td><td>ΨΥΧΟΛΟΓΩΝ     (ΣΣΑΣ)  ΘΕΣ/ΝΙΚH                         ΓΕΝ.ΣΕΙΡΑ</td>
</table>

{% endblock %}
