{% extends "base.html" %}
{% load i18n %}
{% block title %}Μητρώο eduPersonEntitlement{% endblock %}
{% block header %}Μητρώο eduPersonEntitlement{% endblock %}
{% block content %}

Στην Ομοσπονδία ΕΔΕΤ, οι ακόλουθες τιμές του στοιχείου <em>eduPersonEntitlement</em>
βρίσκονται σε χρήση:
<ul>
  <li><strong>urn:mace:dir:entitlement:common-lib-terms</strong>, πρόσβαση σε ακαδημαϊκές βιβλιοθήκες</li>
  <li><strong>urn:mace:grnet.gr:pki:user</strong>, πρόσβαση στην <a href="//pki.grnet.gr/">υπηρεσία έκδοσης προσωπικών ψηφιακών πιστοποιητικών X.509 μέσω της ΥΔΚ ΕΔΕΤ</a></li>
  <li><strong>urn:mace:grnet.gr:pki:admin</strong>, πρόσβαση στην <a href="//pki.grnet.gr/">υπηρεσία έκδοσης προσωπικών ψηφιακών πιστοποιητικών X.509 μέσω της ΥΔΚ ΕΔΕΤ</a>, ως διαχειριστής φορέα</li>
  <li><strong>urn:mace:grnet.gr:eduroam:admin</strong>, πρόσβαση στην <a href="//www.eduroam.gr/management">εφαρμογή διαχείρισης eduroam, ως διαχειριστής φορέα</a></li>
  <li><strong>urn:mace:grnet.gr:fod:admin</strong>, πρόσβαση στην <a href="//fod.grnet.gr/fod/info/el/">εφαρμογή Firewall on Demand, ως διαχειριστής φορέα</a></li>
</ul>

{% endblock %}
