{% extends "base.html" %}
{% load i18n %}
{% block title %}Εγγραφές στο namespace urn:mace:grnet.gr{% endblock %}
{% block header %}Εγγραφές στο namespace urn:mace:grnet.gr{% endblock %}
{% block content %}

Η επιτροπή <a href="//middleware.internet2.edu/MACE/">MACE</a> έχει αναθέσει στο ΕΔΕΤ τη λειτουργία του namespace <strong>urn:mace:grnet.gr</strong>.
<ul>
  <li><a href="//middleware.internet2.edu/urn-mace/">Μητρώο</a> του Internet2/MACE για Uniform Resource Name (URN)</li>
  <li>Το <a href="//tools.ietf.org/html/rfc3613">RFC 3613</a> ορίζει το namespace "urn:mace" και περιγράφει την πολιτική και τις διαδικασίες που διέπουν τη χρήση του.</li>
</ul>

Επί του παρόντος το namespace χρησιμοποιείται μόνο για τιμές που καταγράφονται στο μητρώο <a href="/registry/eduPersonEntitlement/"><em>eduPersonEntitlement</em></a>.

{% endblock %}
