{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Help" %}{% endblock %}
{% block header %}{% trans "Help" %}{% endblock %}
{% block content %}
<p>
Αν αντιμετωπίζετε κάποιο πρόβλημα στη χρήση των υποδομών AAI του ΕΔΕΤ, και εφόσον ανήκετε σε οργανισμό-μέλος της Ομοσπονδίας, μπορείτε να επικοινωνήσετε με τα παρακάτω μέρη, ανάλογα το σημείο εμφάνισης του προβλήματος:
</p>
<ul id="userhelp">
<li>Αν το πρόβλημα εμφανίστηκε <b>εντός των σελίδων της υπηρεσίας που θέλετε να χρησιμοποιήσετε</b> θα πρέπει να επικοινωνήσετε πρώτα με τους υπεύθυνους της υπηρεσίας, στις διευθύνσεις που τυχόν αναφέρονται στις ιστοσελίδες της υπηρεσίας.</li>

<li>
Αν το πρόβλημα εμφανίστηκε <b>στις σελίδες ταυτοποίησης του δικού σας ιδρύματος</b> ή οργανισμού (που σας έχει παράσχει τον λογαριασμό πρόσβασης) θα πρέπει να επικοινωνήσετε με το helpdesk του ιδρύματός σας. Εκεί μπορούν να αντιμετωπιστούν διάφορα γενικά προβλήματα του λογαριασμού σας, όπως απώλεια ή αλλαγή password, αλλαγή στοιχείων κλπ.
{% if idp.contact.email or idp.contact.telephone %}
Σύμφωνα με τον επιλεγμένο Οικείο Φορέα σας, «<b>{{ idpname }}</b>», μπορείτε να επικοινωνήσετε με τους παρακάτω τρόπους:
<ul id="contactdetails">
{% if idp.contact.email  %}
        <li><strong>E-mail:</strong> <a href="mailto:{{ idp.contact.email }}?subject={% trans "Shibboleth Authentication Issue" %}">{{ idp.contact.email }}</a></li>
{% endif %}
{% if idp.contact.telephone %}
        <li><strong>{% trans "Telephone" %}:</strong> {{ idp.contact.telephone }}</li>
{% endif %}
</ul>
{% endif %}</li>
<li>
Αν το πρόβλημα εμφανίστηκε <b>στην ενδιάμεση ιστοσελίδα <a href="http://wayf.grnet.gr">http://wayf.grnet.gr</a></b>, μπορείτε να επικoινωνείτε με την διεύθυνση helpdesk@grnet.gr, ή το τηλέφωνο 800-11-GRNET για να αναφέρετε το πρόβλημα.</li>
</ul>
{% endblock %}
