{% extends "base.html" %}
{% load i18n %}
{% block title %}Frequently Asked Questions and Answers{% endblock %}
{% block header %}Frequently Asked Questions and Answers{% endblock %}
{% block content %}
<h2>Questions asked by users</h2>
<ul>
<li><b>I cannot login or I forgot my password. Who can help me?</b>
<br />If your Home Institution is mentioned in the list of federated institutions, you can contanct your institution's helpdesk, where problems with your account can be solved. If no problem is found with your account, then please contact the administrators of the service you are trying to access.</li>
<li><b>What services are available over GRNET's AAI?</b>
<br>See the <a href="/">main page</a>.</li>
<li><b>What do I have to do in order to be granted access to GRNET's AAI?</b>
<br />If your Home Institution is already part of GRNET's AAI and has connected its user accounts with it, then no action is required from your part. Your username and password is the same as those used for the services provided by your Home Institution.</li>
</ul>
<h2>Questions asked by administrators</h2>
<ul>
<li><b>Can my institution become a member of GRNET's AAI Federation?</b>
<br />GRNET's Federation is targeted towards the Hellenic Academic and Research community. Therefore, only Academic or Research Institutes can become Identity Providers. This restriction does not apply to Service Providers, as long as they provide content that assists academic or research aims. </li>
<li><b>What should I do to grant my users access to the Federation's services?</b>
<br />Your institution must be equiped with a suitable Identity Provider, which requires:
<ul>
  <li>the development of a comprehensive LDAP-based directory service and the infrastructure needed to keep account data up-to-date</li>
  <li>the implementation of the eduPerson schema on the aforementioned directory service</li>
  <li>the installation of an AAI &quot;Identity Provider&quot; software compatible with the SAML 2.0 specification.
  <a href="http://shibboleth.internet2.edu/">Shibboleth IdP</a>, developed by the USA NREN (<a href="http://www.internet2.edu">Internet2</a>), is recommended.
  </li>
</ul>
The above software is also provided in a custom, pre-configured &quot;service
box&quot; by GRNET. For more information, please contact GRNET's Helpdesk</li>
<li><b>How can I provide a service to the Federation's members?</b>
<br />You must install an AAI &quot;Service Provider&quot; software, compatible with the SAML 2.0 specification. <a href="http://shibboleth.internet2.edu/">Shibboleth SP</a>, developed by the USA NREN (<a href="http://www.internet2.edu">Internet2</a>), is recommended.</li>
<li><b>Who is operating the Federation's infrastructure?</b>
<br />The Federation is operated by GRNET's Network Operations Centre (NOC). For additions, removals, other changes and troubleshooting <i>regarding the Federation itself</i> you may contact GRNET's Helpdesk.</li>
</ul>
{% endblock %}
