{% extends "base.html" %}
{% load i18n %}
{% block title %}Services{% endblock %}
{% block header %}Services{% endblock %}
{% block content %}
<p>Some of the services that are currently provided over GRNET's AAI:</p>
<ul>
<li><a href="//okeanos.grnet.gr/">~okeanos</a>, cloud computing and storage services</li>
<li><a href="//pithos.grnet.gr/">“Pithos”</a>, free on-line data storage service</li>
<li><a href="http://www.eudoxus.gr/">“Eudoxus”</a>, student textbook distribution service</a></li>
<li><a href="//www.dreamspark.com/">Microsoft Dreamspark</a>, free Microsoft software for students</li>
<li><a href="//anafandon.grnet.gr/">Anafandon-MSDNAA</a>, free access to MSDN-Academic Alliance software for students <em>(requires a departmental subscription)</em></li>
<li><a href="//forrester.grnet.gr/">Forrester</a>, free access to Forrester Research papers</li>
<li><a href="http://rts.grnet.gr/">RTS</a>, access to voice and video communication network</li>
<li><a href="//mynetlab.grnet.gr/">myNetLab</a>, networking labs using real hardware</li>
<li><a href="//fod.grnet.gr/">Firewall on Demand (FoD)</a>, mitigation of network attacks</li>
</ul>
{% endblock %}
