{% extends "base.html" %}
{% load i18n %}
{% block title %}Τεκμηρίωση{% endblock %}
{% block header %}Τεκμηρίωση{% endblock %}
{% block content %}
<ul>
<li><a href="http://vnoc.grnet.gr/engine/index.php?op=modload&amp;modname=Downloads&amp;action=downloadsviewfile&amp;ctn=776&amp;language=el">Γενικές αρχές προς διαχειριστές υπηρεσιών καταλόγου, ΙdP και SP για τις διαδικασίες παρoχής υπηρεσιών AAI με χρήση του Shibboleth</a></li>
<li><a href="http://vnoc.grnet.gr/engine/index.php?op=modload&amp;modname=Downloads&amp;action=downloadsviewfile&amp;ctn=855&amp;language=el">Οδηγός εγκατάστασης και ρύθμισης Shibboleth 1.3</a></li>
<li><a href="http://shibboleth.internet2.edu/">Λογισμικό Shibboleth</a></li>
<li><a href="http://www.switch.ch/aai/shibboleth.html">Τεκμηρίωση υλοποίησης του αντίστοιχης ομοσπονδίας του Ελβετικού NREN (SWITCH)</a></li>
<li><a href="http://www.incommonfederation.org">Τεκμηρίωση υλοποίησης του αντίστοιχου project των ιδρυμάτων των Ηνωμένων Πολιτειών (Internet2)</a></li>
</ul>

{% endblock %}
