{% extends "base.html" %}
{% load i18n %}
{% block title %}Τεκμηρίωση{% endblock %}
{% block header %}Τεκμηρίωση{% endblock %}
{% block content %}

<h2>Τεκμηρίωση Υποδομής</h2>
<ul>
  <li><a href="/policy/policy-el.pdf">Πολιτική και διαδικασίες</a></li>
  <li><a href="/schemas/grEduPerson/">Σχήμα grEduPerson</a> (έκδοση 1.0)</li>
</ul>

<h2>Λογισμικό</h2>
<p>
Στην πλειονότητα της Υποδομής χρησιμοποιείται αυτή τη στιγμή το λογισμικό του
<strong><a href="//shibboleth.net/">Shibboleth Consortium</a></strong>.
Ωστόσο, οποιοδήποτε λογισμικό που συμμορφώνεται με τα πρότυπα SAML 2.0 του
οργανισμού OASIS, είτε ως Πάροχος Ταυτότητας είτε ως Πάροχος Υπηρεσιών, μπορεί
να διασυνδεθεί στην Υποδομή.
</p>

<p>
Για την εγκατάσταση και παραμετροποίηση του Shibboleth προτείνεται η ανάγνωση
της <a href="//www.switch.ch/aai/support/">τεκμηρίωσης υλοποίησης
της αντίστοιχης ομοσπονδίας του Ελβετικού ακαδημαϊκού δικτύου (SWITCH)</a>, ενώ
ιδιαίτερη βοήθεια μπορεί να προσφέρει και το 
<a href="//wiki.shibboleth.net/confluence/display/SHIB2/Home">Wiki του Shibboleth</a>.
</p>

<h2>Metadata</h2>
<ul>
  <li><a href="/metadata.xml">Metadata της Ομοσπονδίας ΕΔΕΤ</a></li> 
</ul>

<h2>Μητρώο</h2>
<ul>

<li><a href="/registry/grEduPerson/undergraduateBranch/">
Μητρώο τιμών στοιχείου <em>undergraduateBranch</em> του σχήματος
<em>grEduPerson</em></a>
</li>

<li><a href="/registry/eduPersonEntitlement/">
Μητρώο τιμών στοιχείου <em>eduPersonEntitlement</em> του σχήματος
<em>eduPerson</em> για την παρούσα Ομοσπονδία
</a>
</li>

<li><a href="/registry/urn/">
Μητρώο του namespace <strong>urn:mace:grnet.gr</strong>
</a>
</li>

</ul>

<h2>Επικοινωνία</h2>
Για ένταξη στην Ομοσπονδία ή οποιεσδήποτε άλλες πληροφορίες για αυτή, οι
διαχειριστές των φορέων μπορούν να επικοινωνούν με το Helpdesk του ΕΔΕΤ.

{% endblock %}
