{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "FAQ" %}{% endblock %}
{% block header %}{% trans "FAQ" %}{% endblock %}
{% block content %}
<h2>Για χρήστες</h2>
<ul>
<li><b>Δεν μπορώ να κάνω login ή ξέχασα το password μου . Ποιός μπορεί να με βοηθήσει;</b>
<br>Εφόσον το ίδρυμά σας αναφέρεται στη λίστα συνεργαζόμενων ιδρυμάτων, μπορείτε να απευθυνθείτε στο helpdesk του ιδρύματός σας. Εκεί μπορείτε να αντιμετωπίσετε τυχόν πρόβλημα στον ιδρυματικό σας λογαριασμό. Αν δεν βρεθεί πρόβλημα στον λογαριασμό, τότε θα πρέπει να επικοινωνήσετε με τον πάροχο της υπηρεσίας που θέλετε να χρησιμοποιήσετε.
<li><b>Ποιές υπηρεσίες μπορώ να χρησιμοποιήσω μέσω της υποδομής ΑΑΙ του ΕΔΕΤ;</b>
<br>Δείτε την <a href="/">κεντρική σελίδα </a>.
<li><b>Τί πρέπει να κάνω για να αποκτήσω λογαριασμό κατάλληλο για την υποδομή AAI;</b>
<br>Εφόσον το ίδρυμά σας είναι ενταγμένο στην υποδομή AAI, και έχει συνδέσει τους λογαριασμούς των χρηστών του με αυτή, τότε δεν θα χρειαστεί να κάνετε κάποια ενέργεια. Οι κωδικοί username και password είναι οι ίδιοι που ισχύουν και για τις υπόλοιπες χρήσεις στο ίδρυμά σας.
</ul>
<h2>Για διαχειριστές φορέων</h2>
<ul>
<li><b>Ποιοί φορείς μπορούν να είναι μέλη στην Ομοσπονδία AAI του ΕΔΕΤ;</b>
<br />Η Ομοσπονδία του ΕΔΕΤ απευθύνεται στην ακαδημαϊκή και ερευνητική
κοινότητα. Συνεπώς, φορείς Πιστοποίησης Ταυτότητας μπορούν να είναι μόνο
ακαδημαϊκά ή ερευνητικά ιδρύματα. Φορείς Παροχής Περιεχομένου μπορεί να είναι
ο οποιοσδήποτε, αρκεί το περιεχόμενο που παρέχεται να έχει σκοπό την προάγωγή
ακαδημαϊκών ή ερευνητικών σκοπών.</li>
<li><b>Τι πρέπει να κάνω ώστε οι χρήστες μου να έχουν πρόσβαση στις υπηρεσίες της Ομοσπονδίας;</b>
<br />Θα πρέπει ο φορέας σας να ενταχθεί ως φορέας Πιστοποίησης Ταυτότητας.
Για να επιτευχθεί κάτι τέτοιο απαιτούνται τα εξής:
<ul>
  <li>ανάπτυξη έγκυρης υπηρεσίας καταλόγου LDAP και διαδικασιών συντήρησης των
  στοιχείων των μελών του ιδρύματος</li>
  <li>υλοποίηση σχήματος eduPerson στην εν λόγω υπηρεσία καταλόγου</li>
  <li>εγκατάσταση λογισμικού ΑΑΙ «Identity Provider» συμβατό με SAML 2.0.
  Προτείνεται το <a href="http://shibboleth.internet2.edu/">Shibboleth IdP</a>
  που έχει αναπτύξει το  ακαδημαϊκό δίκτυο των ΗΠΑ,
  <a href="http://www.internet2.edu">Internet2.</a>
  </li>
</ul>
Τα παραπάνω μπορούν να διατεθούν και έτοιμα από το ΕΔΕΤ με τη μορφή ενός
προσαρμοσμένου «κουτιού υπηρεσιών». Για περισσότερες πληροφορίες μπορείτε να
επικοινωνήσετε με το Helpdesk του ΕΔΕΤ.</li>
<li><b>Πώς μπορώ να προσφέρω μια υπηρεσία στα μέλη της Ομοσπονδίας;</b>
<br />Απαιτείται η εγκατάσταση λογισμικού ΑΑΙ «Service Provider» συμβατό με
  SAML 2.0. Προτείνεται το
  <a href="http://shibboleth.internet2.edu/">Shibboleth SP</a> που έχει
  αναπτύξει το  ακαδημαϊκό δίκτυο των ΗΠΑ,
  <a href="http://www.internet2.edu">Internet2.</a></li>
<li><b>Ποιός είναι υπεύθυνος για τη διαχείριση της υποδομής της Ομοσπονδίας;</b>
<br />Την Ομοσπονδία συντηρεί και διαχειρίζεται το Κέντρο Δικτύων (Network
Operations Centre, NOC) του ΕΔΕΤ. Για προσθαφαιρέσεις, λοιπές αλλαγές και
επίλυση προβλήματων <i>σχετικά με την ομοσπονδία αυτή καθ' αυτή</i> μπορείτε
να επικοινωνήσετε με το Helpdesk του ΕΔΕΤ.</li>
</ul>
{% endblock %}
