{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block header %}{% trans "About" %}{% endblock %}
{% block content %}
<p>
Η Υποδομή Ταυτοποίησης και Εξουσιοδότησης (<em>Authentication &amp;
Authorization Infrastructure - AAI</em>) επιτρέπει σε διαφορετικούς οργανισμούς
να συνεργάζονται στην εκχώρηση δικαιωμάτων πρόσβασης για εφαρμογές που έχουν
διιδρυματικό χαρακτήρα. Μέσω της υποδομής, οι χρήστες της Ομοσπονδίας μπορούν
να λάβουν υπηρεσίες με ασφάλεια και εμπιστευτικότητα των προσωπικών τους
δεδομένων χρησιμοποιώντας απλά τον ιδρυματικό τους λογαριασμό.
</p>

<p>
Στην Ομοσπονδία του ΕΔΕΤ συμμετέχουν μέλη της ακαδημαϊκής, ερευνητικής και
εκπαιδευτικής κοινότητας της Ελλάδας καθώς και φορείς που ενδιαφέρονται να
παράσχουν υπηρεσίες σε αυτή.
</p>

<p>Τα μέλη της Ομοσπονδίας κατατάσσονται στις παρακάτω δύο κατηγορίες:</p>
<ol>
<li><strong>Πάροχοι Ταυτότητας (Identity Providers, IdP)</strong>: πρόκειται για
οντότητες (π.χ. ακαδημαϊκά ιδρύματα, ερευνητικά ινστιτούτα κ.λπ.) που
ταυτοποιούν τους χρήστες τους και πιστοποιούν την ταυτότητα αυτών. Επιπλέον,
δύνανται να αποστέλλουν προσωπικά δεδομένα των χρηστών τους στους Παρόχους
Υπηρεσιών με σκοπό την εξουσιοδότηση για τη χρήση των παρεχόμενων υπηρεσιών.</li>

<li><strong>Πάροχοι Υπηρεσιών (Service Providers, SP)</strong>: πρόκειται για
τις οντότητες που παρέχουν υπηρεσίες στους χρήστες της ακαδημαϊκής, ερευνητικής
και εκπαιδευτικής κοινότητας της Ελλάδας. Δύνανται να λαμβάνουν από τους
Παρόχους Ταυτότητας μεμονωμένα στοιχεία χρηστών, με τη συγκατάθεση των πρώτων,
με σκοπό την εξουσιοδότηση των χρηστών και την παροχή προσωποποιημένων
υπηρεσιών.</li>
</ol>

<p>Η συμμετοχή ενός <strong>Παρόχου Ταυτότητας</strong> στην Ομοσπονδία έχει
πολλαπλό όφελος για τους χρήστες του:</p>
<ul>
<li>η είσοδος στις συνδεδεμένες με την Ομοσπονδία υπηρεσίες γίνεται με τη χρήση
του υπάρχοντος ιδρυματικού λογαριασμού του χρήστη, χωρίς να απαιτείται
ξεχωριστή εγγραφή.</li>
<li>τα στοιχεία που αφορούν την ταυτότητα, ιδιότητα και προέλευση του κάθε
χρήστη δεν είναι απαραίτητο να αποστέλλονται στον κάθε πάροχο υπηρεσίας,
παρέχοντας δυνατότητα <em>ανώνυμης</em> πιστοποιημένης πρόσβασης.</li>
</ul>

<p>
Αντίστοιχα, ένας <strong>Πάροχος Υπηρεσιών</strong> μπορεί να επωφεληθεί από
την ένταξη στην Ομοσπονδία, αφού μπορεί να παρέχει υπηρεσίες σε μια μεγάλη
κοινότητα μέσα από ένα κεντρικό σημείο πρόσβασης και χωρίς να χρειάζεται να
υλοποιεί ξεχωριστές μεθόδους ταυτοποίησης των χρηστών επί τούτου.
</p>

{% endblock %}
