{% extends "base.html" %}
{% load i18n %}
{% block title %}Συνδεδεμένες Υπηρεσίες{% endblock %}
{% block header %}Συνδεδεμένες Υπηρεσίες{% endblock %}
{% block content %}
<p>Ενδειτικά, μερικές από τις υπηρεσίες που παρέχονται μέσω της Υποδομής ΑΑΙ
του ΕΔΕΤ στην ακαδημαϊκή, ερευνητική και εκπαιδευτική κοινότητα της
Ελλάδας:</p>
<ul>
<li><a href="http://pithos.grnet.gr/">Υπηρεσία αποθήκευσης δεδομένων «Πίθος»</a></li>
<li><a href="https://www.dreamspark.com/">Υπηρεσία Microsoft DreamSpark</a>, διανομής δωρεάν λογισμικού σε φοιτητές</li>
<li><a href="http://anafandon.grnet.gr/">Υπηρεσία ΑΝΑΦΑΝΔΟΝ-MSDNAA</a>, διανομής δωρεάν λογισμικού σε φοιτητές μέσω προγράμματος MSDNA</li>
<li><a href="http://iptv.grnet.gr/">Υπηρεσία IPTV</a>, μετάδοσης ψηφιακής τηλεόρασης</li>
<li><a href="http://rts.grnet.gr/">Υπηρεσία διοργάνωσης τηλεδιασκέψεων</a> και τηλεφωνίας VoIP (Real Time Services)</li>
</ul>
{% endblock %}
