{% extends "base.html" %}
{% load i18n %}
{% block title %}Συμμετέχοντες Πάροχοι Υπηρεσιών{% endblock %}
{% block header %}Συμμετέχοντες Πάροχοι Υπηρεσιών{% endblock %}
{% block content %}
<p>
Στην Ομοσπονδία του ΕΔΕΤ συμμετέχουν οι ακόλουθοι Πάροχοι Υπηρεσιών:
</p>
<ul>
{% for group, insts in splist %}
	<li><span class="fineprint">[group: {{ group }}]</span>
	<ul>
	{% for inst in insts %}
	    {% if inst.url %}
		<li><a href="{{ inst.url }}">{{ inst.name }}</a>
            {% else %}
		<li>{{ inst.name }}
            {% endif %}
		  <br>
		   <span class="fineprint">[id: {{ inst.id }}]</span>
	    {% if inst.logo %}
		  <br>
		  <img title="{{ inst.name }}" alt="{{ inst.name }}" src="{{ inst.logo.data }}">
            {% endif %}
		</li>
	{% endfor %}
	</ul>
	</li>
{% endfor %}
</ul>
{% endblock %}
