/* CSS Document*/
/* set millions of background images*/
.rbroundbox { background-color:#f1f1f1;}
.rbtop div { background: url(images/tl.gif) no-repeat top left; }
.rbtop { background: url(images/tr.gif) no-repeat top right; }
.rbbot div { background: url(images/bl.gif) no-repeat bottom left; }
.rbbot { background: url(images/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary.*/
.rbtop div, .rbtop, .rbbot div, .rbbot {
    width: 667px;
    height: 7px;
    font-size: 1px;
}
.rbcontent { margin: 6px 10px 10px 10px; font-size:13px;}
.rbroundbox { width: 667px; margin: 0 }


/*box of filter*/
div.filterDiv{
    display:block;
}
div.searchDiv{
}
table{
    background-color:transparent;
}
button.arrowleft{
/*Set the width and height to the height of the image..*/
    width:3px;
    height:11px;
    border:0px;
    background-position: left;
    background: url("images/arrow-left.gif") no-repeat;
}
span.titlebox{
	background-color: white;
    padding: 0;
    width: 98%;
    margin-left:10px;
    margin-top:10px;
    display:block;
    font-weight:bold;
    font-size: 11px;
    border-bottom: 1px solid #d1cccc;
    cursor:pointer;
}



#userprefs {
	margin-top: 3px;
}

#idpform {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#contactdetails {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}

#userhelp li {
	margin-top: 5px;
	margin-bottom: 5px;
}
