body {
	background-color: #B2B2B2;
	font-size: 100%;
}

body,td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #656565;
	text-align: justify;
}

.content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.language-placeholder {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.language-container {
	display: table-cell;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	font-size: 80%;
}

.language-list {
	white-space: nowrap;
	font-size: 80%;
}

.language-list li {
	display: block;
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

.language-list li.active {
	display: block;
	float: right;
	list-style-type: none;
	margin: 0;
	background-color: white;
	padding: 1px;
}
.language-div{
	text-align: center;
	background-color:white; 
	float: right;
}

.header-placeholder {
	margin-right: 17px;
	margin-left: 16px;
	border-top: 1px solid #b2b2b2;
	text-align: left
}

.header-image-placeholder {
	display: table-cell;
	width: 10%;
	height: 80px;
	vertical-align: middle;
	text-align: left;
	text-align: center;
	padding-right: 10px;
	
}

.header-text-placeholder {
	display: table-cell;
	height: 80px;
	vertical-align: middle;
	font-size: 140%;
	background-color: silver;
	width: 90%;
	padding: 10px;
}

h1 {
	font-size: 130%;
	color: #656565;
	font-weight: bold;
	margin: 1em;
	padding: 0em;
}

.collapse {
	width: 1px;
	height: 1px;
}

.aailogo-placeholder {
	background-color: #FFF;
	padding-left: 16px;
	
}

.headermenu-placeholder {
	background-color: #F0F0F0;
	border-top: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	font-size: 0.8em;
	padding-right: 10px;
	color: #5A5A7D;
	text-align: right;
	margin-left: 16px;
	margin-right: 17px;
}

.headermenu-placeholder a:hover {
	text-decoration: none;
	color: orange;
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: orange;
}

.footer {
	font-size: 80%;
	font-style: italic;
	padding: 1em;
}

.rbroundbox {
	background-color: #f1f1f1;
}

.rbtop div {
	background: url(images/tl.gif) no-repeat top left;
}

.rbtop {
	background: url(images/tr.gif) no-repeat top right;
}

.rbbot div {
	background: url(images/bl.gif) no-repeat bottom left;
}


.rbbot {
	background: url(images/br.gif) no-repeat bottom right;
}
/* height and width stuff, width not really nessisary.*/
.rbtop div,.rbtop,.rbbot div,.rbbot {
	width: 667px;
	height: 7px;
	font-size: 1px;
}

.rbcontent {
	margin: 6px 10px 10px 10px;
	font-size: 13px;
}

.rbroundbox {
	width: 667px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.pagebot {
	background: url(images/bottom--x.gif) no-repeat bottom right;
}

.pagebot div {
	background: url(images/bottomx--.gif) no-repeat bottom left;
}


.pagetop div {
	background: url(images/topx--.gif) no-repeat top left;
}

.pagebot div, .pagetop div{
	width: 667px;	height: 7px;
	font-size: 1px;
}

.langbot {
	background: url(images/bottom--x.gif) no-repeat bottom right;
}

.langbot div {
	background: url(images/bottomx--.gif) no-repeat bottom left;
}
.langtop {
	background: url(images/top--x.gif) no-repeat top right;
}

.langtop div {
	background: url(images/topx--.gif) no-repeat top left;
}

.langbot div, .langtop div{
	width: 150px;
	height: 7px;
	font-size: 1px;
}

#idp_selection_form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
