{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Help" %}{% endblock %}
{% block header %}{% trans "Help" %}{% endblock %}
{% block content %}
<p>
If you are having difficulties using AAI-enabled services, and if you belong to a federated organization, you may contact the following parts, depending on the problem's nature:
</p>
<ul id="userhelp">
<li>If the problem showed up <b>in the pages of the service you attempted to use</b>, then you will have to contact the service administrators, as they appear in the service's homepage.</li>

<li>
If the problem showed up <b>in your Home Organization's authentication page</b>, then you should contact your Home Organization's helpdesk. This is the place to solve general issues related to your account, like loss or change of passwords, changes of contact details, etc.
{% if idp.contact.email or idp.contact.telephone %}
According to your selected Home Organization, &quot;<b>{{ idpname }}</b>&quot;, you may contact them in the following ways:
<ul id="contactdetails">
{% if idp.contact.email  %}
        <li><strong>E-mail:</strong> <a href="mailto:{{ idp.contact.email }}?subject={% trans "Shibboleth Authentication Issue" %}">{{ idp.contact.email }}</a></li>
{% endif %}
{% if idp.contact.telephone %}
        <li><strong>{% trans "Telephone" %}:</strong> {{ idp.contact.telephone }}</li>
{% endif %}
</ul>
{% endif %}</li>
<li>
If the problem showed up in the <b>intermediate webpage, <a href="http://wayf.grnet.gr">wayf.grnet.gr</a></b>, then you should contact GRNET's helpdesk via e-mail at &quot;helpdesk@grnet.gr&quot; or telephone at 800-11-GRNET to report the issue.</li>
</ul>
{% endblock %}
