{% extends "base.html" %}
{% load i18n %}
{% block header %}{% trans "Privacy" %}{% endblock %}
{% block content %}
<p>
The use of the services provided over GRNET's AAI Federation requires an
account in an institution that is member of the Federation.
</p>
<p>
Every Organization belonging to the Federation is required to safeguard the
privacy of the credentials accompanying these accounts from unauthorized
access.
</p>
<p>
The federated organizations providing user accounts disclose only the minimal
required fragment of the account holders' credentials and only with the
account holders' prior consent, acquired by means of a special informational
web page presented to the account holder.
</p>
<p>
All services provided as part of the Federation do not require nor use
personal credentials other than those required for the service's operation.
</p>
<p>
GRNET and GRNET's AAI Federation as a whole cannot be held responsible for the
fulfilment of the above requirements on behalf of the Federation Members.
GRNET and the Federation as a whole does not store nor transmit account data,
it mereley describes safe ways of information exchange between the
Federation's Members with the involved user's consent.
</p>
<p>
The Federation and its Members operate according to the laws concerning the protection of
private data.
</p>
{% endblock %}
