{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "User support" %}{% endblock %}
{% block header %}{% trans "User support" %}{% endblock %}
{% block content %}
A problem occured while attempting to use GRNET's AAI. Please contact your Home Organization.
{% if idpname %}
According to your selected Home Organization, &quot;<strong>{{idpname}}</strong> &quot;, you may contact them in the following ways:
<ul>
{% if idp.contact.email %}
	<li><b>E-mail:</b> <a href="mailto:{{ idp.contact.email }}?subject={% trans "Shibboleth Authentication Issue" %}">{{ idp.contact.email }}</a></li>
{% endif %}
{% if idp.contact.telephone %}
	<li><b>{% trans "Telephone" %}</b>: {{ idp.contact.telephone }}</li>
{% endif %}
</ul>
{% endif %}
{% endblock %}
