{% extends "base.html" %}
{% load i18n %}
{% block title %}Μητρώο undergraduateBranch{% endblock %}
{% block header %}Μητρώο undergraduateBranch{% endblock %}
{% block content %}

<p>
Ως αποδεκτές τιμές για το πεδίο ορίζονται οι τιμές της στήλης «κωδικός» του
παρακάτω πίνακα. Οι τιμές έχουν προκύψει κατά κύριο λόγο από τα μηχανογραφικά
δελτία εισαγωγής στην τριτοβάθμια εκπαίδευση.
</p>

<table>
<tr>
  <th>Κωδικός</th>
  <th>Ονομασία σχολής</th>
  <th>Κωδικός ιδρύματος</th>
</tr>
<tr><td>101</td><td>ΘΕΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>102</td><td>ΦΙΛΟΣΟΦΙΑΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>103</td><td>ΘΕΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>104</td><td>ΙΣΤΟΡΙΑΣ, ΑΡΧΑΙΟΛΟΓΙΑΣ &amp; ΔΙΑΧΕΙΡΙΣΗΣ ΠΟΛ/ΚΩΝ ΑΓΑΘΩΝ ΠΕΛ/ΣΟΥ(ΚΑΛΑΜΑΤΑ)</td><td>18</td></tr>
<tr><td>105</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΘΕΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>106</td><td>ΕΛΛΗΝΙΚΗΣ  ΦΙΛΟΛΟΓΙΑΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>107</td><td>ΠΟΙΜΑΝΤΙΚΗΣ  &amp; ΚΟΙΝΩΝΙΚΗΣ  ΘΕΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>108</td><td>ΙΣΤΟΡΙΑΣ &amp; ΕΘΝΟΛΟΓΙΑΣ ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>109</td><td>ΦΙΛΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>110</td><td>ΙΣΤΟΡΙΑΣ  ΚΑΙ  ΑΡΧΑΙΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>111</td><td>ΦΙΛΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>112</td><td>ΙΣΤΟΡΙΑΣ &amp;  ΑΡΧΑΙΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>113</td><td>ΦΙΛΟΛΟΓΙΑΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>114</td><td>ΙΣΤΟΡΙΑΣ  ΚΑΙ  ΑΡΧΑΙΟΛΟΓΙΑΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>115</td><td>ΦΙΛΟΛΟΓΙΑΣ  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>116</td><td>ΙΣΤΟΡΙΑΣ &amp; ΑΡΧΑΙΟΛΟΓΙΑΣ ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>117</td><td>ΝΟΜΙΚΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>118</td><td>ΦΙΛ/ΦΙΑΣ- ΠΑΙΔ/ΚΗΣ &amp; ΨΥΧΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>119</td><td>ΝΟΜΙΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>120</td><td>ΦΙΛ/ΦΙΑΣ-ΠΑΙΔ/ΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>121</td><td>ΝΟΜΙΚΗΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>122</td><td>ΦΙΛ/ΦΙΑΣ ΠΑΙΔ/ΓΙΚΗΣ &amp; ΨΥΧΟΛΟΓΙΑΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>123</td><td>ΠΟΛΙΤ. ΕΠΙΣΤΗΜΗΣ &amp; ΔΗΜ.  ΔΙΟΙΚ. ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>124</td><td>ΔΗΜΟΣΙΑΣ ΔΙΟΙΚΗΣΗΣ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>125</td><td>ΠΟΛΙΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ &amp; ΙΣΤΟΡΙΑΣ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>126</td><td>ΚΟΙΝΩΝΙΟΛΟΓΙΑΣ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>127</td><td>ΑΓΓΛΙΚΗΣ  ΓΛΩΣΣΑΣ  ΚΑΙ  ΦΙΛΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>128</td><td>ΠΑΙΔ/ΓΙΚΟ  ΔΗΜΟΤΙΚΗΣ ΕΚΠ/ΣΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>129</td><td>ΑΓΓΛΙΚΗΣ  ΓΛΩΣΣΑΣ  ΚΑΙ  ΦΙΛΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>130</td><td>ΠΑΙΔΑΓΩΓΙΚΟ  ΔΗΜΟΤΙΚΗΣ ΕΚΠ/ΣΗΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>131</td><td>ΓΑΛΛΙΚΗΣ  ΓΛΩΣΣΑΣ  ΚΑΙ  ΦΙΛΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>132</td><td>ΠΑΙΔ/ΚΟ  ΔΗΜΟΤ ΕΚΠ/ΣΗΣ ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>133</td><td>ΓΑΛΛΙΚΗΣ  ΓΛΩΣΣΑΣ  ΚΑΙ  ΦΙΛΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>134</td><td>ΕΠΙΣΤΗΜΩΝ ΠΡΟΣΧΟΛ. ΑΓΩΓΗΣ &amp; ΕΚΠ/ΣΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>135</td><td>ΓΕΡΜΑΝΙΚΗΣ  ΓΛΩΣΣΑΣ  ΚΑΙ  ΦΙΛΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>136</td><td>ΕΠΙΣΤΗΜΩΝ ΕΚΠ/ΣΗΣ &amp; ΑΓΩΓΗΣ ΣΤΗΝ ΠΡΟΣΧΟΛ. ΗΛΙΚΙΑ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>137</td><td>ΓΕΡΜΑΝΙΚΗΣ  ΓΛΩΣΣΑΣ  ΚΑΙ  ΦΙΛΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>138</td><td>ΦΙΛ/ΦΙΚΩΝ &amp; ΚΟΙΝΩΝ. ΣΠΟΥΔ.  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>139</td><td>ΙΤΑΛΙΚΗΣ  ΓΛΩΣΣΑΣ  ΚΑΙ  ΦΙΛΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>140</td><td>ΠΑΙΔΑΓΩΓΙΚΟ  ΔΗΜΟΤΙΚΗΣ ΕΚΠ/ΣΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>141</td><td>ΠΑΙΔΑΓΩΓΙΚΟ  ΔΗΜΟΤΙΚΗΣ ΕΚΠ/ΣΗΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>142</td><td>ΠΑΙΔΑΓΩΓΙΚΟ  ΔΗΜΟΤΙΚΗΣ ΕΚΠ/ΣΗΣ  ΘΡΑΚΗΣ (ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ)</td><td>11</td></tr>
<tr><td>143</td><td>ΠΑΙΔΑΓΩΓΙΚΟ  ΔΗΜΟΤΙΚΗΣ ΕΚΠ/ΣΗΣ  ΑΙΓΑΙΟΥ (ΡΟΔΟΣ)</td><td>14</td></tr>
<tr><td>144</td><td>ΟΙΚΙΑΚΗΣ  ΟΙΚΟΝΟΜΙΑΣ &amp; ΟΙΚΟΛΟΓΙΑΣ ΧΑΡΟΚΟΠΕΙΟΥ (ΑΘΗΝΑ)</td><td>17</td></tr>
<tr><td>145</td><td>ΙΣΤΟΡΙΑΣ  ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td><td>16</td></tr>
<tr><td>146</td><td>ΘΕΑΤΡΙΚΩΝ  ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>147</td><td>ΔΗΜΟΣΙΟΓΡΑΦΙΑΣ &amp; ΜΕΣΩΝ ΜΑZΙΚΗΣ ΕΠΙΚΟΙΝΩΝΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>148</td><td>ΕΠΙΚ/ΝΙΑΣ &amp; ΜΕΣΩΝ  ΜΑZ.ΕΝΗΜΕΡ. ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>149</td><td>ΚΟΙΝΩΝΙΟΛΟΓΙΑΣ ΚΡΗΤΗΣ  (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>150</td><td>ΔΙΕΘΝ.  ΚΑΙ  ΕΥΡΩΠ.  ΟΙΚΟΝ. ΣΠΟΥΔ. ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>151</td><td>ΨΥΧΟΛΟΓΙΑΣ  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>152</td><td>ΟΙΚΟΝΟΜΙΚΗΣ &amp; ΠΕΡΙΦΕΡΕΙΑΚΗΣ ΑΝΑΠΤΥΞΗΣ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>153</td><td>ΕΠΙΚΟΙΝΩΝΙΑΣ ΜΕΣΩΝ  ΚΑΙ ΠΟΛΙΤΙΣΜΟΥ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>154</td><td>ΕΚΠ/ΣΗΣ &amp; ΑΓΩΓΗΣ ΣΤΗΝ ΠΡΟΣΧ. ΗΛΙΚΙΑ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>155</td><td>ΧΡΗΜΑΤΟΟΙΚΟΝΟΜ. &amp; ΤΡΑΠΕZ.  ΔΙΟΙΚΗΤΙΚ. ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>156</td><td>ΠΑΙΔΑΓΩΓΙΚΟ  ΝΗΠΙΑΓΩΓΩΝ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>157</td><td>ΝΑΥΤΙΛΙΑΚΩΝ  ΣΠΟΥΔΩΝ  ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>158</td><td>ΠΑΙΔ/ΚΟ ΠΡΟΣΧΟΛΙΚΗΣ ΕΚΠ/ΣΗΣ ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>159</td><td>ΚΟΙΝΩΝΙΚΗΣ ΠΟΛΙΤΙΚΗΣ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>160</td><td>ΕΠΙΣΤΗΜΩΝ ΕΚΠΑΙΔΕΥΣΗΣ ΣΤΗΝ ΠΡΟΣΧΟΛΙΚΗ ΗΛΙΚΙΑ ΘΡΑΚΗΣ (ΑΛΕΞ/ΠΟΛΗ)</td><td>11</td></tr>
<tr><td>161</td><td>ΔΙΕΘΝΩΝ &amp; ΕΥΡΩΠΑΪΚΩΝ ΣΠΟΥΔΩΝ ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>162</td><td>ΕΠΙΣΤ.ΠΡΟΣΧ. ΑΓΩΓΗΣ &amp; ΕΚΠ/ΚΟΥ ΣΧΕΔΙΑΣΜΟΥ ΑΙΓΑΙΟΥ (ΡΟΔΟΣ)</td><td>14</td></tr>
<tr><td>163</td><td>ΚΙΝΗΜΑΤΟΓΡΑΦΟΥ ΘΕΣ/ΚΗΣ</td><td>05</td></tr>
<tr><td>164</td><td>ΠΑΙΔ/ΚΟ ΔΗΜΟΤ. ΕΚΠ/ΣΗΣ   ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>165</td><td>ΚΟΙΝΩΝΙΚΗΣ ΑΝΘΡΩΠΟΛΟΓΙΑΣ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>166</td><td>ΠΑΙΔ/ΚΟ  ΠΡΟΣΧ.ΕΚΠ/ΣΗΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>167</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΑΝΘΡΩΠΟΛΟΓΙΑΣ &amp; ΙΣΤΟΡΙΑΣ ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td><td>14</td></tr>
<tr><td>168</td><td>ΘΕΑΤΡΟΥ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>169</td><td>ΘΕΑΤΡΙΚΩΝ  ΣΠΟΥΔΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>170</td><td>ΨΥΧΟΛΟΓΙΑΣ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>171</td><td>ΦΙΛΟΣ.ΠΑΙΔ. &amp; ΨΥΧΟΛ. (ΠΡΟΓ.ΨΥΧΟΛ.) ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>172</td><td>ΨΥΧΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>173</td><td>ΜΕΘΟΔΟΛΟΓΙΑΣ ΙΣΤΟΡ. &amp; ΘΕΩΡΙΑΣ ΤΗΣ ΕΠΙΣΤΗΜΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>174</td><td>ΕΚΠΑΙΔ/ΚΗΣ ΚΑΙ ΚΟΙΝ/ΚΗΣ ΠΟΛΙΤΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>175</td><td>ΦΙΛΟΛΟΓΙΑΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>176</td><td>ΒΑΛΚΑΝΙΚΩΝ, ΣΛΑΒ. &amp; ΑΝΑΤ. ΣΠΟΥΔΩΝ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>177</td><td>ΙΣΤΟΡΙΑΣ ΑΡΧΑΙΟΛΟΓΙΑΣ &amp;   ΚΟΙΝΩΝΙΚΗΣ ΑΝΘΡΩΠΟΛΟΓΙΑΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>178</td><td>ΠΑΙΔ/ΚΟ ΕΙΔΙΚΗΣ ΑΓΩΓΗΣ  ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>179</td><td>ΔΙΕΘΝΩΝ &amp; ΕΥΡΩΠΑΪΚΩΝ ΣΠΟΥΔΩΝ ΠΑΝΤΕΙΟΥ</td><td>06</td></tr>
<tr><td>180</td><td>ΝΑΥΤΙΛΙΑΣ &amp; ΕΠΙΧΕΙΡΗΜΑΤΙΚΩΝ ΥΠΗΡΕΣΙΩΝ  ΑΙΓΑΙΟΥ (ΧΙΟΣ)</td><td>14</td></tr>
<tr><td>181</td><td>ΜΕΣΟΓΕΙΑΚΩΝ ΣΠΟΥΔΩΝ   ΑΙΓΑΙΟΥ (ΡΟΔΟΣ)</td><td>14</td></tr>
<tr><td>182</td><td>ΙΤΑΛΙΚΗΣ  ΓΛΩΣΣΑΣ &amp; ΦΙΛΟΛΟΓΙΑΣ  ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>183</td><td>ΙΣΠΑΝΙΚΗΣ ΓΛΩΣΣΑΣ &amp; ΦΙΛΟΛΟΓΙΑΣ  ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>184</td><td>ΒΑΛΚΑΝΙΚΩΝ ΣΠΟΥΔΩΝ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td><td>63</td></tr>
<tr><td>185</td><td>ΠΛΑΣΤΙΚΩΝ ΤΕΧΝΩΝ &amp; ΕΠΙΣΤΗΜΩΝ ΤΗΣ ΤΕΧΝΗΣ ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>186</td><td>ΓΛΩΣΣΑΣ, ΦΙΛΟΛΟΓΙΑΣ &amp; ΠΟΛΙΤΙΣΜΟΥ ΠΑΡΕΥΞΕΙΝΙΩΝ ΧΩΡΩΝ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>187</td><td>ΚΟΙΝΩΝΙΚΗΣ &amp; ΕΚΠΑΙΔΕΥΤΙΚΗΣ ΠΟΛΙΤΙΚΗΣ ΠΕΛΟΠΟΝΝΗΣΟΥ (ΚΟΡΙΝΘΟΣ)</td><td>18</td></tr>
<tr><td>188</td><td>ΤΟΥΡΚΙΚΩΝ ΣΠΟΥΔΩΝ ΚΑΙ ΣΥΓΧΡΟΝΩΝ ΑΣΙΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>189</td><td>ΦΙΛΟΛΟΓΙΑΣ  ΠΕΛΟΠΟΝΝΗΣΟΥ (ΚΑΛΑΜΑΤΑ)</td><td>18</td></tr>
<tr><td>190</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΠΕΛΟΠΟΝΝΗΣΟΥ (ΣΠΑΡΤΗ)</td><td>18</td></tr>
<tr><td>191</td><td>ΠΕΡΙΦΕΡΕΙΑΚΗΣ ΟΙΚΟΝΟΜΙΚΗΣ ΑΝΑΠΤΥΞΗΣ ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ (ΛΙΒΑΔΕΙΑ)</td><td>62</td></tr>
<tr><td>192</td><td>ΣΛΑΒΙΚΩΝ ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>200</td><td>ΕΠΙΣΤ.&amp;ΤΕΧΝΟΛ. ΥΛΙΚΩΝ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>201</td><td>ΠΟΛΙΤΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>203</td><td>ΠΟΛΙΤΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>205</td><td>ΠΟΛΙΤΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>207</td><td>ΠΟΛΙΤΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td><td>11</td></tr>
<tr><td>208</td><td>ΠΟΛΙΤΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>209</td><td>ΜΗΧΑΝΟΛΟΓΩΝ  ΜΗΧΑΝΙΚΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>210</td><td>ΜΗΧΑΝΟΛΟΓΩΝ ΜΗΧΑΝΙΚΩΝ         ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>63</td></tr>
<tr><td>211</td><td>ΜΗΧΑΝΟΛΟΓΩΝ  ΜΗΧΑΝΙΚΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>212</td><td>ΔΑΣ/ΓΙΑΣ &amp; ΔΙΑΧ/ΣΗΣ ΠΕΡ/ΝΤΟΣ &amp; ΦΥΣ. ΠΟΡΩΝ  ΘΡΑΚΗΣ (ΟΡΕΣΤΙΑΔΑ)</td><td>11</td></tr>
<tr><td>213</td><td>ΜΗΧΑΝΟΛΟΓΩΝ &amp; ΑΕΡΟΝΑΥΠΗΓΩΝ ΜΗΧΑΝΙΚΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>214</td><td>ΜΗΧ/ΚΩΝ ΠΕΡ/ΛΟΝΤΟΣ  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td><td>13</td></tr>
<tr><td>215</td><td>ΜΗΧΑΝΙΚΩΝ   Η/Υ  ΚΑΙ  ΠΛΗΡΟΦΟΡΙΚΗΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>216</td><td>ΕΠΙΣΤΗΜΗΣ ΥΠΟΛΟΓΙΣΤΩΝ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>217</td><td>ΗΛΕΚΤΡΟΛΟΓΩΝ  ΜΗΧΑΝΙΚΩΝ ΚΑΙ ΜΗΧΑΝΙΚΩΝ ΥΠΟΛΟΓΙΣΤΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>218</td><td>ΣΤΑΤΙΣΤΙΚΗΣ &amp; ΑΝΑΛΟΓΙΣΤΙΚΩΝ-ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΩΝ ΜΑΘ. ΑΙΓΑΙΟΥ (ΣΑΜΟΣ)</td><td>14</td></tr>
<tr><td>219</td><td>ΗΛΕΚΤΡΟΛΟΓΩΝ  ΜΗΧΑΝΙΚΩΝ &amp; ΜΗΧΑΝΙΚΩΝ  ΥΠΟΛΟΓΙΣΤΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>220</td><td>ΜΗΧ/ΚΩΝ Η/Υ ΤΗΛ/ΝΙΩΝ &amp; ΔΙΚΤΥΩΝ   ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>221</td><td>ΗΛΕΚΤΡΟΛΟΓΩΝ ΜΗΧΑΝΙΚΩΝ &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>222</td><td>ΜΗΧΑΝΙΚΩΝ ΟΙΚΟΝΟΜΙΑΣ ΚΑΙ ΔΙΟΙΚΗΣΗΣ ΑΙΓΑΙΟΥ (ΧΙΟΣ)</td><td>14</td></tr>
<tr><td>223</td><td>ΗΛΕΚΤΡΟΛΟΓΩΝ  ΜΗΧΑΝΙΚΩΝ &amp; ΜΗΧΑΝΙΚΩΝ ΥΠΟΛΟΓΙΣΤΩΝ ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td><td>11</td></tr>
<tr><td>224</td><td>ΜΗΧ/ΚΩΝ ΠΑΡΑΓΩΓΗΣ &amp; ΔΙΟΙΚΗΣΗΣ  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td><td>11</td></tr>
<tr><td>225</td><td>ΑΓΡΟΝΟΜΩΝ  &amp; ΤΟΠΟΓΡΑΦΩΝ ΜΗΧΑΝΙΚΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>227</td><td>ΑΓΡΟΝΟΜΩΝ &amp; ΤΟΠΟΓΡΑΦΩΝ ΜΗΧΑΝΙΚΩΝ   ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>228</td><td>ΜΗΧ/ΚΩΝ ΧΩΡ/ΞΙΑΣ, ΠΟΛΕΟΔΟΜΙΑΣ &amp; ΠΕΡΙΦ/ΚΗΣ ΑΝΑΠΤ.   ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>229</td><td>ΝΑΥΠΗΓΩΝ ΜΗΧ/ΓΩΝ ΜΗΧ/ΚΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>230</td><td>ΜΗΧ/ΚΩΝ  ΠΑΡΑΓΩΓΗΣ &amp; ΔΙΟΙΚΗΣΗΣ  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td><td>13</td></tr>
<tr><td>231</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ  ΜΗΧΑΝΙΚΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>232</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>233</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ  ΜΗΧΑΝΙΚΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>234</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td><td>11</td></tr>
<tr><td>235</td><td>ΧΗΜΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>236</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>237</td><td>ΧΗΜΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>238</td><td>ΜΗΧΑΝΙΚΩΝ ΣΧΕΔΙΑΣΗΣ ΠΡΟΪΟΝΤΩΝ ΚΑΙ ΣΥΣΤΗΜΑΤΩΝ ΑΙΓΑΙΟΥ (ΣΥΡΟΣ)</td><td>14</td></tr>
<tr><td>239</td><td>ΧΗΜΙΚΩΝ  ΜΗΧΑΝΙΚΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>240</td><td>ΔΙΟΙΚΗΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ  &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>241</td><td>ΜΗΧΑΝΙΚΩΝ  ΜΕΤΑΛΛΕΙΩΝ  ΜΕΤΑΛ/ΡΓΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>242</td><td>ΜΗΧΑΝΙΚΩΝ  ΟΡΥΚΤΩΝ  ΠΟΡΩΝ  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td><td>13</td></tr>
<tr><td>243</td><td>ΜΑΘΗΜΑΤΙΚΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>245</td><td>ΜΑΘΗΜΑΤΙΚΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>246</td><td>ΕΦΑΡ/ΝΩΝ ΜΑΘΗΜ. &amp; ΦΥΣ. ΕΠΙΣΤΗΜΩΝ ΕΜΠ</td><td>02</td></tr>
<tr><td>247</td><td>ΜΑΘΗΜΑΤΙΚΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>248</td><td>ΕΦΑΡΜΟΣΜΕΝΩΝ ΜΑΘΗΜΑΤΙΚΩΝ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>249</td><td>ΜΑΘΗΜΑΤΙΚΩΝ  ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>250</td><td>ΕΠΙΣΤΗΜΩΝ ΤΗΣ ΘΑΛΑΣΣΑΣ ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td><td>14</td></tr>
<tr><td>251</td><td>ΜΑΘΗΜΑΤΙΚΩΝ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>252</td><td>ΜΑΘΗΜΑΤΙΚΩΝ ΑΙΓΑΙΟΥ (ΣΑΜΟΣ)</td><td>14</td></tr>
<tr><td>253</td><td>ΦΥΣΙΚΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>255</td><td>ΦΥΣΙΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>257</td><td>ΦΥΣΙΚΗΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>259</td><td>ΦΥΣΙΚΗΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>261</td><td>ΦΥΣΙΚΗΣ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>262</td><td>ΨΗΦΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>263</td><td>ΧΗΜΕΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>265</td><td>ΧΗΜΕΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>267</td><td>ΧΗΜΕΙΑΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>269</td><td>ΧΗΜΕΙΑΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>270</td><td>ΧΗΜΕΙΑΣ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>271</td><td>ΔΙΑΧ/ΣΗΣ ΠΕΡΙΒ/ΝΤΟΣ &amp; ΦΥΣ. ΠΟΡΩΝ  ΔΥΤ. ΕΛΛΑΔΑΣ (ΑΓΡΙΝΙΟ)</td><td>19</td></tr>
<tr><td>272</td><td>ΜΗΧΑΝΙΚΩΝ ΕΠΙΣΤΗΜΗΣ ΥΛΙΚΩΝ  ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>273</td><td>ΓΕΩΠΟΝΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>274</td><td>ΓΕΩΠΟΝΙΑΣ ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ &amp; ΑΓΡΟΤΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>275</td><td>ΔΑΣΟΛΟΓΙΑΣ &amp; ΦΥΣΙΚΟΥ ΠΕΡ/ΝΤΟΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>276</td><td>ΠΕΡΙΒΑΛΛΟΝΤΟΣ  ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td><td>14</td></tr>
<tr><td>277</td><td>ΒΙΟΛΟΓΙΑΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>279</td><td>ΒΙΟΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>280</td><td>ΒΙΟΛΟΓΙΚΩΝ ΕΦΑΡΜΟΓΩΝ &amp; ΤΕΧΝΟΛΟΓΙΩΝ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>281</td><td>ΒΙΟΛΟΓΙΑΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>282</td><td>ΒΙΟΛΟΓΙΑΣ  ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>283</td><td>ΓΕΩΛΟΓΙΑΣ &amp; ΓΕΩΠΕΡΙΒΑΛΛΟΝΤΟΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>284</td><td>ΒΙΟΧΗΜΕΙΑΣ &amp; ΒΙΟΤΕΧΝΟΛΟΓΙΑΣ   ΘΕΣΣΑΛΙΑΣ (ΛΑΡΙΣΑ)</td><td>15</td></tr>
<tr><td>285</td><td>ΓΕΩΛΟΓΙΑΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>287</td><td>ΓΕΩΛΟΓΙΑΣ ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>288</td><td>ΕΠΙΣΤΗΜΗΣ ΤΩΝ ΥΛΙΚΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>289</td><td>ΦΑΡΜΑΚΕΥΤΙΚΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>290</td><td>ΜΟΡΙΑΚΗΣ ΒΙΟΛΟΓΙΑΣ &amp; ΓΕΝΕΤΙΚΗΣ  ΘΡΑΚΗΣ  (ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ)</td><td>11</td></tr>
<tr><td>291</td><td>ΦΑΡΜΑΚΕΥΤΙΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>293</td><td>ΦΑΡΜΑΚΕΥΤΙΚΗΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>294</td><td>ΕΠΙΣΤΗΜΗΣ ΔΙΑΙΤΟΛΟΓΙΑΣ &amp; ΔΙΑΤΡΟΦΗΣ  ΧΑΡΟΚΟΠΕΙΟΥ (ΑΘΗΝΑ)</td><td>17</td></tr>
<tr><td>295</td><td>ΙΑΤΡΙΚΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>297</td><td>ΙΑΤΡΙΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>299</td><td>ΙΑΤΡΙΚΗΣ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>300</td><td>ΙΑΤΡΙΚΗΣ   ΘΕΣΣΑΛΙΑΣ (ΛΑΡΙΣΑ)</td><td>15</td></tr>
<tr><td>301</td><td>ΙΑΤΡΙΚΗΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>302</td><td>ΙΑΤΡΙΚΗΣ  ΘΡΑΚΗΣ (ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ)</td><td>11</td></tr>
<tr><td>303</td><td>ΟΔΟΝΤΙΑΤΡΙΚΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>304</td><td>ΙΑΤΡΙΚΗΣ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>12</td></tr>
<tr><td>305</td><td>ΟΔΟΝΤΙΑΤΡΙΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>306</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>307</td><td>ΚΤΗΝΙΑΤΡΙΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>308</td><td>ΚΤΗΝΙΑΤΡΙΚΗΣ ΘΕΣΣΑΛΙΑΣ (ΚΑΡΔΙΤΣΑ)</td><td>15</td></tr>
<tr><td>309</td><td>ΟΙΚΟΝΟΜΙΚΩΝ  ΕΠΙΣΤΗΜΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>310</td><td>ΓΕΩΓΡΑΦΙΑΣ   ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td><td>14</td></tr>
<tr><td>311</td><td>ΟΙΚΟΝΟΜΙΚΩΝ  ΕΠΙΣΤΗΜΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>312</td><td>ΟΙΚΟΝΟΜΙΚΗΣ  ΕΠΙΣΤΗΜΗΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>313</td><td>ΟΡΓΑΝΩΣΗΣ  ΚΑΙ  ΔΙΟΙΚΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>314</td><td>ΜΑΡΚΕΤΙΝΓΚ ΚΑΙ ΕΠΙΚΟΙΝΩΝΙΑΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>315</td><td>ΟΙΚΟΝΟΜΙΚΗΣ  ΕΠΙΣΤΗΜΗΣ  ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>316</td><td>ΟΡΓΑΝΩΣΗΣ  ΚΑΙ  ΔΙΟΙΚ. ΕΠΙΧΕΙΡΗΣΕΩΝ  ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>317</td><td>ΟΙΚΟΝΟΜΙΚΩΝ  ΕΠΙΣΤΗΜΩΝ ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>318</td><td>ΣΤΑΤΙΣΤΙΚΗΣ &amp; ΑΣΦΑΛΙΣΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ  ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>319</td><td>ΟΙΚΟΝΟΜΙΚΩΝ  ΕΠΙΣΤΗΜΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>320</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΑΙΓΑΙΟΥ (ΧΙΟΣ)</td><td>14</td></tr>
<tr><td>321</td><td>ΟΙΚΟΝΟΜΙΚΩΝ ΕΠΙΣΤΗΜΩΝ  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>322</td><td>ΟΡΓΑΝ. ΚΑΙ ΔΙΟΙΚ. ΕΠΙΧΕΙΡΗΣΕΩΝ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>323</td><td>ΕΠΙΣΤΗΜΗΣ ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>03</td></tr>
<tr><td>324</td><td>ΕΠΙΣΤΗΜΗΣ ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ &amp; ΥΔΑΤΟΚΑΛΛΙΕΡΓΕΙΩΝ ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>03</td></tr>
<tr><td>325</td><td>ΓΕΩΠΟΝΙΚΗΣ ΒΙΟΤΕΧΝΟΛΟΓΙΑΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>03</td></tr>
<tr><td>326</td><td>ΑΓΡΟΤΙΚΗΣ ΟΙΚΟΝΟΜΙΑΣ &amp; ΑΝΑΠΤΥΞΗΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>03</td></tr>
<tr><td>327</td><td>ΑΞΙΟΠ. ΦΥΣΙΚΩΝ ΠΟΡΩΝ ΚΑΙ ΓΕΩΡΓΙΚΗΣ ΜΗΧΑΝΙΚΗΣ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>03</td></tr>
<tr><td>328</td><td>ΕΠΙΣΤΗΜΗΣ &amp; ΤΕΧ/ΓΙΑΣ ΤΡΟΦΙΜΩΝ  ΓΕΩΠΟΝΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>03</td></tr>
<tr><td>329</td><td>ΣΤΑΤΙΣΤΙΚΗΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>330</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΗΛ/ΝΙΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>331</td><td>ΗΛΕΚΤΡΟΝΙΚΩΝ ΜΗΧΑΝΙΚΩΝ ΚΑΙ ΜΗΧΑΝΙΚΩΝ ΥΠΟΛ. ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td><td>13</td></tr>
<tr><td>332</td><td>ΜΗΧΑΝΟΛΟΓΩΝ  ΜΗΧΑΝΙΚΩΝ    ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>333</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>334</td><td>ΠΑΙΔ/ΚΟ ΔΗΜ/ΚΗΣ ΕΚΠ/ΣΗΣ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td><td>63</td></tr>
<tr><td>335</td><td>ΕΦΑΡΜΟΣΜΕΝΗΣ  ΠΛΗΡΟΦΟΡΙΚΗΣ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>336</td><td>ΒΙΟΜΗΧΑΝΙΚΗΣ ΔΙΟΙΚΗΣΗΣ &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>337</td><td>ΛΟΓΙΣΤΙΚΗΣ  &amp;  ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>338</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>339</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>340</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>341</td><td>ΠΑΙΔ. ΝΗΠΙΑΓ. ΔΥΤ.ΜΑΚΕΔΟΝΙΑ (ΦΛΩΡΙΝΑ)</td><td>63</td></tr>
<tr><td>342</td><td>ΑΡΧΕΙΟΝΟΜΙΑΣ &amp;  ΒΙΒΛΙΟΘΗΚΟΝΟΜΙΑΣ  ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td><td>16</td></tr>
<tr><td>343</td><td>ΚΟΙΝΩΝΙΚΗΣ ΔΙΟΙΚΗΣΗΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>344</td><td>ΜΗΧΑΝΙΚΩΝ ΠΛΗΡΟΦΟΡΙΑΚΩΝ &amp; ΕΠΙΚ/ΝΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ  ΑΙΓΑΙΟΥ (ΣΑΜΟΣ)</td><td>14</td></tr>
<tr><td>345</td><td>ΟΙΚΟΝΟΜΙΚΩΝ ΕΠΙΣΤΗΜΩΝ   ΙΩΑΝΝΙΝΩΝ</td><td>09</td></tr>
<tr><td>346</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧ/ΕΩΝ ΑΓΡΟΤΙΚΩΝ ΠΡΟΪΟΝΤΩΝ &amp; ΤΡΟΦΙΜΩΝ ΔΥΤ.ΕΛΛΑΔΑΣ(ΑΓΡΙΝΙΟ)</td><td>19</td></tr>
<tr><td>347</td><td>ΛΟΓΙΣΤΙΚΗΣ &amp; ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ ΟΙΚΟΝΟΜΙΚΟΥ ΠΑΝ. ΑΘΗΝΑΣ</td><td>04</td></tr>
<tr><td>348</td><td>ΚΟΙΝΩΝΙΟΛΟΓΙΑΣ  ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td><td>14</td></tr>
<tr><td>349</td><td>ΔΙΕΘΝΩΝ ΟΙΚΟΝ. ΣΧΕΣ. &amp; ΑΝΑΠΤΥΞΗΣ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>350</td><td>ΟΙΚΟΝΟΜΙΚΩΝ ΕΠΙΣΤΗΜΩΝ  ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>351</td><td>ΠΟΛΙΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ  ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>12</td></tr>
<tr><td>352</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΠΑΤΡΑΣ</td><td>10</td></tr>
<tr><td>353</td><td>ΑΓΡΟΤΙΚΗΣ ΑΝΑΠΤΥΞΗΣ  ΘΡΑΚΗΣ (ΟΡΕΣΤΙΑΔΑ)</td><td>11</td></tr>
<tr><td>354</td><td>ΠΟΛΙΤΙΣΜΙΚΗΣ ΤΕΧ/ΓΙΑΣ &amp; ΕΠΙΚ/ΝΙΑΣ ΑΙΓΑΙΟΥ (ΜΥΤΙΛΗΝΗ)</td><td>14</td></tr>
<tr><td>355</td><td>ΔΙΕΘΝΩΝ &amp; ΕΥΡΩΠΑΪΚΏΝ ΣΠΟΥΔΩΝ ΠΕΙΡΑΙΑ</td><td>07</td></tr>
<tr><td>356</td><td>ΓΕΩΓΡΑΦΙΑΣ ΧΑΡΟΚΟΠΕΙΟΥ (ΑΘΗΝΑ)</td><td>17</td></tr>
<tr><td>357</td><td>ΠΟΛΙΤΙΚΩΝ ΕΠΙΣΤΗΜΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>358</td><td>ΕΠΙΣΤΗΜΗΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ ΠΕΛΟΠΟΝΝΗΣΟΥ(ΤΡΙΠΟΛΗ)</td><td>18</td></tr>
<tr><td>359</td><td>ΕΠΙΣΤΗΜΗΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΠΕΛΟΠΟΝΝΗΣΟΥ(ΤΡΙΠΟΛΗ)</td><td>18</td></tr>
<tr><td>360</td><td>ΓΕΩΠΟΝΙΑΣ,ΙΧΘΥΟΛΟΓΙΑΣ &amp; ΥΔΑΤΙΝΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΘΕΣΣΑΛΙΑΣ (ΒΟΛΟΣ)</td><td>15</td></tr>
<tr><td>361</td><td>ΟΙΚΟΝΟΜΙΚΩΝ ΕΠΙΣΤΗΜΩΝ  ΠΕΛΟΠΟΝΝΗΣΟΥ (ΤΡΙΠΟΛΗ)</td><td>18</td></tr>
<tr><td>362</td><td>ΘΕΑΤΡΙΚΩΝ  ΣΠΟΥΔΩΝ ΠΕΛΟΠΟΝΝΗΣΟΥ (ΝΑΥΠΛΙΟ)</td><td>18</td></tr>
<tr><td>363</td><td>ΜΗΧΑΝΙΚΩΝ ΧΩΡΟΤΑΞΙΑΣ &amp; ΑΝΑΠΤΥΞΗΣ ΘΕΣ/ΚΗΣ (ΒΕΡΟΙΑ)</td><td>05</td></tr>
<tr><td>364</td><td>ΜΑΡΚΕΤΙΝΓΚ ΚΑΙ ΔΙΟΙΚΗΣΗΣ ΛΕΙΤΟΥΡΓΙΩΝ ΜΑΚΕΔΟΝΙΑΣ (ΕΔΕΣΣΑ)</td><td>08</td></tr>
<tr><td>365</td><td>ΔΙΟΙΚΗΣΗΣ ΤΕΧΝΟΛΟΓΙΑΣ ΜΑΚΕΔΟΝΙΑΣ (ΝΑΟΥΣΑ)</td><td>08</td></tr>
<tr><td>366</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td><td>16</td></tr>
<tr><td>367</td><td>ΤΕΧΝΩΝ ΗΧΟΥ ΚΑΙ ΕΙΚΟΝΑΣ ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td><td>16</td></tr>
<tr><td>368</td><td>ΔΙΑΧ. ΠΟΛΙΤΙΣΜΙΚΟΥ ΠΕΡ/ΝΤΟΣ &amp; ΝΕΩΝ ΤΕΧΝΟΛΟΓΙΩΝ ΔΥΤ.ΕΛΛΑΔΑΣ(ΑΓΡΙΝΙΟ)</td><td>19</td></tr>
<tr><td>369</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΜΕ ΕΦΑΡΜΟΓΕΣ ΣΤΗΝ ΒΙΟΙΑΤΡΙΚΗ ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ (ΛΑΜΙΑ)</td><td>62</td></tr>
<tr><td>370</td><td>ΑΡΧΙΤΕΚΤΟΝΩΝ ΜΗΧ/ΚΩΝ  ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td><td>13</td></tr>
<tr><td>371</td><td>ΜΗΧΑΝΙΚΩΝ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>63</td></tr>
<tr><td>372</td><td>ΕΠΙΣΤΗΜΗΣ ΤΡΟΦΙΜΩΝ &amp; ΔΙΑΤΡΟΦΗΣ ΑΙΓΑΙΟΥ (ΛΗΜΝΟΣ)</td><td>14</td></tr>
<tr><td>373</td><td>ΠΟΛΙΤΙΚΩΝ ΕΠΙΣΤΗΜΩΝ ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>374</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>384</td><td>ΙΣΤΟΡΙΑΣ ΚΑΙ ΘΕΩΡΙΑΣ ΤΗΣ ΤΕΧΝΗΣ ΑΝΩΤ. ΣΧ. ΚΑΛΩΝ ΤΕΧΝΩΝ (ΑΘΗΝΑ)</td><td>67</td></tr>
<tr><td>385</td><td>ΞΕΝΩΝ ΓΛΩΣΣ. ΜΕΤΑΦΡ &amp; ΔΙΕΡΜ.ΙΟΝΙΟ-ΕΙΔ. ΜΕΤΑΦΡ.ή ΔΙΕΡΜ. (ΚΕΡΚΥΡΑ)</td><td>16</td></tr>
<tr><td>386</td><td>ΞΕΝΩΝ ΓΛΩΣΣ. ΜΕΤΑΦΡ &amp; ΔΙΕΡΜ.ΙΟΝΙΟ-ΕΙΔ. ΙΣΠΑΝ.ΓΛΩΣΣ.ΚΑΙ ΠΟΛΙΤ.(ΚΕΡΚΥΡΑ)</td><td>16</td></tr>
<tr><td>400</td><td>ΟΡΓΑΝΩΣΗΣ  ΚΑΙ  ΔΙΑΧΕΙΡΙΣΗΣ ΑΘΛΗΤΙΣΜΟΥ ΠΕΛΟΠΟΝΝΗΣΟΥ (ΣΠΑΡΤΗ)</td><td>18</td></tr>
<tr><td>401</td><td>ΕΠΙΣΤΗΜΗΣ ΦΥΣ.  ΑΓΩΓΗΣ &amp;  ΑΘΛΗΤΙΣΜΟΥ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>402</td><td>ΕΠΙΣΤ.ΦΥΣ.ΑΓΩΓ.ΚΑΙ ΑΘΛ. ΘΕΣ/ΝΙΚΗΣ (ΣΕΡΡΕΣ)</td><td>05</td></tr>
<tr><td>403</td><td>ΕΠΙΣΤ. ΦΥΣΙΚ.  ΑΓΩΓΗΣ  ΚΑΙ  ΑΘΛΗΤΙΣΜΟΥ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>404</td><td>ΕΠΙΣΤΗΜΗΣ ΦΥΣ.  ΑΓΩΓΗΣ &amp; ΑΘΛΗΤ.  ΘΡΑΚΗΣ (ΚΟΜΟΤΗΝΗ)</td><td>11</td></tr>
<tr><td>405</td><td>ΕΠΙΣΤ. ΦΥΣ. ΑΓΩΓΗΣ &amp; ΑΘΛΗΤΙΣΜΟΥ   ΘΕΣΣΑΛΙΑΣ (ΤΡΙΚΑΛΑ)</td><td>15</td></tr>
<tr><td>406</td><td>ΜΟΥΣΙΚΩΝ  ΣΠΟΥΔΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>407</td><td>ΜΟΥΣΙΚΩΝ  ΣΠΟΥΔΩΝ  ΙΟΝΙΟΥ (ΚΕΡΚΥΡΑ)</td><td>16</td></tr>
<tr><td>408</td><td>ΜΟΥΣΙΚΩΝ  ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>409</td><td>ΜΟΥΣΙΚΗΣ ΕΠΙΣΤΗΜΗΣ &amp; ΤΕΧΝΗΣ  ΜΑΚΕΔΟΝΙΑΣ (ΘΕΣ/ΝΙΚΗ)</td><td>08</td></tr>
<tr><td>411</td><td>ΠΟΛΙΤΙΚΗΣ ΕΠΙΣΤΗΜΗΣ &amp; ΔΙΕΘΝΩΝ ΣΧΕΣΕΩΝ ΠΕΛΟΠΟΝΝΗΣΟΥ(ΚΟΡΙΝΘΟΣ)</td><td>18</td></tr>
<tr><td>412</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΗΛΕΜΑΤΙΚΗΣ ΧΑΡΟΚΟΠΕΙΟΥ ΑΘΗΝΑΣ</td><td>17</td></tr>
<tr><td>413</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΑΘΗΝΑΣ</td><td>30</td></tr>
<tr><td>414</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>31</td></tr>
<tr><td>415</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΒΕΛΛΑΣ ΙΩΑΝΝΙΝΩΝ</td><td>32</td></tr>
<tr><td>416</td><td>ΠΡΟΓΡΑΜΜΑ ΙΕΡΑΤΙΚΩΝ ΣΠΟΥΔΩΝ ΗΡΑΚΛΕΙΟΥ ΚΡΗΤΗΣ</td><td>33</td></tr>
<tr><td>417</td><td>ΠΡΟΓΡΑΜΜΑ ΕΚΚΛΗΣΙΑΣΤΙΚΗΣ ΜΟΥΣΙΚΗΣ ΚΑΙ ΨΑΛΤΙΚΗΣ ΒΕΛΛΑΣ ΙΩΑΝΝΙΝΩΝ</td><td>32</td></tr>
<tr><td>418</td><td>ΠΡΟΓΡΑΜΜΑ ΕΚΚΛΗΣΙΑΣΤΙΚΗΣ ΜΟΥΣΙΚΗΣ ΚΑΙ ΨΑΛΤΙΚΗΣ ΗΡΑΚΛΕΙΟΥ ΚΡΗΤΗΣ</td><td>33</td></tr>
<tr><td>419</td><td>ΠΡΟΓΡΑΜΜΑ ΔΙΑΧΕΙΡΙΣΗΣ ΕΚΚΛΗΣΙΑΣΤΙΚΩΝ ΚΕΙΜΗΛΙΩΝ ΑΘΗΝΑΣ</td><td>01</td></tr>
<tr><td>420</td><td>ΠΡΟΓΡΑΜΜΑ ΔΙΑΧΕΙΡΙΣΗΣ ΕΚΚΛΗΣΙΑΣΤΙΚΩΝ ΚΕΙΜΗΛΙΩΝ ΘΕΣ/ΝΙΚΗΣ</td><td>05</td></tr>
<tr><td>443</td><td>ΠΟΛ.  ΕΡΓΩΝ    ΥΠΟΔΟΜΗΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>444</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΠΟΛΙΤΙΚΩΝ ΕΡΓΩΝ ΥΠΟΔΟΜΗΣ ΑΣΠΑΙΤΕ  ΑΘΗΝΑΣ</td><td>39</td></tr>
<tr><td>445</td><td>ΠΟΛ.  ΔΟΜΙΚΩΝ  ΕΡΓΩΝ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>447</td><td>ΠΟΛ.  ΕΡΓΩΝ    ΥΠΟΔΟΜΗΣ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>449</td><td>ΠΟΛ.   ΕΡΓΩΝ  ΥΠΟΔΟΜΗΣ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>451</td><td>ΠΟΛ.  ΕΡΓΩΝ    ΥΠΟΔΟΜΗΣ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>453</td><td>ΠΟΛ.  ΔΟΜΙΚΩΝ  ΕΡΓΩΝ  ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>455</td><td>ΠΟΛ. ΔΟΜΙΚΩΝ  ΕΡΓΩΝ   ΤΕΙ ΣΕΡΡΩΝ</td><td>50</td></tr>
<tr><td>456</td><td>ΠΟΛ. ΔΟΜΙΚΩΝ  ΕΡΓΩΝ   ΤΕΙ ΛΑΡΙΣΑΣ (ΤΡΙΚΑΛΑ)</td><td>43</td></tr>
<tr><td>457</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΠΟΛΙΤΙΚΩΝ ΔΟΜΙΚΩΝ ΕΡΓΩΝ ΑΣΠΑΙΤΕ  ΑΘΗΝΑΣ</td><td>39</td></tr>
<tr><td>461</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>465</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>467</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>469</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>471</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  ΤΕΙ ΚΑΒΑΛΑΣ</td><td>45</td></tr>
<tr><td>473</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>475</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  ΤΕΙ ΣΕΡΡΩΝ</td><td>50</td></tr>
<tr><td>476</td><td>ΜΗΧΑΝΙΚΩΝ  ΠΕΡΙΒΑΛΛΟΝΤΟΣ  ΘΡΑΚΗΣ (ΞΑΝΘΗ)</td><td>11</td></tr>
<tr><td>477</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΜΗΧΑΝΟΛΟΓΙΑΣ ΑΣΠΑΙΤΕ ΑΘΗΝΑΣ</td><td>39</td></tr>
<tr><td>479</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ  ΤΕΙ ΧΑΛΚΙΔΑΣ</td><td>48</td></tr>
<tr><td>480</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΙΑΤΡΙΚΩΝ  ΟΡΓΑΝΩΝ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>483</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>487</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>489</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>491</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>493</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΚΑΒΑΛΑΣ</td><td>45</td></tr>
<tr><td>495</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>497</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΗΛΕΚΤΡΟΛΟΓΙΑΣ ΑΣΠΑΙΤΕ ΑΘΗΝΑΣ</td><td>39</td></tr>
<tr><td>498</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΛΑΜΙΑΣ</td><td>60</td></tr>
<tr><td>499</td><td>ΗΛΕΚΤΡΟΛΟΓΙΑΣ  ΤΕΙ ΧΑΛΚΙΔΑΣ</td><td>48</td></tr>
<tr><td>501</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>503</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>505</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>506</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ  ΤΕΙ ΛΑΜΙΑΣ</td><td>60</td></tr>
<tr><td>507</td><td>ΕΚΠΑΙΔΕΥΤΙΚΩΝ ΗΛΕΚΤΡΟΝΙΚΗΣ ΑΣΠΑΙΤΕ ΑΘΗΝΑΣ</td><td>39</td></tr>
<tr><td>508</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΛΕΥΚΑΔΑ)</td><td>64</td></tr>
<tr><td>509</td><td>ΤΟΠΟΓΡΑΦΙΑΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>510</td><td>ΓΕΩΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΟΠΟΓΡΑΦΙΑΣ  ΤΕΙ ΣΕΡΡΩΝ</td><td>50</td></tr>
<tr><td>511</td><td>ΝΑΥΠΗΓΙΚΗΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>512</td><td>ΕΝΕΡΓΕΙΑΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>513</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΠΕΤΡΕΛΑΙΟΥ ΚΑΙ ΦΥΣΙΚΟΥ ΑΕΡΙΟΥ ΤΕΙ ΚΑΒΑΛΑΣ</td><td>45</td></tr>
<tr><td>514</td><td>ΤΕΧΝΟΛΟΓΙΩΝ ΑΝΤΙΡΡΥΠΑΝΣΗΣ  ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>515</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΤΡΟΦΙΜΩΝ   ΤΕΙ ΚΑΛΑΜΑΤΑΣ</td><td>53</td></tr>
<tr><td>516</td><td>ΟΧΗΜΑΤΩΝ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>517</td><td>ΤΕΧΝ.  ΓΡΑΦΙΚΩΝ  ΤΕΧΝΩΝ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>518</td><td>ΦΩΤΟΓΡΑΦΙΑΣ &amp; ΟΠΤΙΚΟΑΚΟΥΣΤΙΚΩΝ ΤΕΧΝΩΝ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>519</td><td>ΕΣΩΤΕΡΙΚΗΣ ΑΡΧΙΤΕΚΤΟΝΙΚΗΣ, ΔΙΑΚΟΣΜΗΣΗΣ &amp; ΣΧΕΔ.ΑΝΤΙΚΕΙΜΕΝΩΝ ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>520</td><td>ΣΥΝΤΗΡ. ΑΡΧΑΙΟΤ.&amp; ΕΡΓΩΝ ΤΕΧΝΗΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>521</td><td>ΓΡΑΦΙΣΤΙΚΗΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>522</td><td>ΣΧΕΔΙΑΣΜΟΥ &amp; ΤΕΧΝΟΛΟΓΙΑΣ ΞΥΛΟΥ &amp; ΕΠΙΠΛΟΥ ΤΕΙ ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td><td>43</td></tr>
<tr><td>523</td><td>ΑΝΑΚΑΙΝΙΣΗΣ ΚΑΙ ΑΠΟΚΑΤΑΣΤΑΣΗΣ ΚΤΙΡΙΩΝ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>524</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΜΕΣΩΝ ΜΑΖΙΚΗΣ ΕΝΗΜΕΡΩΣΗΣ ΤΕΙ ΠΑΤΡΑΣ (ΠΥΡΓΟΣ)</td><td>42</td></tr>
<tr><td>525</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡ. ΣΤΗ ΔΙΟΙΚΗΣΗ ΚΑΙ ΣΤΗΝ ΟΙΚΟΝΟΜΙΑ ΤΕΙ ΠΑΤΡΑΣ (ΑΜΑΛΙΑΔΑ)</td><td>42</td></tr>
<tr><td>526</td><td>ΕΜΠΟΡΙΑΣ   &amp;  ΔΙΑΦΗΜΙΣΗΣ  ΤΕΙ ΚΡΗΤΗΣ (ΙΕΡΑΠΕΤΡΑ)</td><td>44</td></tr>
<tr><td>527</td><td>ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ ΚΑΙ ΑΣΦΑΛΙΣΤΙΚΗΣ ΤΕΙ ΚΡΗΤΗΣ (ΑΓ.ΝΙΚΟΛΑΟΣ)</td><td>44</td></tr>
<tr><td>528</td><td>ΑΡΧΙΤΕΚΤΟΝΙΚΗΣ ΤΟΠΙΟΥ ΤΕΙ ΚΑΒΑΛΑΣ (ΔΡΑΜΑ)</td><td>45</td></tr>
<tr><td>529</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΤΕΙ ΚΑΛΑΜΑΤΑΣ(ΣΠΑΡΤΗ)</td><td>53</td></tr>
<tr><td>530</td><td>ΕΠΙΧΕΙΡΗΣΙΑΚΗΣ ΠΛΗΡΟΦΟΡΙΚΗΣ  ΤΕΙ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΓΡΕΒΕΝΑ)</td><td>46</td></tr>
<tr><td>531</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>532</td><td>ΦΥΣΙΚΩΝ ΠΟΡΩΝ ΚΑΙ ΠΕΡΙΒΑΛΛΟΝΤΟΣ  ΤΕΙ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td><td>44</td></tr>
<tr><td>533</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ ΤΕΙ  ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>535</td><td>ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>536</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ ΤΕΙ  ΚΑΛΑΜΑΤΑΣ</td><td>53</td></tr>
<tr><td>537</td><td>ΦΥΤΙΚΗΣ      ΠΑΡΑΓΩΓΗΣ ΤΕΙ  ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td><td>46</td></tr>
<tr><td>538</td><td>ΦΥΤΙΚΗΣ ΠΑΡΑΓΩΓΗΣ ΤΕΙ ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td><td>59</td></tr>
<tr><td>539</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>540</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ ΤΕΙ ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td><td>59</td></tr>
<tr><td>541</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>542</td><td>ΖΩΙΚΗΣ ΠΑΡΑΓΩΓΗΣ ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΦΛΩΡΙΝΑ)</td><td>46</td></tr>
<tr><td>543</td><td>ΑΓΡΟΤΙΚΗΣ ΑΝΑΠΤ. &amp; ΔΙΟΙΚ. ΑΓΡΟΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ ΤΕΙ ΘΕΣΣΑΛΟΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>544</td><td>ΜΗΧΑΝΟΛΟΓΙΑΣ &amp; ΥΔΑΤΙΝΩΝ ΠΟΡΩΝ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td><td>51</td></tr>
<tr><td>545</td><td>ΜΗΧΑΝΙΚΗΣ ΒΙΟΣΥΣΤΗΜΑΤΩΝ   ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>546</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΒΙΟΛΟΓΙΚΗΣ ΓΕΩΡΓΙΑΣ &amp; ΤΡΟΦΙΜΩΝ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΑΡΓΟΣΤΟΛΙ)</td><td>64</td></tr>
<tr><td>547</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΑΛΙΕΙΑΣ - ΥΔΑΤΟΚΑΛΛΙΕΡΓΕΙΩΝ ΤΕΙ ΘΕΣ/ΝΙΚΗΣ (ΜΟΥΔΑΝΙΑ)</td><td>41</td></tr>
<tr><td>548</td><td>ΙΧΘΥΟΚΟΜΙΑΣ - ΑΛΙΕΙΑΣ ΤΕΙ ΗΠΕΙΡΟΥ (ΗΓΟΥΜΕΝΙΤΣΑ)</td><td>59</td></tr>
<tr><td>549</td><td>ΤΥΠΟΠΟΙΗΣΗΣ ΚΑΙ ΔΙΑΚΙΝΗΣΗΣ ΠΡΟΪΟΝΤΩΝ ΤΕΙ ΘΕΣ/ΝΙΚΗΣ  (ΚΑΤΕΡΙΝΗ)</td><td>41</td></tr>
<tr><td>550</td><td>ΔΑΣΟΠΟΝΙΑΣ &amp; ΔΙΑΧ. ΦΥΣΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΤΕΙ  ΚΑΒΑΛΑΣ (ΔΡΑΜΑ)</td><td>45</td></tr>
<tr><td>551</td><td>ΔΑΣΟΠΟΝΙΑΣ &amp; ΔΙΑΧ. ΦΥΣΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΤΕΙ ΛΑΜΙΑΣ (ΚΑΡΠΕΝΗΣΙ)</td><td>60</td></tr>
<tr><td>552</td><td>ΒΙΟΛΟΓΙΚΩΝ ΘΕΡΜ. ΚΑΛΛ. &amp;  ΑΝΘΟΚΟΜΙΑΣ ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>553</td><td>ΔΑΣΟΠΟΝΙΑΣ &amp; ΔΙΑΧ. ΦΥΣΙΚΟΥ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΤΕΙ ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td><td>43</td></tr>
<tr><td>554</td><td>ΒΙΟΛΟΓΙΚΩΝ ΘΕΡΜ.  ΚΑΛΛ. &amp;  ΑΝΘΟΚΟΜΙΑΣ  ΤΕΙ  ΚΑΛΑΜΑΤΑΣ</td><td>53</td></tr>
<tr><td>555</td><td>ΥΔΑΤΟΚΑΛΛΙΕΡΓΕΙΩΝ &amp; ΑΛΙΕΥΤΙΚΗΣ ΔΙΑΧΕΙΡΙΣΗΣ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td><td>51</td></tr>
<tr><td>556</td><td>ΑΝΘΟΚΟΜΙΑΣ - ΑΡΧΙΤΕΚΤ. ΤΟΠΙΟΥ ΤΕΙ ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td><td>59</td></tr>
<tr><td>557</td><td>ΘΕΡΜ.  ΚΑΛΛ.  &amp;   ΑΝΘΟΚΟΜΙΑΣ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td><td>51</td></tr>
<tr><td>558</td><td>ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΩΝ ΕΦΑΡΜΟΓΩΝ  ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>559</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>561</td><td>ΛΟΓΙΣΤΙΚΗΣ ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>563</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>565</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>567</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>569</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΚΑΒΑΛΑΣ</td><td>45</td></tr>
<tr><td>571</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>575</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΣΕΡΡΩΝ</td><td>50</td></tr>
<tr><td>577</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΧΑΛΚΙΔΑΣ</td><td>48</td></tr>
<tr><td>578</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΗΠΕΙΡΟΥ ( ΠΡΕΒΕΖΑ)</td><td>59</td></tr>
<tr><td>579</td><td>ΛΟΓΙΣΤΙΚΗΣ  ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td><td>51</td></tr>
<tr><td>580</td><td>ΔΙΕΘΝΟΥΣ  ΕΜΠΟΡΙΟΥ ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΑΣΤΟΡΙΑ)</td><td>46</td></tr>
<tr><td>581</td><td>ΕΜΠΟΡΙΑΣ   &amp;  ΔΙΑΦΗΜΙΣΗΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>582</td><td>ΔΙΟΙΚΗΣΗΣ ΚΑΙ ΔΙΑΧΕΙΡΙΣΗΣ ΕΡΓΩΝ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>583</td><td>ΕΜΠΟΡΙΑΣ   &amp;  ΔΙΑΦ/ΣΗΣ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>584</td><td>ΤΟΠΙΚΗΣ   ΑΥΤΟΔ/ΣΗΣ   ΤΕΙ ΚΑΛΑΜΑΤΑΣ</td><td>53</td></tr>
<tr><td>585</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>586</td><td>ΔΙΑΧΕΙΡΙΣΗΣ ΠΛΗΡΟΦΟΡΙΩΝ  ΤΕΙ ΚΑΒΑΛΑΣ</td><td>45</td></tr>
<tr><td>587</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΚΑΒΑΛΑΣ</td><td>45</td></tr>
<tr><td>589</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>590</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΛΗΞΟΥΡΙ)</td><td>64</td></tr>
<tr><td>591</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>592</td><td>ΒΙΟΜΗΧΑΝΙΚΟΥ ΣΧΕΔΙΑΣΜΟΥ  ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>593</td><td>ΔΙΟΙΚΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ   ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>594</td><td>ΔΙΟΙΚ. ΜΟΝΑΔΩΝ ΥΓΕΙΑΣ  &amp;  ΠΡΟΝΟΙΑΣ  ΤΕΙ ΚΑΛΑΜΑΤΑΣ</td><td>53</td></tr>
<tr><td>595</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΣΕΡΡΩΝ</td><td>50</td></tr>
<tr><td>596</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>597</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΧΑΛΚΙΔΑΣ</td><td>48</td></tr>
<tr><td>598</td><td>ΔΙΟΙΚΗΣΗΣ ΚΟΙΝΩΝΙΚΩΝ-ΣΥΝΕΤΑΙΡΙΣΤΙΚΩΝ ΕΠΙΧ &amp; ΟΡΓΑΝ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td><td>51</td></tr>
<tr><td>599</td><td>ΒΙΒΛΙΟΘΗΚΟΝΟΜΙΑΣ &amp; ΣΥΣΤΗΜΑΤΩΝ ΠΛΗΡΟΦΟΡΗΣΗΣ ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>601</td><td>ΒΙΒΛΙΟΘΗΚΟΝΟΜΙΑΣ &amp; ΣΥΣΤΗΜΑΤΩΝ ΠΛΗΡΟΦΟΡΗΣΗΣ ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>602</td><td>ΕΦΑΡΜ. ΞΕΝ. ΓΛΩΣ. ΣΤΗ ΔΙΟΙΚ.ΚΑΙ ΣΤΟ ΕΜΠΟΡ. ΤΕΙ ΗΠΕΙΡΟΥ (ΗΓΟΥΜΕΝΙΤΣΑ)</td><td>59</td></tr>
<tr><td>603</td><td>ΤΟΥΡΙΣΤΙΚΩΝ    ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>604</td><td>ΤΟΥΡΙΣΤΙΚΩΝ    ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΠΕΙΡΑΙΑ (ΣΠΕΤΣΕΣ)</td><td>47</td></tr>
<tr><td>605</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>607</td><td>ΤΟΥΡΙΣΤΙΚΩΝ    ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>609</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>610</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΗΠΕΙΡΟΥ (ΗΓΟΥΜΕΝΙΤΣΑ)</td><td>59</td></tr>
<tr><td>611</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>613</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΑΓΓΕΛΜΑΤΩΝ ΡΟΔΟΥ (ΑΣΤΕΡ)</td><td>52</td></tr>
<tr><td>614</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΑΓΓΕΛΜΑΤΩΝ ΑΓ.ΝΙΚΟΛΑΟΥ ΚΡΗΤΗΣ (ΑΣΤΕΑΝ)</td><td>61</td></tr>
<tr><td>615</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>616</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΠΑΤΡΑΣ (ΑΙΓΙΟ)</td><td>42</td></tr>
<tr><td>617</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>618</td><td>ΛΟΓΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>619</td><td>ΕΡΓΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>620</td><td>ΛΟΓΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΗΠΕΙΡΟΥ (ΙΩΑΝΝΙΝΑ)</td><td>59</td></tr>
<tr><td>621</td><td>ΙΑΤΡΙΚΩΝ    ΕΡΓΑΣΤΗΡΙΩΝ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>623</td><td>ΙΑΤΡΙΚΩΝ    ΕΡΓ/ΡΙΩΝ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>625</td><td>ΙΑΤΡΙΚΩΝ    ΕΡΓ/ΡΙΩΝ  ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>627</td><td>ΡΑΔΙΟΛΟΓΙΑΣ    ΑΚΤΙΝΟΛΟΓΙΑΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>628</td><td>ΔΙΑΤΡΟΦΗΣ &amp; ΔΙΑΙΤΟΛΟΓΙΑΣ ΤΕΙ ΚΡΗΤΗΣ (ΣΗΤΕΙΑ)</td><td>44</td></tr>
<tr><td>629</td><td>ΟΔΟΝΤΙΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>631</td><td>ΔΙΟΙΚ. ΜΟΝ. ΥΓΕΙΑΣ &amp; ΠΡΟΝΟΙΑΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>633</td><td>ΔΗΜΟΣΙΑΣ   ΥΓΙΕΙΝΗΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>635</td><td>ΟΠΤΙΚΗΣ ΚΑΙ ΟΠΤΟΜΕΤΡΙΑΣ ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>637</td><td>ΑΙΣΘΗΤΙΚΗΣ &amp; ΚΟΣΜΗΤΟΛΟΓΙΑΣ ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>639</td><td>ΑΙΣΘΗΤΙΚΗΣ &amp; ΚΟΣΜΗΤΟΛΟΓΙΑΣ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>641</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΕΡΓΑΣΙΑΣ ΤΕΙ  ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>643</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΕΡΓΑΣΙΑΣ ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>644</td><td>ΜΟΥΣΙΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ ΚΑΙ ΑΚΟΥΣΤΙΚΗΣ ΤΕΙ ΚΡΗΤΗΣ (ΡΕΘΥΜΝΟ)</td><td>44</td></tr>
<tr><td>645A</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>645B</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>647</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>649</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ  ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>651</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ  ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>652</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ  ΛΑΜΙΑΣ</td><td>60</td></tr>
<tr><td>653</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>654</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ  ΗΠΕΙΡΟΥ (ΙΩΑΝΝΙΝΑ)</td><td>59</td></tr>
<tr><td>655</td><td>ΜΑΙΕΥΤΙΚΗΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>657</td><td>ΜΑΙΕΥΤΙΚΗΣ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>659</td><td>ΦΥΣΙΚΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΛΑΜΙΑΣ</td><td>60</td></tr>
<tr><td>661</td><td>ΚΟΙΝΩΝΙΚΗΣ  ΕΡΓΑΣΙΑΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>662</td><td>ΜΑΙΕΥΤΙΚΗΣ ΤΕΙ  ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>663</td><td>ΛΟΓΟΘΕΡΑΠΕΙΑΣ ΤΕΙ  ΚΑΛΑΜΑΤΑΣ</td><td>53</td></tr>
<tr><td>667</td><td>ΕΠΙΣΚΕΠΤΩΝ &amp; ΕΠΙΣΚΕΠΤΡΙΩΝ ΥΓΕΙΑΣ ΤΕΙ  ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>690</td><td>ΠΡΟΣΧΟΛΙΚΗΣ ΑΓΩΓΗΣ ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>692</td><td>ΒΡΕΦΟΝΗΠΙΟΚΟΜΙΑΣ ΤΕΙ  ΗΠΕΙΡΟΥ (ΙΩΑΝΝΙΝΑ)</td><td>59</td></tr>
<tr><td>694</td><td>ΒΡΕΦΟΝΗΠΙΟΚΟΜΙΑΣ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>696</td><td>ΛΑΙΚΗΣ &amp; ΠΑΡΑΔΟΣΙΑΚΗΣ ΜΟΥΣΙΚΗΣ ΤΕΙ ΗΠΕΙΡΟΥ (ΑΡΤΑΣ)</td><td>59</td></tr>
<tr><td>697</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΗΧΟΥ &amp; ΜΟΥΣΙΚΩΝ ΟΡΓΑΝΩΝ  ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΛΗΞΟΥΡΙ)</td><td>64</td></tr>
<tr><td>698</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΕΡΙΒΑΛΛΟΝΤΟΣ &amp; ΟΙΚΟΛΟΓΙΑΣ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΖΑΚΥΝΘΟ)</td><td>64</td></tr>
<tr><td>701</td><td>ΚΛΩΣΤΟΫΦ/ΓΙΑΣ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>703</td><td>ΣΧΕΔ.&amp;ΠΑΡΑΓ. ΕΝΔΥΜΑΤΩΝ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ (ΚΙΛΚΙΣ)</td><td>41</td></tr>
<tr><td>705</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  ΤΕΙ ΛΑΜΙΑΣ</td><td>60</td></tr>
<tr><td>709</td><td>ΗΛΕΚΤΡΟΝΙΚΗΣ  ΤΕΙ ΚΡΗΤΗΣ (ΧΑΝΙΑ)</td><td>44</td></tr>
<tr><td>710</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΤΕΙ ΗΠΕΙΡΟΥ (ΑΡΤΑ)</td><td>59</td></tr>
<tr><td>711</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>712</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>713</td><td>ΗΛ/ΚΩΝ  ΥΠΟΛΟΓ/ΚΩΝ   ΣΥΣΤΗΜΑΤΩΝ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>714</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>715</td><td>ΔΙΟΙΚΗΣΗΣ  ΕΠΙΧΕΙΡΗΣΕΩΝ  ΤΕΙ ΠΕΙΡΑΙΑ</td><td>47</td></tr>
<tr><td>716</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΤΡΟΦΙΜΩΝ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>717</td><td>ΤΕΧΝΟΛ.  ΤΡΟΦΙΜΩΝ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>718</td><td>ΟΙΝΟΛΟΓΙΑΣ &amp;ΤΕΧΝΟΛΟΓΙΑΣ  ΠΟΤΩΝ  ΤΕΙ ΑΘΗΝΑΣ</td><td>40</td></tr>
<tr><td>719</td><td>ΔΙΑΤΡΟΦΗΣ &amp; ΔΙΑΙΤΟΛΟΓΙΑΣ ΤΕΙ  ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>720</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  ΤΕΙ ΘΕΣ/ΝΙΚΗΣ</td><td>41</td></tr>
<tr><td>721</td><td>ΓΕΩΤΕΧΝΟΛΟΓΙΑΣ ΚΑΙ ΠΕΡΙΒΑΛΛΟΝΤΟΣ ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΟΖΑΝΗ)</td><td>46</td></tr>
<tr><td>722</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  ΤΕΙ ΧΑΛΚΙΔΑΣ</td><td>48</td></tr>
<tr><td>723</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΠΛΗΡΟΦΟΡΙΚΗΣ &amp; ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ   ΤΕΙ ΛΑΡΙΣΑΣ</td><td>43</td></tr>
<tr><td>724</td><td>ΒΙΟΜΗΧΑΝΙΚΗ ΠΛΗΡΟΦΟΡΙΚΗ  ΤΕΙ ΚΑΒΑΛΑΣ</td><td>45</td></tr>
<tr><td>725</td><td>ΕΦΑΡΜΟΣΜΕΝΗΣ ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΠΟΛΥΜΕΣΩΝ ΤΕΙ ΚΡΗΤΗΣ (ΗΡΑΚΛΕΙΟ)</td><td>44</td></tr>
<tr><td>726</td><td>ΕΜΠΟΡ. ΚΑΙ ΠΟΙΟΤ. ΕΛΕΓΧΟΥ ΑΓΡΟΤ. ΠΡΟΙΟΝΤΩΝ ΤΕΙ ΔΥΤ. ΜΑΚΕΔ.(ΦΛΩΡΙΝΑ)</td><td>46</td></tr>
<tr><td>727</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΕΠΙΚΟΙΝΩΝΙΩΝ  ΤΕΙ ΣΕΡΡΩΝ</td><td>50</td></tr>
<tr><td>728</td><td>ΕΠΙΧΕΙΡΗΜΑΤΙΚΟΥ ΣΧΕΔΙΑΣΜΟΥ ΚΑΙ ΠΛΗΡΟΦΟΡΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ  ΤΕΙ ΠΑΤΡΑΣ</td><td>42</td></tr>
<tr><td>729</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡΙΚΗΣ ΣΤΗ ΔΙΟΙΚΗΣΗ ΚΑΙ ΣΤΗΝ ΟΙΚΟΝΟΜΙΑ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td><td>51</td></tr>
<tr><td>730</td><td>ΔΗΜΟΣΙΩΝ ΣΧΕΣΕΩΝ ΚΑΙ ΕΠΙΚΟΙΝΩΝΙΑΣ ΤΕΙ ΔΥΤ. ΜΑΚΕΔΟΝΙΑΣ (ΚΑΣΤΟΡΙΑ)</td><td>46</td></tr>
<tr><td>731</td><td>ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ ΚΑΙ ΕΛΕΓΚΤΙΚΗΣ ΤΕΙ ΚΑΛΑΜΑΤΑΣ</td><td>53</td></tr>
<tr><td>732</td><td>ΧΡΗΜΑΤΟΟΙΚΟΝΟΜΙΚΗΣ ΚΑΙ ΕΛΕΓΚΤΙΚΗΣ ΤΕΙ ΗΠΕΙΡΟΥ (ΠΡΕΒΕΖΑ)</td><td>59</td></tr>
<tr><td>733</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡ. ΣΤΗ ΔΙΟΙΚΗΣΗ &amp; ΣΤΗΝ ΟΙΚΟΝ. ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ(ΛΕΥΚΑΔΑ)</td><td>64</td></tr>
<tr><td>734</td><td>ΕΦΑΡΜ. ΠΛΗΡΟΦΟΡ. ΣΤΗ ΔΙΟΙΚΗΣΗ ΚΑΙ ΣΤΗΝ ΟΙΚΟΝΟΜΙΑ ΤΕΙ ΔΥΤ.ΜΑΚ.(ΓΡΕΒΕΝΑ)</td><td>46</td></tr>
<tr><td>735</td><td>ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ ΤΕΙ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ(ΚΑΣΤΟΡΙΑ)</td><td>46</td></tr>
<tr><td>736</td><td>ΤΗΛΕΠΙΚΟΙΝΩΝΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ &amp; ΔΙΚΤΥΩΝ ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ (ΝΑΥΠΑΚΤΟΣ)</td><td>51</td></tr>
<tr><td>737</td><td>ΤΕΧΝΟΛΟΓΙΑΣ ΑΕΡΟΣΚΑΦΩΝ ΤΕΙ ΧΑΛΚΙΔΑΣ</td><td>48</td></tr>
<tr><td>738</td><td>ΑΝΑΚΑΙΝΙΣΗΣ ΚΑΙ ΑΠΟΚΑΤΑΣΤΑΣΗΣ ΚΤΙΡΙΩΝ  ΤΕΙ ΛΑΡΙΣΑΣ (ΤΡΙΚΑΛΑ)</td><td>43</td></tr>
<tr><td>739</td><td>ΤΕΧΝΟΛΟΓΙΑΣ  ΤΡΟΦΙΜΩΝ  ΤΕΙ ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td><td>43</td></tr>
<tr><td>740</td><td>ΔΙΟΙΚΗΣΗΣ ΣΥΣΤΗΜΑΤΩΝ ΕΦΟΔΙΑΣΜΟΥ ΤΕΙ ΧΑΛΚΙΔΑΣ (ΘΗΒΑ)</td><td>48</td></tr>
<tr><td>741</td><td>ΔΗΜΟΣΙΩΝ ΣΧΕΣΕΩΝ &amp; ΕΠΙΚΟΙΝΩΝΙΑΣ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΑΡΓΟΣΤΟΛΙ)</td><td>64</td></tr>
<tr><td>742</td><td>ΟΠΤΙΚΗΣ ΚΑΙ ΟΠΤΟΜΕΤΡΙΑΣ ΤΕΙ ΠΑΤΡΑΣ (ΑΙΓΙΟ)</td><td>42</td></tr>
<tr><td>743</td><td>ΜΟΥΣΕΙΟΛΟΓΙΑΣ, ΜΟΥΣΕΙΟΓΡΑΦΙΑΣ ΚΑΙ ΣΧΕΔΙΑΣΜΟΥ ΕΚΘΕΣΕΩΝ ΠΑΤΡΑΣ (ΠΥΡΓΟΣ)</td><td>42</td></tr>
<tr><td>744</td><td>ΝΟΣΗΛΕΥΤΙΚΗΣ ΤΕΙ ΚΑΒΑΛΑΣ (ΔΙΔΥΜΟΤΕΙΧΟ)</td><td>45</td></tr>
<tr><td>745</td><td>ΕΜΠΟΡΙΑΣ &amp; ΔΙΑΦΗΜΙΣΗΣ ΤΕΙ ΛΑΜΙΑΣ(ΑΜΦΙΣΣΑ)</td><td>60</td></tr>
<tr><td>746</td><td>ΕΜΠΟΡΙΑΣ &amp; ΔΙΑΦΗΜΙΣΗΣ ΤΕΙ ΠΑΤΡΑΣ (ΑΜΑΛΙΑΔΑ)</td><td>42</td></tr>
<tr><td>747</td><td>ΔΙΑΤΡΟΦΗΣ &amp; ΔΙΑΙΤΟΛΟΓΙΑΣ ΤΕΙ ΛΑΡΙΣΑΣ (ΚΑΡΔΙΤΣΑ)</td><td>43</td></tr>
<tr><td>748</td><td>ΠΡΟΣΤΑΣΙΑΣ &amp; ΣΥΝΤΗΡΗΣΗΣ ΠΟΛ. ΚΛΗΡΟΝΟΜΙΑΣ ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ (ΖΑΚΥΝΘΟΣ)</td><td>64</td></tr>
<tr><td>749</td><td>ΔΙΟΙΚΗΣΗΣ ΣΥΣΤΗΜΑΤΩΝ ΕΦΟΔΙΑΣΜΟΥ ΤΕΙ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ (ΓΡΕΒΕΝΑ)</td><td>46</td></tr>
<tr><td>750</td><td>ΕΣΩΤΕΡΙΚΗΣ ΑΡΧΙΤΕΚΤΟΝΙΚΗΣ, ΔΙΑΚΟΣΜΗΣΗΣ &amp; ΣΧΕΔ.ΑΝΤΙΚΕΙΜΕΝΩΝ ΤΕΙ ΣΕΡΡΩΝ</td><td>50</td></tr>
<tr><td>751</td><td>ΕΠΙΧΕΙΡΗΜ. ΣΧΕΔΙΑΣΜΟΥ ΚΑΙ ΠΛΗΡΟΦ. ΣΥΣΤΗΜΑΤΩΝ  ΤΕΙ ΚΡΗΤΗΣ (ΑΓ.ΝΙΚΟΛΑΟΣ)</td><td>44</td></tr>
<tr><td>752</td><td>ΟΙΝΟΛΟΓΙΑΣ &amp; ΤΕΧΝΟΛΟΓΙΑΣ  ΠΟΤΩΝ  ΤΕΙ ΚΑΒΑΛΑΣ (ΔΡΑΜΑ)</td><td>45</td></tr>
<tr><td>753</td><td>ΑΥΤΟΜΑΤΙΣΜΟΥ  ΤΕΙ ΜΕΣΟΛΟΓΓΙΟΥ</td><td>51</td></tr>
<tr><td>801</td><td>ΕΥΕΛΠΙΔΩΝ (ΣΣΕ)-ΟΠΛΑ                                   ΓΕΝ.ΣΕΙΡΑ</td><td>25</td></tr>
<tr><td>806</td><td>ΕΥΕΛΠΙΔΩΝ (ΣΣΕ)-ΣΩΜΑΤΑ                                 ΓΕΝ.ΣΕΙΡΑ</td><td>25</td></tr>
<tr><td>811</td><td>ΝΑΥΤΙΚΩΝ  ΔΟΚΙΜΩΝ  (ΣΝΔ)  ΜΑΧΙΜΟΙ                      ΓΕΝ.ΣΕΙΡΑ</td><td>26</td></tr>
<tr><td>816</td><td>ΝΑΥΤΙΚΩΝ  ΔΟΚΙΜΩΝ  (ΣΝΔ)  ΜΗΧΑΝΙΚΟΙ                    ΓΕΝ.ΣΕΙΡΑ</td><td>26</td></tr>
<tr><td>817</td><td>ΣΧΟΛΗ ΠΛΟΙΑΡΧΩΝ ΕΜΠΟΡΙΚΟΥ ΝΑΥΤΙΚΟΥ                     ΓΕΝ.ΣΕΙΡΑ</td><td>65</td></tr>
<tr><td>818</td><td>ΣΧΟΛΗ ΜΗΧΑΝΙΚΩΝ ΕΜΠΟΡΙΚΟΥ ΝΑΥΤΙΚΟΥ                     ΓΕΝ.ΣΕΙΡΑ</td><td>65</td></tr>
<tr><td>820</td><td>ΙΠΤΑΜΕΝΩΝ ΡΑΔΙΟΝΑΥΤΙΛΩΝ                                ΓΕΝ.ΣΕΙΡΑ</td><td>66</td></tr>
<tr><td>821</td><td>ΙΚΑΡΩΝ  (ΣΙ)  ΙΠΤΑΜΕΝΟΙ                                ΓΕΝ.ΣΕΙΡΑ</td><td>27</td></tr>
<tr><td>826</td><td>ΙΚΑΡΩΝ  (ΣΙ)  ΜΗΧΑΝΙΚΟΙ (ΣΜΑ)                          ΓΕΝ.ΣΕΙΡΑ</td><td>27</td></tr>
<tr><td>827</td><td>ΙΚΑΡΩΝ  (ΣΙ)  ΕΛΕΓΚΤΩΝ ΑΕΡΑΜΥΝΑΣ                       ΓΕΝ.ΣΕΙΡΑ</td><td>27</td></tr>
<tr><td>831</td><td>ΙΑΤΡΙΚΟ (ΣΣΑΣ) ΘΕΣ/ΝΙΚΗΣ                               ΓΕΝ.ΣΕΙΡΑ</td><td>28</td></tr>
<tr><td>836</td><td>ΟΔΟΝΤΙΑΤΡΙΚΟ (ΣΣΑΣ) ΘΕΣ/ΝΙΚΗΣ                          ΓΕΝ.ΣΕΙΡΑ</td><td>28</td></tr>
<tr><td>841</td><td>ΚΤΗΝΙΑΤΡΙΚΟ  (ΣΣΑΣ)  ΘΕΣ/ΚΗΣ                           ΓΕΝ.ΣΕΙΡΑ</td><td>28</td></tr>
<tr><td>846</td><td>ΦΑΡΜΑΚΕΥΤΙΚΟ  (ΣΣΑΣ)  ΘΕΣ/ΚΗ                           ΓΕΝ.ΣΕΙΡΑ</td><td>28</td></tr>
<tr><td>851</td><td>ΑΞΙΩΜΑΤΙΚΩΝ ΝΟΣΗΛ.(ΣΑΝ)                                ΓΕΝ.ΣΕΙΡΑ</td><td>29</td></tr>
<tr><td>861</td><td>ΤΕΧΝΙΚΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ  ΑΕΡΟΠΟΡΙΑΣ (Σ.Τ.Υ.Α)          ΓΕΝ.ΣΕΙΡΑ</td><td>54</td></tr>
<tr><td>862</td><td>ΜΟΝΙΜΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΣΤΡΑΤΟΥ (Σ.Μ.Υ) - ΟΠΛΑ          ΓΕΝ.ΣΕΙΡΑ</td><td>55</td></tr>
<tr><td>863</td><td>ΜΟΝΙΜΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΣΤΡΑΤΟΥ (Σ.Μ.Υ) - ΣΩΜΑΤΑ        ΓΕΝ.ΣΕΙΡΑ</td><td>55</td></tr>
<tr><td>864</td><td>ΜΟΝΙΜΩΝ  ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΝΑΥΤΙΚΟΥ Σ.Μ.Υ.Ν                ΓΕΝ.ΣΕΙΡΑ</td><td>56</td></tr>
<tr><td>865</td><td>ΥΠΑΞΙΩΜΑΤΙΚΩΝ  ΔΙΟΙΚ. ΑΕΡΟΠΟΡΙΑΣ  (ΣΥΔ)                ΓΕΝ.ΣΕΙΡΑ</td><td>54</td></tr>
<tr><td>866</td><td>ΣΤΡΑΤΟΛΟΓΙΚΟ  (ΣΣΑΣ)  ΘΕΣ/ΝΙΚΗ                         ΓΕΝ.ΣΕΙΡΑ</td><td>28</td></tr>
<tr><td>867</td><td>ΟΙΚΟΝΟΜΙΚΟ  (ΣΣΑΣ) ΘΕΣ/ΝΙΚΗ                            ΓΕΝ.ΣΕΙΡΑ</td><td>28</td></tr>
<tr><td>869</td><td>ΑΞΙΩΜΑΤΙΚΩΝ ΕΛΛΗΝΙΚΗΣ  ΑΣΤΥΝΟΜΙΑΣ                      ΓΕΝ.ΣΕΙΡΑ</td><td>57</td></tr>
<tr><td>870</td><td>ΑΣΤΥΦΥΛΑΚΩΝ                                            ΓΕΝ.ΣΕΙΡΑ</td><td>57</td></tr>
<tr><td>871</td><td>ΤΜΗΜΑ ΑΝΘΥΠΟΠΥΡΑΓΩΝ                                    ΓΕΝ.ΣΕΙΡΑ</td><td>58</td></tr>
<tr><td>872</td><td>ΑΞΙΩΜΑΤΙΚΩΝ ΕΛΛΗΝΙΚΗΣ  ΑΣΤΥΝΟΜΙΑΣ (ΑΣΤΥΝΟΜΙΚΟΙ)        ΓΕΝ.ΣΕΙΡΑ</td><td>57</td></tr>
<tr><td>875</td><td>ΨΥΧΟΛΟΓΩΝ     (ΣΣΑΣ)  ΘΕΣ/ΝΙΚΗ                         ΓΕΝ.ΣΕΙΡΑ</td><td>28</td></tr>
<tr><td>9996</td><td>ΕΙΚΑΣΤΙΚΩΝ ΚΑΙ ΕΦΑΡΜΟΣΜΕΝΩΝ ΤΕΧΝΩΝ</td><td>08</td></tr>
<tr><td>9997</td><td>ΕΙΚΑΣΤΙΚΩΝ ΤΕΧΝΩΝ</td><td>67</td></tr>
<tr><td>9998</td><td>ΕΙΚΑΣΤΙΚΩΝ ΚΑΙ ΕΦΑΡΜΟΣΜΕΝΩΝ ΤΕΧΝΩΝ</td><td>05</td></tr>
</table>

<p>
Στον παραπάνω πίνακα των τμημάτων, η στήλη «κωδικός ιδρύματος» αντιστοιχεί στον
παρακάτω πίνακα ιδρυμάτων· ο κωδικός αυτός δεν έχει σχέση με τις τιμές που
παίρνει το στοιχείο αλλά παρέχεται μόνο ως βοηθητικός ως προς τον ως άνω
πίνακα.
</p>

<table>
<tr>
  <th>Κωδικός</th>
  <th>Ονομασία</th>
</tr>
<tr><td>01</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΑΘΗΝΑΣ</td></tr>
<tr><td>02</td><td>ΕΘΝΙΚΟ ΜΕΤΣΟΒΙΟ ΠΟΛΥΤΕΧΝΕΙΟ (Ε.Μ.Π.)</td></tr>
<tr><td>03</td><td>ΓΕΩΠΟΝΙΚΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΑΘΗΝΑΣ</td></tr>
<tr><td>04</td><td>ΟΙΚΟΝΟΜΙΚΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΑΘΗΝΑΣ</td></tr>
<tr><td>05</td><td>ΑΡΙΣΤΟΤΕΛΕΙΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΘΕΣΣΑΛΟΝΙΚΗΣ</td></tr>
<tr><td>06</td><td>ΠΑΝΤΕΙΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΚΟΙΝΩΝΙΚΩΝ &amp; ΠΟΛΙΤΙΚΩΝ ΕΠΙΣΤΗΜΩΝ</td></tr>
<tr><td>07</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΠΕΙΡΑΙΑ</td></tr>
<tr><td>08</td><td>ΠΑΝΕΠΙΣΤ. ΜΑΚΕΔΟΝΙΑΣ ΟΙΚΟΝΟΜΙΚΩΝ &amp; ΚΟΙΝΩΝΙΚΩΝ ΕΠΙΣΤΗΜΩΝ</td></tr>
<tr><td>09</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΙΩΑΝΝΙΝΩΝ</td></tr>
<tr><td>10</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΠΑΤΡΑΣ</td></tr>
<tr><td>11</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΘΡΑΚΗΣ</td></tr>
<tr><td>12</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΚΡΗΤΗΣ</td></tr>
<tr><td>13</td><td>ΠΟΛΥΤΕΧΝΕΙΟ ΚΡΗΤΗΣ</td></tr>
<tr><td>14</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΑΙΓΑΙΟΥ</td></tr>
<tr><td>15</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΘΕΣΣΑΛΙΑΣ</td></tr>
<tr><td>16</td><td>ΙΟΝΙΟ ΠΑΝΕΠΙΣΤΗΜΙΟ</td></tr>
<tr><td>17</td><td>ΧΑΡΟΚΟΠΕΙΟ ΠΑΝΕΠΙΣΤΗΜΙΟ</td></tr>
<tr><td>18</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΠΕΛΟΠΟΝΝΗΣΟΥ</td></tr>
<tr><td>19</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΔΥΤ.ΕΛΛΑΔΑΣ</td></tr>
<tr><td>24</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΚΥΠΡΟΥ</td></tr>
<tr><td>25</td><td>ΣΤΡΑΤΙΩΤΙΚΗ ΣΧΟΛΗ ΕΥΕΛΠΙΔΩΝ (Σ.Σ.Ε.)</td></tr>
<tr><td>26</td><td>ΣΧΟΛΗ ΝΑΥΤΙΚΩΝ ΔΟΚΙΜΩΝ (Σ.Ν.Δ.)</td></tr>
<tr><td>27</td><td>ΣΧΟΛΗ ΙΚΑΡΩΝ (Σ.Ι.)</td></tr>
<tr><td>28</td><td>ΣΤΡΑΤΙΩΤΙΚΗ ΣΧΟΛΗ ΑΞΙΩΜΑΤΙΚΩΝ ΣΩΜΑΤΩΝ (Σ.Σ.Α.Σ.)</td></tr>
<tr><td>29</td><td>ΣΧΟΛΗ ΑΞΙΩΜΑΤΙΚΩΜ ΝΟΣΗΛΕΥΤΙΚΗΣ (Σ.Α.Ν.)</td></tr>
<tr><td>30</td><td>ΑΝΩΤΑΤΗ ΕΚΚΛΗΣΙΑΣΤΙΚΗ ΑΚΑΔΗΜΙΑ ΑΘΗΝΑΣ</td></tr>
<tr><td>31</td><td>ΑΝΩΤΑΤΗ ΕΚΚΛΗΣΙΑΣΤΙΚΗ ΑΚΑΔΗΜΙΑ ΘΕΣ/ΝΙΚΗΣ</td></tr>
<tr><td>32</td><td>ΑΝΩΤΑΤΗ ΕΚΚΛΗΣΙΑΣΤΙΚΗ ΑΚΑΔΗΜΙΑ ΒΕΛΛΑΣ ΙΩΑΝΝΙΝΩΝ</td></tr>
<tr><td>33</td><td>ΑΝΩΤΑΤΗ ΕΚΚΛΗΣΙΑΣΤΙΚΗ ΑΚΑΔΗΜΙΑ ΗΡΑΚΛΕΙΟΥ ΚΡΗΤΗΣ</td></tr>
<tr><td>39</td><td>ΑΣΠΑΙΤΕ/ΣΕΛΕΤΕ</td></tr>
<tr><td>40</td><td>ΤΕΙ ΑΘΗΝΑΣ</td></tr>
<tr><td>41</td><td>ΤΕΙ ΘΕΣΣΑΛΟΝΙΚΗΣ</td></tr>
<tr><td>42</td><td>ΤΕΙ ΠΑΤΡΑΣ</td></tr>
<tr><td>43</td><td>ΤΕΙ ΛΑΡΙΣΣΑΣ</td></tr>
<tr><td>44</td><td>ΤΕΙ ΚΡΗΤΗΣ</td></tr>
<tr><td>45</td><td>ΤΕΙ ΚΑΒΑΛΑΣ</td></tr>
<tr><td>46</td><td>ΤΕΙ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ</td></tr>
<tr><td>47</td><td>ΤΕΙ ΠΕΙΡΑΙΑ</td></tr>
<tr><td>48</td><td>ΤΕΙ ΧΑΛΚΙΔΑΣ</td></tr>
<tr><td>50</td><td>ΤΕΙ ΣΕΡΡΩΝ</td></tr>
<tr><td>51</td><td>ΤΕΙ ΜΕΣΟΛΛΟΓΙΟΥ</td></tr>
<tr><td>52</td><td>ΕΚΠΑΙΔΕΥΤΗΡΙΟ ΑΝΩΤΕΡΗΣ ΕΚΠΑΙΔΕΥΣΗΣ ΡΟΔΟΥ</td></tr>
<tr><td>53</td><td>ΤΕΙ ΚΑΛΑΜΑΤΑΣ</td></tr>
<tr><td>54</td><td>ΣΧΟΛΗ ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΠΟΛΕΜΙΚΗΣ ΑΕΡΟΠΟΡΙΑΣ</td></tr>
<tr><td>55</td><td>ΣΧΟΛΗ ΜΟΝΙΜΩΝ ΥΠΑΞΙΩΜΑΤΙΚΩΝ ΣΤΡΑΤΟΥ ΞΗΡΑΣ (Σ.Μ.Υ)</td></tr>
<tr><td>56</td><td>ΣΧΟΛΗ ΜΟΝΙΜΩΝ ΥΠΑΞΙΩΜΑΤ. ΠΟΛΕΜΙΚΟΥ ΝΑΥΤΙΚΟΥ (Σ.Μ.Υ.Ν.)</td></tr>
<tr><td>57</td><td>ΑΣΤΥΝΟΜΙΚΗ ΑΚΑΔΗΜΙΑ</td></tr>
<tr><td>58</td><td>ΠΥΡΟΣΒΕΣΤΙΚΗ ΑΚΑΔΗΜΙΑ</td></tr>
<tr><td>59</td><td>ΤΕΙ ΗΠΕΙΡΟΥ</td></tr>
<tr><td>60</td><td>ΤΕΙ ΛΑΜΙΑΣ</td></tr>
<tr><td>61</td><td>ΤΟΥΡΙΣΤΙΚΩΝ ΕΠΑΓΓΕΛΜΑΤΩΝ ΑΓ.ΝΙΚΟΛΑΟΥ(ΚΡΗΤΗΣ)</td></tr>
<tr><td>62</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ</td></tr>
<tr><td>63</td><td>ΠΑΝΕΠΙΣΤΗΜΙΟ ΔΥΤ.ΜΑΚΕΔΟΝΙΑΣ</td></tr>
<tr><td>64</td><td>ΤΕΙ ΙΟΝΙΩΝ ΝΗΣΩΝ</td></tr>
<tr><td>65</td><td>ΑΕΝ</td></tr>
<tr><td>66</td><td>ΙΠΤΑΜΕΝΩΝ ΡΑΔΙΟΝΑΥΤΙΛΩΝ (Σ.Ι.Ρ.)</td></tr>
<tr><td>67</td><td>ΑΝΩΤΑΤΗ ΣΧΟΛΗ ΚΑΛΩΝ ΤΕΧΝΩΝ (ΑΘΗΝΑΣ)</td></tr>
</table>

{% endblock %}
