{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="robots" content="ALL">
<meta name="revisit-after" content="30 days">
<title>{% block title %} GRNET: AAI Federation {% endblock %}</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" lang="el">
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link href="/static/overlib.css" rel="stylesheet" type="text/css">
</head>

<body>
<table class="holdingTable" border="0" cellpadding="0" cellspacing="0">
<tbody>
	<tr>
		<td rowspan="8" class="BGEb">&nbsp;</td>
		<td rowspan="8" valign="top">
		&nbsp;
		</td>
		<td colspan="3" id="topStrip"><img src="/static/images/s.gif" height="1" width="700" alt="divider" title="divider"></td>
		<td rowspan="8" ><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
		<td rowspan="8" class="BGEb">&nbsp;</td>
	</tr>
	<tr>
		<td width="1"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
		<td height="1">
			<table align="right" border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
					<td id="corner_white_on_grey_topx--"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
					<td rowspan="2" class="pageContents"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
				</tr>
				<tr>
					<td ><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
					<td class="pageContents"><img src="/static/images/s.gif" height="1" width="120" alt="divider" title="divider"></td>
				</tr>
			</tbody>
			</table>
		</td>
		<td id="corner_white_on_grey_top--x"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
	</tr>
	<tr>
		<td id="corner_white_on_grey_topx--"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
		<td class="pageContents"><img src="/static/images/s.gif" height="1" width="300" alt="divider" title="divider"></td>
		<td class="pageContents"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
	</tr>
	<tr>
		<td colspan="3" class="pageContents" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td width="20">&nbsp;</td>
					<td>
						<table >
						<tr>
							<td><a href="http://aai.grnet.gr"> <img src="/static/images/aai.gif" width="655" height="26" alt="aai" title="aai" border="0"></td>
						</tr>
						<tr>
							<td valign="top">
								<table border="0" cellpadding="2" cellspacing="0" width="100%" height="100%">
									<tr>
										<td valign="top"><a href="http://www.grnet.gr" target="_blank"><img src="/static/images/grnet.gif" border="0" width="85" height="94" alt="GRNET" title="GRNET"></a></td>
										<td width="100%" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
												<tr><td height="100%" valign="top" bgcolor="#D6D3D3"><div class="greyheader"><a style="text-decoration:none" href="/">{% trans "GRNET Federation<br />Authentication & Authorization Infrastructure" %}</a></div></td></tr>
												<tr><td valign="bottom" height="100%" ><div class="greysmallheader" ><a href="http://wayf.grnet.gr/">{% trans "Select your home institution" %}</a> :: <a href="/faq">{% trans "FAQ" %}</a> :: <a href="/help">{% trans "Help" %}</a> :: <a href="/privacy">{% trans "Privacy" %}</a></div></td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
<tr><td><br>
<h1>{% block header %}AAI{% endblock %}</h1>

<!--<div class="bluebox">-->
<div class="rbroundbox">
<div class="rbtop"><div></div></div>
<div class="rbcontent">
{% block content %}
{% endblock %}
</div><!-- /rbcontent -->
<div class="rbbot"><div></div></div>
</div><!-- /rbroundbox -->
<tr><td class="break">&nbsp;</td></tr>

<table border="0" cellpadding="1" cellspacing="0">
	<tr>
		<td valign="top" width="14"><img src="static/images/arrow-12.gif" width="12" height="12" alt="arrow"></td>
		<td valign="top">
			<p class="footer">{% trans "The Greek Research and Technology Network (GRNET) provides the Hellenic Academic, Research and Education community with advanced services, high-capacity national and international Internet connectivity, assisting the operation of all Universities, Technologial Educational Institutions and Research Institutes in Greece."%}</p>
		</td>
	</tr>
</table>

</td></tr>
</td>
</tr>
</tbody></table></tr>
<tr>
         <td id="corner_white_on_grey_bottomx--"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
         <td class="pageContents"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
         <td id="corner_white_on_grey_bottom--x"><img src="/static/images/s.gif" height="1" width="1" alt="divider" title="divider"></td>
</tr>
</tbody>
</table>
</body>
</html>
