{% extends "base.html" %}
{% load i18n %}
{% block header %}{% trans "FAQ" %}{% endblock %}
{% block content %}
<ul>
<li><b>I cannot log in or I forgot my password. Who can help me?</b>
<br />If your Home Organization is listed among the GRNET's federated organizations, then you can contact your Home Organization's helpdesk, where you can be assisted regarding your personal account. If no problem with your account is found, then you will have to contact the administrators of the service you are trying to access.</li>
<li><b>What are the available AAI-enabled services of GRNET's Federation?</b>
<br />The available services are listed in <a href="http://aai.grnet.gr">aai.grnet.gr</a>.</li>
<li><b>What should I do to create an account suitable for use with GRNET's AAI federation?</b>
<br>If your Home Organization is already a part of and has connected its users' accounts with GRNET's AAI federation, then no action is necessary from your part. Your username and password are those used for your Home Organization's services.</li>
</ul>
{% endblock %}
