{% extends "base.html" %}
{% load i18n %}
{% block header %}{% trans "Help" %}{% endblock %}
{% block content %}
<p>
Αν αντιμετωπίζετε κάποιο πρόβλημα στη χρήση των υποδομών AAI του ΕΔΕΤ, κι εφόσον ανήκετε σε οργανισμό-μέλος της Ομοσπονδίας, μπορείτε να επικοινωνήσετε με τα παρακάτω μέρη, ανάλογα το σημείο εμφάνισης του προβλήματος:
</p>
<ul>
<li><b>Αν το πρόβλημα εμφανίστηκε εντός των σελίδων της υπηρεσίας που θέλετε να χρησιμοποιήσετε</b> θα πρέπει να επικοινωνήσετε πρώτα με τους υπεύθυνους της υπηρεσίας, στις διευθύνσεις που τυχόν αναφέρονται στις ιστοσελίδες της υπηρεσίας.
<li>
<b>Αν το πρόβλημα εμφανίστηκε στις σελίδες ταυτοποίησης του δικού σας ιδρύματος</b> ή οργανισμού (που σας έχει παράσχει τον λογαριασμό πρόσβασης) θα πρέπει να επικοινωνήσετε με το helpdesk του ιδρύματός σας. Εκεί μπορούν να αντιμετωπιστούν διάφορα γενικά προβλήματα του λογαριασμού σας, όπως απώλεια ή αλλαγή password, αλλαγή στοιχείων κλπ.
<li>
<b>Αν το πρόβλημα εμφανίστηκε στην ενδιάμεση ιστοσελίδα <a href="http://wayf.grnet.gr">http://wayf.grnet.gr</a></b> μπορείτε να επικoινωνείτε με την διεύθυνση helpdesk@grnet.gr, ή το τηλέφωνο 800-11-GRNET για να αναφέρετε το πρόβλημα.
</ul>
{% endblock %}
