{% extends "base.html" %}
{% load i18n %}
{% block header %}{% trans "Privacy" %}{% endblock %}
{% block content %}
<p>
Η χρήση των υπηρεσιών της Ομοσπονδίας AAI του ΕΔΕΤ, γίνεται πάντα μέσω ενός
λογαριασμού πρόσβασης που διαθέτει ο χρήστης σε Οργανισμό-μέλος της
Ομοσπονδίας.
</p>
<p>
Κάθε Οργανισμός-μέλος της Ομοσπονδίας έχει υποχρέωση να προφυλάσει τα προσωπικά
δεδομένα των παραπάνω λογαριασμών από μη εξουσιοδοτημένη πρόσβαση.
</p>
<p>
Οι Οργανισμοί-μέλη που τηρούν λογαριασμούς πρόσβασης χρηστών, μετά από
προσωπική παρέμβαση του χρήστη και μόνο, σε κατάλληλη ιστοσελίδα τους, παρέχουν
ένα ελάχιστο απαιτούμενο απόσπασμα από τα προσωπικά δεδομένα του χρήστη σε
συστήματα υπηρεσιών άλλων μελών της Ομοσπονδίας, προκειμένου ο χρήστης να
αποκτήσει πρόσβαση σε αυτές.
</p>
<p>
Τα διάφορα συστήματα υπηρεσιών της Ομοσπονδίας, δεν απαιτούν ούτε χρησιμοποιούν
προσωπικά στοιχεία του χρήστη τα οποία δεν είναι απαραίτητα για την λειτουργία
τους.
</p>
<p>
Το ΕΔΕΤ και η Ομοσπονδία ΑΑΙ του ΕΔΕΤ σαν σύνολο, δεν είναι υπεύθυνη για την
τήρηση των παραπάνω υποχρεώσεων των μελών. Το ΕΔΕΤ και η Ομοσπονδία σαν σύνολο,
δεν διακινεί ούτε φυλάσσει δεδομένα των χρηστών. Η Ομοσπονδία απλά περιγράφει
ασφαλείς τρόπους ανταλλαγής δεδομένων ανάμεσα στα συμβαλόμενα μέλη της, πάντα
με την εντολή του ενδιαφερόμενου χρήστη. 
</p>
<p>
Η Ομοσπονδία λειτουργεί μέσα στα πλαίσια του νόμου περί προστασίας προσωπικών
δεδομένων. Οι συμμετέχοντες οργανισμοί στην Ομοσπονδία λειτουργούν υπό τα ίδια
πλαίσια.
</p>
{% endblock %}
