{% extends "base.html" %}
{% load i18n %}
{% block header %}{% trans "User support" %}{% endblock %}
{% block content %}
{% trans "A problem occured during shibboleth authentication. Please contact your home institution's staff in one of the following ways:" %}
<p>
<h4>{{ idpname }}</h4>
</p>
<ul>
{% if idp.contact.email %}
	<li>email: <a href="mailto:{{ idp.contact.email }}?subject={% trans "Shibboleth Authentication Issue" %}">{{ idp.contact.email }}</a></li>
{% endif %}
{% if idp.contact.telephone %}
	<li>{% trans "Telephone" %}: {{ idp.contact.telephone }}</li>
{% endif %}
</ul>
{% endblock %}
