{% extends "base.html" %}
{% load i18n %}
{% block title %}Select your Home Organization{% endblock %}
{% block header %}Select your Home Organization{% endblock %}
{% block content %}
<p>In order to proceed, you have to select your Home Organization from the list below.</p>

<div id="idpform">
<form id="idp_selection" method="post">
    {% csrf_token %}
	<select name="user_idp">
	{% include "idp_dropdown.html" %}
	</select>
	<input type="submit" value="{% trans "Confirm" %}" /><br />
</form>
<script>
  // Add on save function to form
  function remember(obj) {
      localStorage.setItem("user_idp", obj.options[obj.selectedIndex].value);
  }
  const select = document.getElementById("user_idp_select")
  select.value = ""+localStorage.getItem("user_idp")+""
  // for CSP reasons, cannot have this in onchange="remember(this)" form
  select.addEventListener('change', function() {remember(this)})
</script>
</div>

{% endblock %}
